{% extends "layout.html" %}
{% block pageTitle %}
Qustion for Preparing Food
{% endblock %}

{% block main %}

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Jane Doe</dt>
        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">QQ 12 34 56 C</dt>
        <strong class="govuk-tag govuk-tag--grey" id="tag">In review</strong>
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
      </div>
    </dl>
</section>

<div class="govuk-width-container">
    <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

  <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

<form action="summary" method="post" class="form">


            <h2 class="govuk-heading-l">Add an answer for {{ data['queriesPrepFood'][0].section }}</h2>

              <div class="govuk-form-group">
                    <h3 class="govuk-heading-m">Question</h3>


                  <p>{{ data['queriesPrepFood'][0].textBox }}</p>
            <h3 class="govuk-heading-m">
              Add an answer after contacting {{ data['queriesPrepFood'][0].action }}
            </h3>
            <div class="govuk-form-group">
                <input class="govuk-input" id="preparing-food-answer" name="preparing-food-answer" value="{{ data['preparing-food-answer'] }}" type="text">

            </div>

            {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: "answeredquestion",
                  name: "answered-question",
                  fieldset: {
                    legend: {
                      text: "Has this answered your question?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  items: [
                    {
                      value: "yes",
                      text: "Yes"
                    },
                    {
                      value: "no",
                      text: "No",
                      checked: "true"
                    }
                  ]
            }) }}


            {{ govukButton({
                text: "Save and continue"

            }) }}


</div>

        </form>
            </div>
</main>
</div>



{% endblock %}
