<h3 class="govuk-heading-m govuk-!-margin-bottom-2">Justification from the original decision</h3>


<p class="govuk-body govuk-!-margin-bottom-2">
He struggles all of the time due to his motivation.
</p>

<p class="govuk-body govuk-!-margin-bottom-2">
On his good days, he will cook whilst supported by his partner due to his disassociation and intrusive thoughts as well as his suicidal and self-harm ideation.
</p>

<p class="govuk-body govuk-!-margin-bottom-2">
He has tried to cut himself in the past whilst he has been helping in the kitchen.
</p>

<p class="govuk-body govuk-!-margin-bottom-8">
His good days are not very often, maybe 1-3 days a week on average. He struggles in general to stand for longer periods of time or if he is actively doing things in the kitchen, he would need to rest and sit down due to his EDS causing pain and fatigue. He has no other physical restrictions in the kitchen.
</p>
