
{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

 {% if data["application-selector"] == "A" %} {% include "explore-header-global-nav-multi-bail.html" %}
 {% else %}                                   {% include "explore-header-global-nav-multi.html" %}
 {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <form action="assurance-mm-tasklist" method="post" class="form">


    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-12/record-id.html" %}


      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">[Theme 1] Check the applicant's details</h2>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Claim attached is what the citizen submitted using AfPC. Do X Y and Z to check against the following tasks</p> -->




    </div>
  </div>


    <!------------ ––– ------------>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <ol class="app-task-list">
      <li>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">XXXX.</p>

      <ul class="app-task-list__items app-task-list__items-pip">


        {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-1-1",
  name: "assurance-sub-monolith-1-1",
  fieldset: {
    legend: {
      html: "Is there a potental SREL within the appliction data?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Places to check: PIP1, PIP2, PIPcs"
  },
  items: [
  {
    value: "Expected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-1-1"] == "Expected")
  },
  {
    value: "Unexpected",
    text: "No",
    checked: (data["assurance-sub-monolith-1-1"] == "Unexpected")
  }
  ]
}) }}


          {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-1-2",
  name: "assurance-sub-monolith-1-2",
  fieldset: {
    legend: {
      html: "Does the applicants Natonal insurance number match within SearchLight",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check details"
  },
  items: [
  {
    value: "Expected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-1-2"] == "Expected")
  },
  {
    value: "Unexpected",
    text: "No",
    checked: (data["assurance-sub-monolith-1-2"] == "Unexpected")
  }
  ]
}) }}

        {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-1-3",
  name: "assurance-sub-monolith-1-3",
  fieldset: {
    legend: {
      html: "Check 3: Action",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check details"
  },
  items: [
  {
    value: "Expected",
    text: "Expected",
    checked: (data["assurance-sub-monolith-1-3"] == "Expected")
  },
  {
    value: "Unexpected",
    text: "Unexpected",
    checked: (data["assurance-sub-monolith-1-3"] == "Unexpected")
  }
  ]
}) }}

        {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-1-4",
  name: "assurance-sub-monolith-1-4",
  fieldset: {
    legend: {
      html: "Check 4: Action",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check details"
  },
  items: [
  {
    value: "Expected",
    text: "Expected",
    checked: (data["assurance-sub-monolith-1-4"] == "Expected")
  },
  {
    value: "Unexpected",
    text: "Unexpected",
    checked: (data["assurance-sub-monolith-1-4"] == "Unexpected")
  },
  {
    value: "Unexpected",
    text: "Unexpected",
    checked: (data["assurance-sub-monolith-1-4"] == "Unexpected")
  },
  {
    value: "Unexpected",
    text: "Unexpected",
    checked: (data["assurance-sub-monolith-1-4"] == "Unexpected")
  }
  ]
}) }}

        {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-1-5",
  name: "assurance-sub-monolith-1-5",
  fieldset: {
    legend: {
      html: "Check 5: Action",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check details"
  },
  items: [
  {
    value: "Expected",
    text: "Expected",
    checked: (data["assurance-sub-monolith-1-5"] == "Expected")
  },
  {
    value: "Unexpexted",
    text: "Unexpexted",
    checked: (data["assurance-sub-monolith-1-5"] == "Unexpected")
  }
  ]
}) }}

{{ govukButton({
  text: "Return to tasklist",
  classes: "govuk-!-margin-bottom-8"
}) }}


        </div>
      </div>

  </form>

{% endblock %}
