{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-5-about" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-6/record-id.html" %}


          <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">Why have you added an brah
            {% include "agent-0-6/application-5-about-a6-scoreoverwrite.html" %}
          </h2>

            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">The grade will now be:

            {% if data["application-5-about-a6-score-overwrite"] == "a1" %}
              <strong>Descriptor A (0 points):</strong> Can dress and undress unaided
            {% elif data["application-5-about-a6-score-overwrite"] == "b2" %}
            <strong>Descriptor B (2 points):</strong> Needs to use an aid or appliance to be able to dress or undress
            {% elif data["application-5-about-a6-score-overwrite"] == "c3" %}

            <strong>Descriptor C (2 points):</strong> Needs either:

            <ul class="govuk-list govuk-!-padding-top-0 govuk-!-margin-bottom-0 govuk-list--bullet">
              <li>
                prompting to be able to dress, undress or determine appropriate circumstances for remaining clothed
              </li>
              <li>
                prompting or assistance to be able to select appropriate clothing
              </li>
            </ul>

            {% elseif data["application-5-about-a6-score-overwrite"] == "d4" %}
            <strong>Descriptor D (2 points):</strong> Needs assistance to be able to dress or undress their lower body
            {% elseif data["application-5-about-a6-score-overwrite"] == "e5" %}
            <strong>Descriptor E (4 points):</strong> Needs assistance to be able to dress or undress their upper body
            {% elseif data["application-5-about-a6-score-overwrite"] == "f6" %}
            <strong>Descriptor F (8 points):</strong> Cannot dress or undress at all
            {% endif %}

            </p>

      {{ govukTextarea({
        name: "application-5-about-a6-reason",
        id: "application-5-about-a6-reason",
        label: {
          text: "Why did you change the score?",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: ""
        }
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
