{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-5-about-a-autofill" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-6/record-id.html" %}

    <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">You have changed the descriptor of preparing food to
      {% if data["application-5-about-a1-score-overwrite"] == "a1" %}
        <strong>Descriptor A (0 points):</strong> Can prepare and cook a simple meal unaided
      {% elif data["application-5-about-a1-score-overwrite"] == "b2" %}
        <strong>Descriptor B (2 points):</strong> Needs to use an aid or appliance to be able to either prepare or cook a simple meal
      {% elif data["application-5-about-a1-score-overwrite"] == "c3" %}
        <strong>Descriptor C (2 points):</strong> Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave
      {% elseif data["application-5-about-a1-score-overwrite"] == "d4" %}
        <strong>Descriptor D (2 points):</strong> Needs prompting to be able to either prepare or cook a simple meal
      {% elseif data["application-5-about-a1-score-overwrite"] == "e5" %}
        <strong>Descriptor E (4 points):</strong> Needs supervision or assistance to either prepare or cook a simple meal
      {% elseif data["application-5-about-a1-score-overwrite"] == "f6" %}
        <strong>Descriptor F (8 points):</strong> Cannot prepare and cook food
      {% endif %}
    </h2>

      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">The grade will now be:

      {% if data["application-5-about-a1-score-overwrite"] == "a1" %}
        <strong>Descriptor A (0 points):</strong> Can prepare and cook a simple meal unaided
      {% elif data["application-5-about-a1-score-overwrite"] == "b2" %}
        <strong>Descriptor B (2 points):</strong> Needs to use an aid or appliance to be able to either prepare or cook a simple meal
      {% elif data["application-5-about-a1-score-overwrite"] == "c3" %}
        <strong>Descriptor C (2 points):</strong> Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave
      {% elseif data["application-5-about-a1-score-overwrite"] == "d4" %}
        <strong>Descriptor D (2 points):</strong> Needs prompting to be able to either prepare or cook a simple meal
      {% elseif data["application-5-about-a1-score-overwrite"] == "e5" %}
        <strong>Descriptor E (4 points):</strong> Needs supervision or assistance to either prepare or cook a simple meal
      {% elseif data["application-5-about-a1-score-overwrite"] == "f6" %}
        <strong>Descriptor F (8 points):</strong> Cannot prepare and cook food
      {% endif %}

      </p> -->

      {{ govukTextarea({
        name: "application-5-about-a1-reason",
        id: "application-5-about-a1-reason",
        label: {
          text: "Why did you change the descriptor?",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: ""
        }
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
