{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-5-about-a6-router" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "agent-0-6/record-id.html" %}

      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Dressing and undressing</h2>

      <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-6">Health information gather</h3>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Asked in application</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Tell us about difficulties you have dressing and undressing, and how you manage them</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Response in application</p>
          <p class="govuk-body govuk-!-margin-bottom-2">No response given as activity was not claimed for.</p>

<!--  --><hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-xm govuk-!-margin-bottom-6">Assessment report finding</h3>
          <p class="govuk-body govuk-!-margin-bottom-8">Nothing from the assessment report to support this activity.</p>

<!--  --><hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <!------------H1 LEGEND------------>
          {% set legenDetails %}
          <p class="govuk-body govuk-!-margin-bottom-2">
            <a class="" href="outbound-precall">Call the assessment provider</a> if you need help understanding something before deciding you cannot process the application.

            <!-- <p class="govuk-!-margin-bottom-0"><a class="" href="outbound-precall">all to the Assement provider</a> -->

          </p>

          {% endset %}
        <!------------Legend--------------->



      {% set scoreOverwite %}
          {{ govukInput({
            id: "score-overwrite-a6",
            label: {
                text: "What score do you want to give?",
                classes: "govuk-fieldset__legend--m"
            },
            hint: {
              text: "2, 4, 6 or 8"
            },
                name: "score-overwrite-a6",
                classes: "govuk-input--width-4",
                value: data["score-overwrite-a6"]
            }) }}

      {% endset -%}



      {{ govukRadios({
        idPrefix: "application-5-about-a6",
        name: "application-5-about-a6",
        fieldset: {
          legend: {
            text: "This has not been claimed for. Do you want to add a descriptor?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Amended",
          text: "Yes",
          checked: (data["application-5-about-a6"] == "Amended")
                  },
          {
          value: "No-change",
          text: "No",
          checked: (data["application-5-about-a6"] == "No-change")
                  },
          {
          value: "Pause",
          text: "I need to come back to this later",
          checked: (data["application-5-about-a6"] == "Pause")
        }
        ]
      }) }}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
