{% extends "layout.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}

{% block header %}
  {% include "agent-0-6/call-status.html" %}
{% endblock %}
{% block content %}


{% include "agent-0-6/record-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="record-1-event-history-filter-router" method="post" class="form">

      {% include "agent-0-6/record-id.html" %}

      <style>
      #accordion-default > div.govuk-accordion__controls > button {display: none}
      /* #accordion-default-heading-1 > span {display: none} */
      </style>



    </div>
  </div>


    {% include "agent-0-6/record-navigation.html" %}

    <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Event history</h3>

    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Filter by event type: &nbsp;&nbsp;<a class="govuk-body govuk-!-font-size-19" href="#"><strong>Clear</strong></a> &nbsp;&nbsp; <a class="govuk-body govuk-!-font-size-19" href="#">Inbound calls</a> &nbsp;&nbsp; <a class="govuk-body govuk-!-font-size-19" href="#">Outbound calls</a> &nbsp;&nbsp; <a class="govuk-body govuk-!-font-size-19" href="#">Letters</a> </p> -->


<div class="govuk-accordion govuk-!-margin-bottom-0" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Filter by event type
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half govuk-!-margin-bottom-0">

      {{ govukCheckboxes({
      idPrefix: "record-1-event-history-filter",
      name: "record-1-event-history-filter",
      classes: "govuk-checkboxes--small",
      fieldset: {
      legend: {
      text: "Select filter type",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s "
      }
      },
      items: [
      {
      value: "1",
      text: "Inbound calls",
      checked: (data["record-1-event-history-filter"] == "1")
      },
      {
      value: "2",
      text: "Outbound calls",
      checked: (data["record-1-event-history-filter"] == "2")
      },
      {
      value: "3",
      text: "Letters sent",
      checked: (data["record-1-event-history-filter"] == "3")
      },
      {
      value: "4",
      text: "Letters recivied",
      checked: (data["record-1-event-history-filter"] == "4")
      },
      {
      value: "5",
      text: "Outbound calls",
      checked: (data["record-1-event-history-filter"] == "5")
      }
      ]
      }) }}

      {{ govukButton({
      text: "Apply",
      classes: "govuk-button--secondary govuk-!-margin-bottom-4"
      }) }}

    </div>
  </div>


    </div>
  </div>



</div>



    {% if data["record-1-event-history-filter" == "1"] %}

    1 was selected

    {% else %}

    <!-- Nothing was selected -->

    {% endif %}


    <table class="govuk-table govuk-!-margin-top-0">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-20-percent">Date</td>
        <td class="govuk-table__cell govuk-20-percent">Event</td>
        <td class="govuk-table__cell govuk-40-percent">Details</td>
        <td class="govuk-table__cell govuk-20-percent">Actions</td>
      </tr>
      </thead>



      <!-- SHOW AND TELL START -->

      {% if data["search"] %}

          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-spacer">Today</td>
            <td class="govuk-table__cell table-spacer">Outbound<br>call</td>
            <td class="govuk-table__cell table-spacer">Complaint assigned to SAM, process started</td>
            <td class="govuk-table__cell table-spacer"><a class="" href="#" target="">View progress</a></td>

            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer"></td>
              <td class="govuk-table__cell table-spacer">Outbound<br>call</td>
              <td class="govuk-table__cell table-spacer">A new number has been added '0191 100 2000' has been added to the record</td>
              <td class="govuk-table__cell table-spacer"></td>

              </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer"></td>
              <td class="govuk-table__cell table-spacer">Outbound<br>call</td>
              <td class="govuk-table__cell table-spacer">Care plan requested. A new task  will be created once it's received.</td>
              <td class="govuk-table__cell table-spacer"></td>

              </tr>

            {% else %}
            {% endif %}

            <!-- SHOW AND TELL END -->

      {% if data["application-4-care-plan"]  == "Yes"%}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">Outbound call</td>
        <td class="govuk-table__cell table-spacer">Dispute implement</td>
        <td class="govuk-table__cell table-spacer">Assigned to SAM</td>

        </tr>

        {% else %}
        {% endif %}

      {% if data["application-4-care-plan"]  == "Yes"%}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">Outbound call</td>
        <td class="govuk-table__cell table-spacer">A new number has been added '0458475893' has been added to the record</td>
        <td class="govuk-table__cell table-spacer"></td>

        </tr>

        {% else %}
        {% endif %}

      {% if data["application-4-care-plan"]  == "Yes"%}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">Outbound call</td>
        <td class="govuk-table__cell table-spacer">Care plan requested. A new task  will be created once it's received.</td>
        <td class="govuk-table__cell table-spacer"></td>

        </tr>

      {% elif data["application-1-outcome-letter-check"] %}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">Update</td>
        <td class="govuk-table__cell table-spacer">Application processed and notification sent <a class="" href="pip-letter.pdf" target="_blank">View letter</a></td>
          <td class="govuk-table__cell table-spacer"><a class="" href="#" target="">Resend letter</a></td>
        </tr>
        {% elif data["inbound-1-end-call-washup"] == "2"%}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">Inbound call</td>
        <td class="govuk-table__cell table-spacer">Call was made, no actions taken, help with XY or Z, no addional action</td>
        <td class="govuk-table__cell table-spacer">None

      </tr>

      {% elif data["inbound-1-end-call-dispute"] == "Yes"%}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">Inbound call</td>
        <td class="govuk-table__cell table-spacer">Requested a call back to dispute level of award</td>
        <td class="govuk-table__cell table-spacer"><strong class="govuk-tag app-task-list__apl-task-done" id="eligibility-completed">In progress</strong>
        </tr>


      {% else %}
      <!-- <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">N/A</td>
        <td class="govuk-table__cell table-spacer">No events</td>
        <td class="govuk-table__cell table-spacer">N/A</td>
        </tr> -->
      {% endif %}

      {% if data["application-1-outcome-letter-check"] %}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">Update</td>
        <td class="govuk-table__cell table-spacer">Application processed and<br>notification sent<br><a class="" href="pip-letter.pdf" target="_blank">View letter</a> </td>
          <td class="govuk-table__cell table-spacer"><a class="" href="#" target="">Resend letter</a></td>
        </tr>

      {% else %}
      <!-- <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">18 Sep 2023</td>
        <td class="govuk-table__cell table-spacer">Update</td>
        <td class="govuk-table__cell table-spacer">Application processed and<br>notification sent - <a class="" href="pip-letter.pdf" target="_blank">view letter</a></td>
          <td class="govuk-table__cell table-spacer"><a class="" href="#" target="">Resend letter</a></td>
        </tr> -->
      {% endif %}

      {% if data["appointees-lpa-check"] == "Yes" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">Outbound call</td>
        <td class="govuk-table__cell table-spacer">Lasting power of attorney (LPA) access code added</td>
        <td class="govuk-table__cell table-spacer">
        </tr>
        {% else %}
        {% endif %}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">18 Oct 2023</td>
        <td class="govuk-table__cell table-spacer">Inbound call</td>
        <td class="govuk-table__cell table-spacer">Wanted an update on progress of application</td>
        <td class="govuk-table__cell table-spacer"></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer">16 Oct 2023</td>
          <td class="govuk-table__cell table-spacer">Letter sent</td>
          <td class="govuk-table__cell table-spacer">Reissued PIP2 form</td>
          <td class="govuk-table__cell table-spacer"></td>
          </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">1 Oct 2023</td>
        <td class="govuk-table__cell table-spacer">Inbound call</td>

        <td class="govuk-table__cell table-spacer">General enquiry</td>
        <td class="govuk-table__cell table-spacer"></td>
        </tr>





      </table>



  </div>
  </div>


    </form>
{% endblock %}
