{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <form action="application-1-about" method="post" class="form">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-2/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Understand applicants ability when Preparing food</h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">As asked in application</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Does your condition affect you preparing food,<br> or prevent you from doing so?</p>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-font-size-19govuk-!-margin-bottom-2">Answer from the citizen</p>

          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
          Yes
        </p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">As asked in application</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Tell us about the difficulties you have with <br>preparing food and how you manage them</p>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Answer from the citizen</p>

          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
            About twice a year, for about 3 weeks at a time I have difficulty remembering to turn the hob off because I get too distracted to complete tasks like this. My partner supervises me in the kitchen to make sure I stay safe.
            <br><br>Every day, I have difficulty standing while preparing food because my leg is too stiff and painful. I need to use a perching stool so I can rest my leg while preparing food.

        </p>
        </div>
      </div>

<BR><BR><BR><BR><BR><BR><BR>

      <div class="govuk-grid-row">
        <div class="govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">As asked in application</p>
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-6">Does your condition affect you preparing food,<br> or prevent you from doing so?</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Answer from the citizen</p>
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Yes</p>

        </div>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">As asked in application</p>

          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-6">Tell us about the difficulties you have with <br>preparing food and how you manage them</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Answer from the citizen</p>

          <p class="govuk-body govuk-!-margin-bottom-2">
            About twice a year, for about 3 weeks at a time I have difficulty remembering to turn the hob off because I get too distracted to complete tasks like this. My partner supervises me in the kitchen to make sure I stay safe.
            <br><br>Every day, I have difficulty standing while preparing food because my leg is too stiff and painful. I need to use a perching stool so I can rest my leg while preparing food.
        </p>

        </div>
      </div>


      {{ govukRadios({
        idPrefix: "application-1-about-a1",
        name: "application-1-about-a1",
        fieldset: {
          legend: {
            text: "Does this all make sense?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Are you worried about anything?"
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Good",
          text: "All looks good to me",
          checked: (data["application-1-about-a1"] == "Good")
        },
        {
          value: "Bad",
          text: "Something isnt right",
          checked: (data["application-1-about-a1"] == "Bad")
        },
        {
          value: "Pause",
          text: "Come back to this later",
          checked: (data["application-1-about-a1"] == "Pause")
        }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
