{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi-call.html" %}
{% endblock %}

{% block content %}

<!-- <form action="inbound-1-end-call-washup" method="post" class="form"> -->
  <form action="entry-home" method="post" class="form">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Thank you for calling the Department for Work and Pensions. Goodbye.</h1>
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">XXXX</p> -->


      {{ govukButton({
        text: "End call",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
