{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
{% include "explore-header-global-nav-multi-call.html" %}
{% endblock %}

{% block content %}

<form action="record-1-overview" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-2/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">I've found your record, a few more questions</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">XXX</p>



      {{ govukRadios({
        idPrefix: "application-1-outcome-letter-check",
        name: "application-1-outcome-letter-check",
        fieldset: {
          legend: {
            html: "What is your favourite film?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Something in here if more context is needed"
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Yes",
          text: "Point Break",
          checked: (data["application-1-outcome-letter-check"] == "Yes")
        },
        {
          value: "No",
          text: "Not Point Break",
          checked: (data["application-1-outcome-letter-check"] == "No")
        },
        {
          value: "Dont know",
          text: "Don't know",
          checked: (data["application-1-outcome-letter-check"] == "Dont know")
        }
        ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      {{ govukRadios({
        idPrefix: "application-1-outcome-letter-check",
        name: "application-1-outcome-letter-check",
        fieldset: {
          legend: {
            html: "What is your favourite film?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Something in here if more context is needed"
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Yes",
          text: "Point Break",
          checked: (data["application-1-outcome-letter-check"] == "Yes")
        },
        {
          value: "No",
          text: "Not Point Break",
          checked: (data["application-1-outcome-letter-check"] == "No")
        },
        {
          value: "Dont know",
          text: "Don't know",
          checked: (data["application-1-outcome-letter-check"] == "Dont know")
        }
        ]
      }) }}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
