{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
  {% include "agent-0-2/call-status.html" %}
{% endblock %}
{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      {% include "agent-0-2/record-id.html" %}


    </div>
  </div>


    {% include "agent-0-2/record-navigation.html" %}

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Event history</h3>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">The agent will see a history of communication with the person. It shows the date of the event, the notes that an agent added relating to that event, and any actions as a result.</p>



    <table class="govuk-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-25-percent">Date</td>
        <td class="govuk-table__cell govuk-50-percent">Notes</td>
        <td class="govuk-table__cell govuk-35-percent">Actions</td>
      </tr>
      </thead>

      {% if data["application-1-outcome-letter-check"] %}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">Application processed and outcome sent</td>
        <td class="govuk-table__cell table-spacer">None
        </tr>
        {% elif data["inbound-1-end-call-washup"] == "2"%}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">Call was made, no actions taken, help with XY or Z, no addional action</td>
        <td class="govuk-table__cell table-spacer">None

      </tr>

      {% elif data["inbound-1-end-call-dispute"] == "Yes"%}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">Requested a call back to talk more about how long their application is taking</td>
        <td class="govuk-table__cell table-spacer"><strong class="govuk-tag app-task-list__apl-task-done" id="eligibility-completed">In progress</strong>
        </tr>


      {% else %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">No events</td>
        <td class="govuk-table__cell table-spacer">None</td>
        </tr>
      {% endif %}

      {% if data["appointees-lpa-check"] == "Yes" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">Lasting power of attorney (LPA) access code was added</td>
        <td class="govuk-table__cell table-spacer">None
        </tr>
        {% else %}
        {% endif %}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">18 Aug 2023</td>
        <td class="govuk-table__cell table-spacer">Called about status and rates</td>
        <td class="govuk-table__cell table-spacer">None</td>
        </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">01 Aug 2023</td>

        <td class="govuk-table__cell table-spacer">General enquriry</td>

        <td class="govuk-table__cell table-spacer">None</td>
        </tr>


      </table>



  </div>
  </div>


    </form>
{% endblock %}
