{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
  {% include "agent-0-2/call-status.html" %}
{% endblock %}
{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      {% include "agent-0-2/record-id.html" %}


    </div>
  </div>


    {% include "agent-0-2/record-navigation.html" %}

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Future events</h3>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Something about scheduled events</p>



    <table class="govuk-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-25-percent">Date</td>
        <td class="govuk-table__cell govuk-50-percent">Notes</td>
        <td class="govuk-table__cell govuk-35-percent">Actions</td>
      </tr>
      </thead>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Next week</td>
        <td class="govuk-table__cell table-spacer">Award Review</td>
        <td class="govuk-table__cell table-spacer"><a class="" href="pip-letter.pdf" target="">Start process early</a></td>
        </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">01 October 2023</td>

        <td class="govuk-table__cell table-spacer">Award uprating from <br>£172.75 to £200.00</td>

        <td class="govuk-table__cell table-spacer">None</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer">02 October 2023</td>

          <td class="govuk-table__cell table-spacer">Next payment: £200.00</td>

          <td class="govuk-table__cell table-spacer"><a class="" href="#" target="">View payment breakdown</a></td>
          </tr>



      </table>



  </div>
  </div>


    </form>
{% endblock %}
