{% extends "layout.html" %}
{% block main %}
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Jim Smith</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">QQ 12 34 56 X</dt>
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>5 January 1978</dd>
      </div>
    </dl>
</section>

<div class="govuk-width-container">
  <a href="task-list" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Review your activity descriptors
      </h1>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">Daily living</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Activity</th>
            <th scope="col" class="govuk-table__header">Descriptors</th>
            <th scope="col" class="govuk-table__header">Points</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="score-preparing-food" class="govuk-link">Preparing food</a></td>
              <td class="govuk-table__cell">  {% if data['preparing-food-score'] %}
                {% set foodscoreData = data['preparing-food-score'] | split(" | ") %} {{foodscoreData[0]}} </td>
            <td class="govuk-table__cell">{{foodscoreData[1]}}
              {% endif %} </td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="score-taking-nutrition" class="govuk-link">Taking nutrition</a></td>
              <td class="govuk-table__cell">  {% if data['taking-nutrition-score'] %}
                  {% set nutritionscoreData = data['taking-nutrition-score'] | split(" | ") %} {{nutritionscoreData[0]}}</td>
            <td class="govuk-table__cell">{{ nutritionscoreData[1]  }}
           {% endif %}  </td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Managing therapy</a></td>
            <td class="govuk-table__cell">No descriptor set yet</td>
            <td class="govuk-table__cell">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Washing and bathing</a></td>
            <td class="govuk-table__cell">No descriptor set yet</td>
            <td class="govuk-table__cell">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Managing toilet needs</a></td>
            <td class="govuk-table__cell">No descriptor set yet</td>
            <td class="govuk-table__cell">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Dressing and undressing</a></td>
            <td class="govuk-table__cell">No descriptor set yet</td>
            <td class="govuk-table__cell">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Communicating verbally</a></td>
            <td class="govuk-table__cell">No descriptor set yet</td>
            <td class="govuk-table__cell">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Reading and understading signs and symbols</a></td>
            <td class="govuk-table__cell">No descriptor set yet</td>
            <td class="govuk-table__cell">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Engaging face to face</a></td>
            <td class="govuk-table__cell">No descriptor set yet</td>
            <td class="govuk-table__cell">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Budgeting</a></td>
            <td class="govuk-table__cell">No descriptor set yet</td>
            <td class="govuk-table__cell">0</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Daily living total - </th>
            <td class="govuk-table__cell" style='visibility:collapse'>0</td>
            <td class="govuk-table__cell"><b>{% set combined = (nutritionscoreData[1] | int) + (foodscoreData[1] | int) %} {{ combined }}</b>
            </td>
            <td class="govuk-table__cell" style='visibility:collapse'>0</td>
          </tr>
        </tbody>
      </table>

  <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">Mobility</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Activity</th>
            <th scope="col" class="govuk-table__header">Descriptors</th>
            <th scope="col" class="govuk-table__header">Points</th>
          </tr>
        </thead>

    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Planning and following journeys</a></td>
          <td class="govuk-table__cell">No descriptor set yet</td>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Moving around</a></td>
          <td class="govuk-table__cell">No descriptor set yet</td>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mobility total</th>
              <td class="govuk-table__cell" style='visibility:collapse'>0</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell" style='visibility:collapse'>0</td>
        </tr>
    </tbody>
</table>


    <h3 class="govuk-heading-s">Indicated award level: <strong class="govuk-tag">Enhanced</strong></h3>

        {{ govukButton({
            text: "View summary",
            href: "summary",
            classes: "govuk-button--secondary"
        }) }}

          <br>

        {{ govukButton({
          text: "Make a recommendation or referral",
          href: "ready-to-make-next-step"
        }) }}


            </div>

          </div>


    </main>
  </div>
{% endblock %}
