
  <div class="govuk-!-margin-bottom-8">

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="service-stats" class="govuk-link" rel="noreferrer noopener">Overview of all<br>online applications</a></p>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="service-average" class="govuk-link" rel="noreferrer noopener">Average time in status</a></p>


    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Breakdown by theme</h3>



<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="applicaitons-apply" class="govuk-link" rel="noreferrer noopener" target="">Applicaitons within Apply</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="applicaitons-PIPservice" class="govuk-link" rel="noreferrer noopener" target="">Applicaitons within PIPservice</a></p>

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="applicaitons-has" class="govuk-link" rel="noreferrer noopener" target="">Applicaitons within HAS</a></p>

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="move-to-pipcs-reasons" class="govuk-link" rel="noreferrer noopener" target="">Reasons applicaitons<br>moved to PIPcs</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="decisions" class="govuk-link" rel="noreferrer noopener" target="">Decision outcomes</a></p>


  </div>
