
  <div class="govuk-!-margin-bottom-8">

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href="service-stats" class="govuk-link" rel="noreferrer noopener">Overview of all<br>online applications</a></p>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="service-average" class="govuk-link" rel="noreferrer noopener">Average days in status</a></p>


    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Breakdown by theme</h3>



<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="applications-apply" class="govuk-link" rel="noreferrer noopener" target="">Active applications in online service</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="applications-PIPservice" class="govuk-link" rel="noreferrer noopener" target="">Actie applications in PIP Service</a></p>

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="applications-has" class="govuk-link" rel="noreferrer noopener" target="">Active applications in HAS</a></p>

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="move-to-pipcs-reasons" class="govuk-link" rel="noreferrer noopener" target="">Reasons applications were<br>moved to PIPCS</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="decisions" class="govuk-link" rel="noreferrer noopener" target="">Decisions</a></p>


  </div>
