{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

{% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Service statistics</h1>

    <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Setting your data ranges</h1> -->
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-1"></p>


    {{ govukDateInput({
      id: "award-dates-review-manual-other",
      namePrefix: "award-dates-review-manual-other",
      fieldset: {
        legend: {
          html: "What date do you want the data to be shown from?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
        }
      },
      hint: {
        html: "The service went live on 1 September YYYY"
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: data["award-dates-review-manual-other-day"]
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: data["award-dates-review-manual-other-month"]
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: data["award-dates-review-manual-other-year"]
        }
      ]
    }) }}

<br>

    {{ govukDateInput({
      id: "award-dates-review-manual-other",
      namePrefix: "award-dates-review-manual-other",
      fieldset: {
        legend: {
          html: "When do you want the stats data to end?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
        }
      },
      hint: {
        html: ""
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: data["award-dates-review-manual-other-day"]
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: data["award-dates-review-manual-other-month"]
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: data["award-dates-review-manual-other-year"]
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-bottom-8"
    }) }}


    </div>
  </div>




{% endblock %}
