{% extends "layout-reg-mr.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


  {% if data["applicaiton-actions"] == "ok" %}

  <form action="an-de-letter-inhand-check-router" method="post" class="form">

  {% elif data["applicaiton-actions"] == "13m" or data["applicaiton-actions"] == "1m" %}
  <form action="an-de-letter-inhand-date-check-router" method="post" class="form">

  {% else %}
  {% endif %}




  {% include "person-record-0-0-2/record-id-base.html" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "Overview",
        href: "r-overview"
      },
      {
        text: "Applications and decision",
        href: "r-applications"
      },
      {
        text: "Register a mandatory reconsideration",
        href: ""
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!------------H1 LEGEND------------>
        {% set dynamicHint %}

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Advise the person:</p>
        <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-6">

          <li>mandatory reconsiderations must be requested within one month of the date on the decision letter</li>
            <li>we may still be able to consider the request if they have good reason for contacting us late</li>
        </ul>


            {% endset %}
      <!------------Legend--------------->




      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        idPrefix: "an-de-letter-inhand-check",
        name: "an-de-letter-inhand-check",
        fieldset: {
          legend: {
            html: "Do they have their decision letter with them?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-6"
          }
        },
        hint: {
          html: dynamicHint
        },
        items: [
        {
          value: "Yes",
          text: "Yes",
          checked: (data["an-de-letter-inhand-check"] == "Yes")
        },
        {
          value: "No",
          text: "No",
          checked: (data["an-de-letter-inhand-check"] == "No ")
        }
        ]
        }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
