{% extends "layout.html" %}

{% block pageTitle %}
  Reconsideration request — CYA
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}



  <form action="an-de-next-steps" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "person-record-0-0-2/record-id-base.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Check the  mandatory reconsideration request details </h1>

      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">Reasons for the mandatory reconsideration request</p> -->

        <!------------OUTCOME LEGEND------------>

        <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">About their decision letter</h3>


        <dl class="govuk-summary-list govuk-!-margin-bottom-4">

          {% if data["an-de-goodcause-reason"] %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reason request is more than one month after decision
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["an-de-goodcause-reason"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="an-de-letter-check">Change<span class="govuk-visually-hidden">XXX</span>

              </a>
            </dd>
          </div>

          {% else %}
          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have they received their decision letter?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["an-de-letter-check"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="an-de-letter-check">Change<span class="govuk-visually-hidden">XXX</span>

              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do they have their decision letter with them?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["an-de-letter-inhand-check"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="an-de-disagree-dates">Change<span class="govuk-visually-hidden"> XXX justification</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do they need us to resend their decision letter?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["an-de-reissue-lost-letter"] %}
              {{ data["an-de-reissue-lost-letter"]}}
              {% else %}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="an-de-disagree-dates">Change<span class="govuk-visually-hidden"> XXX justification</span></a>
            </dd>
          </div>

        </dl>


        <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Length of the award period</h3>


        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["an-de-disagree-reasons-start"] %}
              {{ data["an-de-disagree-reasons-start"]}}
              {% else %}
              No disagreement
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if data["an-de-disagree-reasons-start"] %}
                <a class="govuk-link" href="an-de-disagree-dates">Change<span class="govuk-visually-hidden"> XXX justification</span>
                {% else %}
                <a class="govuk-link" href="an-de-disagree-dates">Add<span class="govuk-visually-hidden"> XXX justification</span>
                {% endif %}

              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Qualifying period
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["an-de-disagree-reasons-qp"] %}
              {{ data["an-de-disagree-reasons-qp"]}}
              {% else %}
              No disagreement
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if data["an-de-disagree-reasons-qp"] %}
                <a class="govuk-link" href="an-de-disagree-dates">Change<span class="govuk-visually-hidden"> XXX justification</span>
                {% else %}
                <a class="govuk-link" href="an-de-disagree-dates">Add<span class="govuk-visually-hidden"> XXX justification</span>
                {% endif %}

              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Prospective test
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["an-de-disagree-reasons-qp"] %}
              {{ data["an-de-disagree-reasons-qp"]}}
              {% else %}
              No disagreement
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if data["an-de-disagree-reasons-qp"] %}
                <a class="govuk-link" href="an-de-disagree-dates">Change<span class="govuk-visually-hidden"> XXX justification</span>
                {% else %}
                <a class="govuk-link" href="an-de-disagree-dates">Add<span class="govuk-visually-hidden"> XXX justification</span>
                {% endif %}

              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Award end date
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["an-de-disagree-reasons-end"] %}
              {{ data["an-de-disagree-reasons-end"]}}
              {% else %}
              No disagreement
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if data["an-de-disagree-reasons-end"] %}
                <a class="govuk-link" href="an-de-disagree-dates">Change<span class="govuk-visually-hidden"> XXX justification</span>
                {% else %}
                <a class="govuk-link" href="an-de-disagree-dates">Add<span class="govuk-visually-hidden"> XXX justification</span>
                {% endif %}

              </a>
            </dd>
          </div>

        </dl>


        <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Length of the award period</h3>


        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Length of award details
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["an-de-disagree-reasons"] == "Award" %}
              {{ data["an-de-disagree-reasons"] == "Award" }}
              {% else %}
              No disagreement
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if data["an-de-disagree-reasons"] == "Dates" %}
                <a class="govuk-link" href="an-de-disagree-reasons">Change<span class="govuk-visually-hidden"> XXX justification</span>
                {% else %}
                <a class="govuk-link" href="an-de-disagree-reasons">Add<span class="govuk-visually-hidden"> XXX justification</span>
                {% endif %}

              </a>
            </dd>
          </div>

        </dl>


        <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Evidence used to make the decision</h3>


        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Evidence details
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["an-de-disagree-reasons"] == "Doc" %}
              {{ data["an-de-disagree-reasons"] == "Doc"}}
              {% else %}
              No disagreement
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if data["an-de-disagree-reasons"] == "Doc" %}
                <a class="govuk-link" href="an-de-disagree-reasons">Change<span class="govuk-visually-hidden"> XXX justification</span>
                {% else %}
                <a class="govuk-link" href="an-de-disagree-reasons">Add<span class="govuk-visually-hidden"> XXX justification</span>
                {% endif %}

              </a>
            </dd>
          </div>

        </dl>

        <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Payment amounts including arrears</h3>


        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payment details
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["an-de-disagree-reasons"] == "Payments" %}
              {{ data["an-de-disagree-reasons"] == "Payments"}}
              {% else %}
              No disagreement
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if data["an-de-disagree-reasons"] == "Payments" %}
                <a class="govuk-link" href="an-de-disagree-reasons">Change<span class="govuk-visually-hidden"> XXX justification</span>
                {% else %}
                <a class="govuk-link" href="an-de-disagree-reasons">Add<span class="govuk-visually-hidden"> XXX justification</span>
                {% endif %}

              </a>
            </dd>
          </div>

        </dl>


      {% if data["an-de-preparing-food"] %}
      <h3 class="govuk-heading-xm govuk-!-padding-top-6">Daily living scoring</h3>

      <!-- 1 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preparing food
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["an-de-preparing-food"] or data["an-de-points-reasons"] == "1"%}
            {{ data["an-de-preparing-food"] or data["an-de-points-reasons"] == "1"}}
            {% else %}
            No disagreement
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data["an-de-preparing-food"] or data["an-de-points-reasons"] == "1"%}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Change<span class="govuk-visually-hidden"> XXX justification</span>
              {% else %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Add<span class="govuk-visually-hidden"> XXX justification</span>
              {% endif %}

            </a>
          </dd>
        </div>


      <!-- 2 -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Taking nutrition
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["an-de-taking-nutrition"] or data["an-de-points-reasons"] == "2"%}
            {{ data["an-de-taking-nutrition"] or data["an-de-points-reasons"] == "2"}}
            {% else %}
            No disagreement
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data["an-de-taking-nutrition"] or data["an-de-points-reasons"] == "2"%}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Change<span class="govuk-visually-hidden"> XXX justification</span>
              {% else %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Add<span class="govuk-visually-hidden"> XXX justification</span>
              {% endif %}

            </a>
          </dd>
        </div>


      <!-- 3 -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Managing treatments
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["an-de-managing-treatments"] or data["an-de-points-reasons"] == "3" %}
            {{ data["an-de-managing-treatments"] or data["an-de-points-reasons"] == "3" }}
            {% else %}
            No disagreement
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data["an-de-managing-treatments"] or data["an-de-points-reasons"] == "3"%}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Change<span class="govuk-visually-hidden"> XXX justification</span>
              {% else %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Add<span class="govuk-visually-hidden"> XXX justification</span>
              {% endif %}

            </a>
          </dd>
        </div>


      <!-- 4 -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Washing and bathing
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["an-de-Washing-and-bathing"] or data["an-de-points-reasons"] == "4" %}
            {{ data["an-de-Washing-and-bathing"] or data["an-de-points-reasons"] == "4" }}
            {% else %}
            No disagreement
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data["an-de-Washing-and-bathing"] or data["an-de-points-reasons"] == "4" %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Change<span class="govuk-visually-hidden"> XXX justification</span>
              {% else %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Add<span class="govuk-visually-hidden"> XXX justification</span>
              {% endif %}

            </a>
          </dd>
        </div>



      <!-- 5 -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Using the toilet or managing incontinence
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["an-de-toilet"] or data["an-de-points-reasons"] == "5" %}
            {{ data["an-de-toilet"] or data["an-de-points-reasons"] == "5"}}
            {% else %}
            No disagreement
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data["an-de-toilet"] or data["an-de-points-reasons"] == "5" %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Change<span class="govuk-visually-hidden"> XXX justification</span>
              {% else %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Add<span class="govuk-visually-hidden"> XXX justification</span>
              {% endif %}

            </a>
          </dd>
        </div>


      <!-- 6 -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Dressing and undressing
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["an-de-dressing"] or data["an-de-points-reasons"] == "6"%}
            {{ data["an-de-dressing"] or data["an-de-points-reasons"] == "6"}}
            {% else %}
            No disagreement
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data["an-de-dressing"] or data["an-de-points-reasons"] == "6" %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Change<span class="govuk-visually-hidden"> XXX justification</span>
              {% else %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Add<span class="govuk-visually-hidden"> XXX justification</span>
              {% endif %}

            </a>
          </dd>
        </div>

      <!-- 7 -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Talking, listening and understanding
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["an-de-talking"] or data["an-de-points-reasons"] == "7" %}
            {{ data["an-de-talking"] or data["an-de-points-reasons"] == "7"}}
            {% else %}
            No disagreement
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data["an-de-talking"] or data["an-de-points-reasons"] == "7"%}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Change<span class="govuk-visually-hidden"> XXX justification</span>
              {% else %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Add<span class="govuk-visually-hidden"> XXX justification</span>
              {% endif %}

            </a>
          </dd>
        </div>

      <!-- 8 -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reading
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["an-de-reading"] or data["an-de-points-reasons"] == "8" %}
            {{ data["an-de-reading"] or data["an-de-points-reasons"] == "8"}}
            {% else %}
            No disagreement
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data["an-de-reading"] or data["an-de-points-reasons"] == "8" %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Change<span class="govuk-visually-hidden"> XXX justification</span>
              {% else %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Add<span class="govuk-visually-hidden"> XXX justification</span>
              {% endif %}

            </a>
          </dd>
        </div>


      <!-- 9 -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mixing with other people
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["an-de-mixing"] or data["an-de-points-reasons"] == "9"%}
            {{ data["an-de-mixing"]or data["an-de-points-reasons"] == "9"}}
            {% else %}
            No disagreement
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data["an-de-mixing"] or data["an-de-points-reasons"] == "9"%}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Change<span class="govuk-visually-hidden"> XXX justification</span>
              {% else %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Add<span class="govuk-visually-hidden"> XXX justification</span>
              {% endif %}

            </a>
          </dd>
        </div>

      <!-- 10 -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Managing your money
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["an-de-money"] or data["an-de-points-reasons"] == "10" %}
            {{ data["an-de-money"] or data["an-de-points-reasons"] == "10"}}
            {% else %}
            No disagreement
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data["an-de-money"] or data["an-de-points-reasons"] == "10"%}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Change<span class="govuk-visually-hidden"> XXX justification</span>
              {% else %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Add<span class="govuk-visually-hidden"> XXX justification</span>
              {% endif %}

            </a>
          </dd>
        </div>

      </dl>


      <h3 class="govuk-heading-xm govuk-!-padding-top-4 govuk-!-margin-bottom-6">Mobility scoring</h3>

      <!-- 11 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning and following journeys
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["an-de-planning"] or data["an-de-points-reasons"] == "11" %}
            {{ data["an-de-planning"] or data["an-de-points-reasons"] == "11" }}
            {% else %}
            No disagreement
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data["an-de-planning"] or data["an-de-points-reasons"] == "11" %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Change<span class="govuk-visually-hidden"> XXX justification</span>
              {% else %}
              <a class="govuk-link" href="an-de-points-reasons-conditional">Add<span class="govuk-visually-hidden"> XXX justification</span>
              {% endif %}

            </a>
          </dd>
        </div>


      <!-- 12 -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
             Moving around
           </dt>
           <dd class="govuk-summary-list__value">
             {% if data["an-de-moving-round"] or data["an-de-points-reasons"] == "12" %}
             {{ data["an-de-moving-round"] or data["an-de-points-reasons"] == "12" }}
             {% else %}
             No disagreement
             {% endif %}
           </dd>
           <dd class="govuk-summary-list__actions">
             {% if data["an-de-moving-round"] or data["an-de-points-reasons"] == "12" %}
               <a class="govuk-link" href="an-de-points-reasons-conditional">Change<span class="govuk-visually-hidden"> XXX justification</span>
               {% else %}
               <a class="govuk-link" href="an-de-points-reasons-conditional">Add<span class="govuk-visually-hidden"> XXX justification</span>
               {% endif %}

             </a>
           </dd>
         </div>

      </dl>

      {% else %}
      {% endif %}



      <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Supporting evidence which was not available<br> to us when the decision was made</h3>

      {% if data["an-de-doc-check"] == "YesBasic" %}

            <dl class="govuk-summary-list govuk-!-margin-bottom-4">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">

                  Expected evidence
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data["an-de-select-docs"] %}

                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 ">
                    <li>Information provided by care home</li>
                    <li>Care plan</li>
                    <li>Certificate of Vision Impairment (CVI)</li>
                    <li>Information provided by community mental health team</li>
                    <li>Health professional consultation report</li>
                    <li>Information provided by Customer Compliance Officer</li>
                    <li>Letter from consultantReport from consultant</li>
                    <li>Report from consultant</li>
                    <li>Telephone advice from consultant</li>
                  </ul>

                  {% else %}
                  No documents to be sent
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {% if data["an-de-select-docs"] %}
                    <a class="govuk-link" href="an-de-select-docs">Change<span class="govuk-visually-hidden"> XXX justification</span>
                    {% else %}
                    <a class="govuk-link" href="an-de-doc-check">Add<span class="govuk-visually-hidden"> XXX justification</span>
                    {% endif %}

                  </a>
                </dd>
              </div>

            </dl>

            {% else %}
            No documents to be sent
            {% endif %}


      {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8 govuk-!-margin-top-6"
        }) }}


    </div>
  </div>





  </form>

{% endblock %}
