{% extends "layout-apply-ur.html" %}

{% block pageTitle %}
  PIP: Name Name
{% endblock %}

{% block content %}
{% include "includes/js-back-link.html" %}

<form action="/prototype-admin/clear-data" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
              Outcome (Nil)
            </h1>
            <p class="govuk-body govuk-!-margin-bottom-4">Something todo with points</p>
            <p class="govuk-body govuk-!-margin-bottom-8">Something todo with points</p>

            <h1 class="govuk-heading-m govuk-!-margin-bottom-4">What happens now?</h1>

            <p class="govuk-body govuk-!-margin-bottom-8">Other help <a href="#">Other help</a></p>

  </div>
</div>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
          Outcome (Zero / Zero)
          </h1>
          <p class="govuk-body govuk-!-margin-bottom-4">Something todo with points</p>
          <p class="govuk-body govuk-!-margin-bottom-8">Something todo with points</p>

          <h1 class="govuk-heading-m govuk-!-margin-bottom-4">What happens now?</h1>

          <p class="govuk-body govuk-!-margin-bottom-8">Other help <a href="#">Other help</a></p>

</div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            Outcome (Less than 8 / Less than 8)
          </h1>
          <p class="govuk-body govuk-!-margin-bottom-4">Something todo with points</p>
          <p class="govuk-body govuk-!-margin-bottom-8">Something todo with points</p>

          <h1 class="govuk-heading-m govuk-!-margin-bottom-4">What happens now?</h1>

          <p class="govuk-body govuk-!-margin-bottom-8">Other help <a href="#">Other help</a></p>

</div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            Outcome (Less than 8 / Standard)
          </h1>
          <p class="govuk-body govuk-!-margin-bottom-4">Something todo with points</p>
          <p class="govuk-body govuk-!-margin-bottom-8">Something todo with points</p>

          <h1 class="govuk-heading-m govuk-!-margin-bottom-4">What happens now?</h1>

          <p class="govuk-body govuk-!-margin-bottom-8">Other help <a href="#">Other help</a></p>

</div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            Outcome (Less than 8 / Enhanced)
          </h1>
          <p class="govuk-body govuk-!-margin-bottom-4">Something todo with points</p>
          <p class="govuk-body govuk-!-margin-bottom-8">Something todo with points</p>

          <h1 class="govuk-heading-m govuk-!-margin-bottom-4">What happens now?</h1>

          <p class="govuk-body govuk-!-margin-bottom-8">Other help <a href="#">Other help</a></p>

</div>

</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            Outcome (Standard / Less than 8)
          </h1>
          <p class="govuk-body govuk-!-margin-bottom-4">Something todo with points</p>
          <p class="govuk-body govuk-!-margin-bottom-8">Something todo with points</p>

          <h1 class="govuk-heading-m govuk-!-margin-bottom-4">What happens now?</h1>

          <p class="govuk-body govuk-!-margin-bottom-8">Other help <a href="#">Other help</a></p>

</div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            Outcome (Standard / Standard)
          </h1>
          <p class="govuk-body govuk-!-margin-bottom-4">Something todo with points</p>
          <p class="govuk-body govuk-!-margin-bottom-8">Something todo with points</p>

          <h1 class="govuk-heading-m govuk-!-margin-bottom-4">What happens now?</h1>

          <p class="govuk-body govuk-!-margin-bottom-8">Other help <a href="#">Other help</a></p>


</div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            Outcome (Standard / Enhanced)
          </h1>
          <p class="govuk-body govuk-!-margin-bottom-4">Something todo with points</p>
          <p class="govuk-body govuk-!-margin-bottom-8">Something todo with points</p>

          <h1 class="govuk-heading-m govuk-!-margin-bottom-4">What happens now?</h1>

          <p class="govuk-body govuk-!-margin-bottom-8">Other help <a href="#">Other help</a></p>

</div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            Outcome (Enhanced / Less than 8)
          </h1>
          <p class="govuk-body govuk-!-margin-bottom-4">Something todo with points</p>
          <p class="govuk-body govuk-!-margin-bottom-8">Something todo with points</p>

          <h1 class="govuk-heading-m govuk-!-margin-bottom-4">What happens now?</h1>

          <p class="govuk-body govuk-!-margin-bottom-8">Other help <a href="#">Other help</a></p>

</div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            Outcome (Enhanced / Standard)
          </h1>
          <p class="govuk-body govuk-!-margin-bottom-4">Something todo with points</p>
          <p class="govuk-body govuk-!-margin-bottom-8">Something todo with points</p>

          <h1 class="govuk-heading-m govuk-!-margin-bottom-4">What happens now?</h1>

          <p class="govuk-body govuk-!-margin-bottom-8">Other help <a href="#">Other help</a></p>

</div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            Outcome (Enhanced / Enhanced)
          </h1>
          <p class="govuk-body govuk-!-margin-bottom-4">Something todo with points</p>
          <p class="govuk-body govuk-!-margin-bottom-8">Something todo with points</p>

          <h1 class="govuk-heading-m govuk-!-margin-bottom-4">What happens now?</h1>

          <p class="govuk-body govuk-!-margin-bottom-8">Other help <a href="#">Other help</a></p>

</div>
</div>





  {{ govukButton({
    text: "Finish",
    classes: "govuk-!-margin-bottom-8"
  }) }}


</form>
{% endblock %}
