{% extends "layout-apply-ur.html" %}

{% block pageTitle %}
  PIP: Name Name
{% endblock %}

{% block content %}
{% include "includes/js-back-link.html" %}

{% if data["descriptors-9"] %}
<form action="descriptors" method="post" class="form">
{% else %}
<form action="descriptors-9" method="post" class="form">
{% endif %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- <p class="govuk-heading-xl govuk-!-margin-bottom-6">We need some help from you</p>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">This is an extract of the full service so some questions are missing</p> -->


        {{ govukRadios({
          idPrefix: "descriptors-8",
          name: "descriptors-8",
          fieldset: {
            legend: {
              text: "How well can you read and understand signs, symbols and words?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select the option that is most relevant to you for more than half of the days in a year"
          },
          classes: "govuk-radios",
          items: [
          {
            value: "descriptors-8-a",
            text: "I can read and understand basic and complex written information either unaided or using spectacles or contact lenses",
            checked: (data["descriptors-1"] == "descriptors-8-a")
          },
          {
            value: "descriptors-8-b",
            text: "I need to use an aid or appliance, other than spectacles or contact lenses, to be able to read or understand either basic or complex written information",
            checked: (data["descriptors-1"] == "descriptors-8-b")
          },
          {
            value: "descriptors-8-c",
            text: "I need prompting to be able to read or understand complex written information",
            checked: (data["descriptors-1"] == "descriptors-8-c")
          },
          {
            value: "descriptors-8-d",
            text: "I need prompting to be able to read or understand basic written information",
            checked: (data["descriptors-1"] == "descriptors-8-d")
          },
          {
            value: "descriptors-8-e",
            text: "I cannot read or understand signs, symbols or words at all",
            checked: (data["descriptors-1"] == "descriptors-8-e")
          }
          ]
        }) }}




        <!-- Scenario 1<br>
        — Add one HCP within the primary journey<br>
        — From CYA, make a change to a single HCP<br>
        — From CYA, Add a second HCP<br>
        <br><br>

        Scenario 2<br>
        — Add x3 HCP within the primary journey<br>
        — From CYA, Make one change<br>
        — From CYA, Remove one HCP<br>
        <br><br>

        Scenario 3<br>
        — Add x2 HCP within the primary journey<br>
        — From CYA, Remove one HCP<br>
        — From CYA, Ask user to remove remaining HCP, but this functionality is not available (Get expectations) Which might end up being a change to the remaining HCP<br>
        <br><br>

        Scenario 4 (Out of scope)<br>
        — No HCP added within primary journey (There is no way to skip adding a HCP in primary Journey)
        <br><br>


        Scenario 5 (Out of scope)<br>
        — From CYA, remove all HCPs

<br><br><br> -->


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}

        <!------------ ––– ------------>

        <!-- <p class="govuk-heading-m govuk-!-margin-bottom-2">Statement</p>
        <p class="govuk-hint govuk-!-margin-bottom-6">Probs not needed</p> -->

    </div>
  </div>


  <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-1" class="govuk-link" rel="noreferrer noopener">Weekly</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-2" class="govuk-link" rel="noreferrer noopener">Monthy</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-3" class="govuk-link" rel="noreferrer noopener">Annual</a></p> -->

</form>

{% endblock %}
