{% extends "layout-apply-ur.html" %}

{% block pageTitle %}
  PIP: Name Name
{% endblock %}

{% block content %}
{% include "includes/js-back-link.html" %}

<form action="descriptors" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <!-- <p class="govuk-heading-xl govuk-!-margin-bottom-6">We need some help from you</p>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">This is an extract of the full service so some questions are missing</p> -->



        {{ govukRadios({
          idPrefix: "descriptors-12",
          name: "descriptors-12",
          fieldset: {
            legend: {
              text: "How well can you move around?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select the option that is most relevant to you for more than half of the days in a year"
          },
          classes: "govuk-radios",
          items: [
          {
            value: "descriptors-12-a",
            text: "I can stand and then move more than 200 metres, either aided or unaided",
            checked: (data["descriptors-12"] == "descriptors-12-a")
          },
          {
            value: "descriptors-12-b",
            text: "I can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided",
            checked: (data["descriptors-12"] == "descriptors-12-b")
          },
          {
            value: "descriptors-12-c",
            text: "I can stand and then move unaided more than 20 metres but no more than 50 metres",
            checked: (data["descriptors-12"] == "descriptors-12-c")
          },
          {
            value: "descriptors-12-d",
            text: "I can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres",
            checked: (data["descriptors-12"] == "descriptors-12-d")
          },
          {
            value: "descriptors-12-e",
            text: "I can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided",
            checked: (data["descriptors-12"] == "descriptors-12-e")
          },
          {
            value: "descriptors-12-f",
            text: "I cannot stand or move more than 1 metre, either aided or unaided",
            checked: (data["descriptors-12"] == "descriptors-12-f")
          }
          ]
        }) }}

        <!-- Scenario 1<br>
        — Add one HCP within the primary journey<br>
        — From CYA, make a change to a single HCP<br>
        — From CYA, Add a second HCP<br>
        <br><br>

        Scenario 2<br>
        — Add x3 HCP within the primary journey<br>
        — From CYA, Make one change<br>
        — From CYA, Remove one HCP<br>
        <br><br>

        Scenario 3<br>
        — Add x2 HCP within the primary journey<br>
        — From CYA, Remove one HCP<br>
        — From CYA, Ask user to remove remaining HCP, but this functionality is not available (Get expectations) Which might end up being a change to the remaining HCP<br>
        <br><br>

        Scenario 4 (Out of scope)<br>
        — No HCP added within primary journey (There is no way to skip adding a HCP in primary Journey)
        <br><br>


        Scenario 5 (Out of scope)<br>
        — From CYA, remove all HCPs

<br><br><br> -->


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}

        <!------------ ––– ------------>

        <!-- <p class="govuk-heading-m govuk-!-margin-bottom-2">Statement</p>
        <p class="govuk-hint govuk-!-margin-bottom-6">Probs not needed</p> -->

    </div>
  </div>


  <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-1" class="govuk-link" rel="noreferrer noopener">Weekly</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-2" class="govuk-link" rel="noreferrer noopener">Monthy</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-3" class="govuk-link" rel="noreferrer noopener">Annual</a></p> -->

</form>

{% endblock %}
