{% extends "layout-apply-ur.html" %}

{% block pageTitle %}
  PIP: Name Name
{% endblock %}

{% block content %}
{% include "includes/js-back-link.html" %}

<form action="/prototype-admin/clear-data" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
              Based on your answers, you may not be entitled to PIP
            </h1>
            <p class="govuk-body govuk-!-margin-bottom-4">You have assessed yourself as not being entitled to PIP.</p>
            <p class="govuk-body govuk-!-margin-bottom-8">This does not mean you will definitely not receive PIP. The Department for Work and Pensions (DWP) may assess you differently and reach a different outcome.</p>

            <h1 class="govuk-heading-m govuk-!-margin-bottom-4">What happens next</h1>

            <p class="govuk-body govuk-!-margin-bottom-4"><a href="https://www.gov.uk/check-benefits-financial-support">Find out what other benefits and financial support you may be able to get</a> to help with your living costs.</p>

            <h1 class="govuk-heading-m govuk-!-margin-bottom-4">Apply for PIP</h1>

            <p class="govuk-body govuk-!-margin-bottom-4">You can still apply for PIP online.</p>

            <p class="govuk-body">To start your claim online you’ll need your:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>National Insurance number</li>
              <li>email address</li>
              <li>mobile phone</li>
            </ul>

            {{ govukButton({
              text: "Apply online",
              classes: "govuk-!-margin-bottom-8"
            }) }}

            <p class="govuk-body govuk-!-margin-bottom-4"><a href="https://www.gov.uk/pip/how-to-claim">Find out how to apply by phone or post</a>.</p>


  </div>
  </div>




</form>
{% endblock %}
