{% if data["an-de-mr-tl-12-score-check"] == "Agree" %}
<form action="cya-letter-review" method="post" class="form">

<h1 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-6">The outcome has remained the same from the original decision</h1>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">This applicant will remain a nil</p>

{{ govukButton({
  text: "Continue(NIL)",
  classes: "govuk-!-margin-bottom-8"
}) }}

{% elif data["an-de-mr-tl-12-score-check"] == "Amended" %}
<form action="award-dates-review-check" method="post" class="form">

<h1 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-6">The outcome has changed from the original decision</h1>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">This applicant will become a standard / standard</p>

{{ govukButton({
  text: "Continue(Pay)",
  classes: "govuk-!-margin-bottom-8"
}) }}

{% else %}
{% endif %}
