{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="record-foundation-overview" method="post" class="form">

  {% include "agent-day-0-1-8/record-id-base.html" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "Overview",
        href: "record-foundation-overview"
      },
      {
        text: "Applications and decision",
        href: "record-foundation-Escalation-start"
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">if letter no letter sent H1 = Z</h1>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">if letter sent H1 = X</h1>


      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">Something in here about the why</p>



      {{ govukButton({
        text: "Finsih and close",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
