{% extends "layout.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}



{% block header %}
  {% include "another-decision-0-0-2/call-status.html" %}
{% endblock %}
{% block content %}

{% include "another-decision-0-0-2/record-id.html" %}

<form action="application-6-about" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Preparing food
          </h1>

          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Original decision justification</h3>

          <p class="govuk-body govuk-!-margin-bottom-2">
            I see that you do XYZ.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-8">
            I see that you do XYZ.
          </p>


            {{ govukRadios({
              idPrefix: "application-1-about-a1",
              name: "application-1-about-a1",
              fieldset: {
                legend: {
                  text: "The previous decision scored 6 points for this activity. Do you agree?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: ""
              },
              classes: "govuk-radios",
              items: [
              {
                value: "Agree",
                text: "Yes",
                checked: (data["application-1-about-a1"] == "Agree")
              },
              {
                value: "Amended",
                text: "No",
                checked: (data["application-1-about-a1"] == "Amended"),
                      conditional: {
                        html: scoreOverwite
                      }
                        },
                {
                value: "Pause",
                text: "I need to come back to this later",
                checked: (data["application-1-about-a1"] == "Pause")
              }
              ]
            }) }}



            <!-- {{ govukTextarea({
              name: "application-about-a1-reason",
              id: "application-about-a1-reason",
              classes: " govukTextarea--overwrite govuk-!-margin-bottom-8",
              label: {
                text: "Justification",
                classes: "govuk-label--m",
                isPageHeading: true
              },
              hint: {
                html: legendCanned
              },
              value: data["application-about-a1-reason"]
            }) }} -->


          {{ govukButton({
            text: "Continue"
          }) }}


        </div>
      </div>

  </form>

{% endblock %}
