{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
{% include "an-de-mr-call-bar-notes.html" %}
{% endblock %}
{% block content %}

<form action="cya-letter-review" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "another-decision-0-0-2/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You need to move this to PIPcs</h1>

      <p class="govuk-body govuk-!-margin-bottom-2">XXX:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>XXX</li>

      </ul>


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
