{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
{% include "an-de-mr-call-bar-notes.html" %}
{% endblock %}
{% block content %}

<form action="help-accessing-person-record" method="post" class="form">




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "another-decision-0-0-2/record-id-base.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Creating processing notes</h1>

      <p class="govuk-body govuk-!-font-size-27 govuk-!-margin-bottom-6">To help you keep track of your thoughts 'My processing notes' will be at the top of all screens moving forward.</p>

      <p class="govuk-body govuk-!-margin-bottom-2">What is person record:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>Help you make notes page by page allowing you copy and paste within the serivce </li>
        <li>These notes will follow you along the entire Manitroy recondixeration and call processes</li>
        <li>They will save once a minute, or you can save sooner</li>
        <li>The service will ask you to tidy your notes at the end, you might not need to keep them all</li>
        <li>The notes will help you with QA when you are on a call</li>
        <li>Dressing and undressing</li>
</ul>

{{ govukRadios({
  idPrefix: "help-processing-notes",
  name: "help-processing-notes",
  classes: "govuk-checkboxes",
  fieldset: {
    legend: {
      text: "Do you want to see this help page next time?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    html: ""
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: (data["help-processing-notes"] == "Yes")
    },
    {
      value: "No",
      text: "No",
      checked: (data["help-processing-notes"] == "No")
    }
  ]
}) }}

{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-8"
}) }}

        </div>
      </div>

  </form>

{% endblock %}
