{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "an-de-mr-call-bar-active.html" %}
{% endblock %}

{% block content %}


<form action="an-de-tasklist" method="post" class="form">

{% if data["application-selector"]  == "4" %}

{% else %}

{% endif %}


  <input type="hidden" name="find-someone-1-gather" value="true"/>
  {% include "another-decision-0-0-2/record-id-base.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Call guide</h1>


      <p class="govuk-body govuk-!-margin-bottom-2">Processing reference:</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="mr-application-overview" class="govuk-link" rel="noreferrer noopener" target="">Overview of original decision</a></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/agent/case-manager-review/event-history" class="govuk-link" rel="noreferrer noopener" target="">View full event history</a></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8"><a href="https://supporting-docs-prototype.herokuapp.com/vStarling-award/document-list" target="_blank">Supporting documents service</a></p>

      <h1 class="govuk-heading-m govuk-!-margin-bottom-4">Information needed from the call</h1>

      <p class="govuk-body govuk-!-margin-bottom-2">Remember to ask about:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>Dates that might effect award</li>
        <li>And changes that might effect award</li>
        <li>Stays in hospital or other</li>
        <li>reasons that they disagree</li>
        <li>any supporting evidence documents they refer to</li>
      </ul>

      <h1 class="govuk-heading-m govuk-!-margin-bottom-4">Wapping up the call</h1>
      <!-- <p class="govuk-body govuk-!-margin-bottom-2">Remember to ask about:</p> -->

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>To end the call, use end call process button</li>
        <li>Your notes will be saved and you can sort a the end</li>
        <li>...</li>
        <li>...</li>
      </ul>


      <!-- {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }} -->

        </div>
      </div>

  </form>

{% endblock %}
