{% extends "layout.html" %}

{% block pageTitle %}
  Condition 3
{% endblock %}

{% block main %}
<!--<div class="govuk-width-container">-->
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Jane Doe</dt>
        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">QQ 12 34 56 C</dt>
        <!--  <strong class="govuk-tag govuk-tag--grey" id="tag">In review</strong> -->
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
      </div>
    </dl>
</section>


<div class="govuk-width-container">
    <div class="column-full">
      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="personal-details">Personal details</a>
          </li>
          <li>
            <a href="supporting-documents">Supporting documents</a>
          </li>
          <li>
              <a href="conditions" class="active" aria-current="section">Conditions</a>
          </li>
          <li>
              <a href="activities">Activities</a>
          </li>
          <!--<li>
            <a href="summary">Questions and answers</a>
          </li>-->
        </ul>
      </nav>
    </div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">

<!--<div class="govuk-grid-column-one-quarter">
     <nav class="moj-side-navigation" aria-label="Side navigation">
        <!-- <h4 class="moj-side-navigation__title">Conditions</h4>-->
         <!--<ul class="moj-side-navigation__list">
           <li class="moj-side-navigation__item moj-side-navigation__item--active">
             <a href="condition-one" aria-current="location">Diabetes</a>
           </li>

           <li class="moj-side-navigation__item">
             <a href="condition-two">Prostate cancer</a>
           </li>

           <li class="moj-side-navigation__item">
             <a href="condition-three">Angina</a>
           </li>
           <li class="moj-side-navigation__item">
             <a href="condition-four">COPD</a>
           </li>
           <li class="moj-side-navigation__item">
             <a href="condition-five">Blood pressure</a>
           </li>
           <li class="moj-side-navigation__item">
             <a href="condition-six">Incontinence</a>
           </li>
           <li class="moj-side-navigation__item">
             <a href="condition-seven">Irregular heartbeat</a>
           </li>
           <li class="moj-side-navigation__item">
             <a href="condition-eight">Hot flushes</a>
           </li>
         </ul>

    <!-- <h4 class="moj-side-navigation__title">Section 2</h4>
         <ul class="moj-side-navigation__list">
           <li class="moj-side-navigation__item">
             <a href="#2.1">Nav item 2.1</a>
           </li>

           <li class="moj-side-navigation__item">
             <a href="#2.2">Nav item 2.2</a>
           </li>

           <li class="moj-side-navigation__item">
             <a href="#2.3">Nav item 2.3</a>
           </li>
         </ul>
     </nav> --->
     <!--</div>-->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Condition</span>
          Angina
     </h1>


  <h2 class="govuk-heading-s">Approximate start date</h2>
      <p>1 March 1995</p>


      <h3 class="govuk-heading-s">Tell us about this condition</h3>

        <p>
          Short paragraph from the claimant about their medication / tablets and the dosage.
          Any treatments you have had, you are currently having or have planned for the future (include private as well as NHS funded treatments).<br> <br>
        </p>


<!--

<h2 class="govuk-heading-m">Add a question about the claimant's condition
      <div id="condition-hint" class="govuk-hint">
            This includes the claimant's medications, treatments and side effects.
          </div>
</h2>


      <div class="govuk-form-group">
          <textarea class="govuk-textarea" id="more-detail" name="query-content" value="{{ data['query-content'] }}" rows="5"></textarea>
      </div>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "who-is-question-for",
        name: "who-is-question-for-cond-three",
        fieldset: {
          legend: {
            text: "Who is this question for?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "Unassigned",
          text: "Unassigned",
          checked: "true"
        },
        {
          value: "Claimant",
          text: "Claimant"
        },
        {
          value: "Internal medical support",
          text: "Internal medical support"
        },
        {
          value: "Internal non medical support",
          text: "Internal non medical support"
        },
        {
          value: "External health professional",
          text: "External health professional"
        }
        ]
      }) }}



      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Add question"
      }) }}
      <br><br>
</form>





<h2 class="govuk-heading-m">Questions <b id="condition-unanswered" style="display: none;">0</b></h2>


<div id="queryTable">
<table class="govuk-table" id="condition-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Question</th>
      <th scope="col" class="govuk-table__header">Answer</th>
      <th scope="col" class="govuk-table__header">Contact</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
<tbody class="govuk-table__body">
  {% for query in data['queriesConditionThree'] %}
  {% if query.section == 'angina' %}
  <tr class="govuk-table__row">
     <td class="govuk-table__cell">{{ query.textBox }}</td>
     <td class="govuk-table__cell" style="width:35%;">{{ query.answerBox }}</td>
     <td class="govuk-table__cell">{{ query.action }} </a> </td>
     <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="question-status">unanswered</strong></td>
 </tr>

{% endif %}
{% endfor %}

</tbody>
</table>
</div>

<script defer type="text/javascript">

  var noQuery = "{{ data['who-is-question-for-cond-three'] }}";

  if (noQuery) {

      document.write('');
      }
    else {
      document.write('<p class="govuk-body">No questions have been added yet.</p>');
      window.onload = function(){
      document.getElementById('queryTable').style.display = 'none';
    }
  }


  // count the number of questions in the table to assign to conditions page

                var a = document.getElementById("condition-table");
                var rows = a.rows.length -1;
                       let name = "(+rows)";
                document.getElementById("condition-unanswered").innerHTML = rows;

                // Set Item
                localStorage.setItem("unanswered-conditions3", rows );
                // Retrieve
                document.getElementById("tag-condition3").innerHTML = localStorage.getItem("unanswered-conditions3");



  </script>
  -->
</main>
    </div>



{% endblock %}
