
  <div class="govuk-!-margin-bottom-8">

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="service-app-claims" class="govuk-link" rel="noreferrer noopener">All applications in service</a></p>

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Status breakdown</h3>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="service-app-claims-inprogress" class="govuk-link" rel="noreferrer noopener" target="">In progress</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="service-app-claims-inprogress" class="govuk-link" rel="noreferrer noopener" target="">Paused</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href="service-stats-team-overview" class="govuk-link" rel="noreferrer noopener" target="">Not started</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">Back to BAU</a></p>

  </div>
