{% extends "layout-eject.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-5-tasklist" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Details about this applcition</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">This that you need to see</p>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-3">Date of assessment: 26 March 2024</p> -->

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Submission date: DD Month Year</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Status: Current</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3">Who is working on it: Agent Smith</p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3">Call to action</p>
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Age: 40 (1 January 1984)</p> -->

<br><br><br><br><br><br><br><br><br><br><br><br><br>


        </div>
      </div>

  </form>

{% endblock %}
