{% extends "layout.html" %}

{% block pageTitle %}
  Activities - Reading
{% endblock %}

{% block main %}

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Jane Doe</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">QQ 12 34 56 C</dt>
          <strong class="govuk-tag govuk-tag--grey" id="tag">In review</strong>
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
      </div>
    </dl>
</section>
<!--<style>
.govuk-next-link {
  float:right;
  font-size: 16px;
    font-size: 1rem;
    line-height: 3em
  }
.moj-side-navigation{font-family:"GDS Transport",arial,sans-serif;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:14px;font-size:.875rem;line-height:1.14286}

@media print{.moj-side-navigation{font-family:sans-serif}}
@media (min-width: 40.0625em){.moj-side-navigation{font-size:16px;font-size:1rem;line-height:1.25}}
@media print{.moj-side-navigation{font-size:14pt;line-height:1.2}}
@media (max-width: 40.0525em){.moj-side-navigation{display:flex;overflow-x:scroll}}
@media (min-width: 40.0625em){.moj-side-navigation{display:block;padding:20px 0 0}}
.moj-side-navigation__title{font-family:"GDS Transport",arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:16px;font-size:1rem;line-height:1.25;color:#505a5f;font-weight:normal;margin:0;padding:10px;padding-left:14px}
@media print{.moj-side-navigation__title{font-family:sans-serif}}
@media (min-width: 40.0625em){.moj-side-navigation__title{font-size:19px;font-size:1.1875rem;line-height:1.31579}}
@media print{.moj-side-navigation__title{font-size:14pt;line-height:1.15}}
@media (max-width: 40.0525em){.moj-side-navigation__title{display:none}}.moj-side-navigation__list{list-style:none;margin:0;padding:0}
@media (max-width: 40.0525em){.moj-side-navigation__list{display:flex;margin:0;white-space:nowrap}}
@media (min-width: 40.0625em){.moj-side-navigation__list{margin-bottom:20px}}
@media (max-width: 40.0525em){.moj-side-navigation__item{display:flex}}
.moj-side-navigation__item a,.moj-side-navigation__item a:link,.moj-side-navigation__item a:visited{background-color:inherit;color:#1d70b8;display:block;text-decoration:none}
@media (max-width: 40.0525em){.moj-side-navigation__item a,.moj-side-navigation__item a:link,.moj-side-navigation__item a:visited{border-bottom:4px solid transparent;padding:15px;padding-bottom:11px}}
@media (min-width: 40.0625em){.moj-side-navigation__item a,.moj-side-navigation__item a:link,.moj-side-navigation__item a:visited{background-color:inherit;border-left:4px solid transparent;padding:10px}}
.moj-side-navigation__item a:hover{border-color:#5694ca}.moj-side-navigation__item a:focus{color:#0b0c0c;background-color:#fd0;box-shadow:0 -2px #fd0,0 4px #0b0c0c;border-color:#0b0c0c;border-left-color:transparent;position:relative}
.moj-side-navigation__item--active a:link,.moj-side-navigation__item--active a:visited{border-color:#1d70b8;color:#1d70b8;font-weight:bold}
.moj-side-navigation__item--active a:focus{color:#0b0c0c;background-color:#fd0;box-shadow:0 -2px #fd0,0 4px #0b0c0c;border-color:#0b0c0c;border-left-color:transparent}
@media (min-width: 40.0625em){.moj-side-navigation__item--active a:link,.moj-side-navigation__item--active a:visited{background-color:#f3f2f1}
.moj-side-navigation__item--active a:focus{color:#0b0c0c;background-color:#fd0;border-color:transparent}}
</style>-->
<div class="govuk-width-container">
    <div class="column-full">
      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="../personal-details">Personal details</a>
          </li>
          <li>
            <a href="../conditions">Conditions</a>
          </li>
          <li>
            <a href="../activities" class="active" aria-current="section">Activities</a>
          </li>
          <li>

          </li>
          <li>
            <a href="../summary">Questions and answers</a>
          </li>
        </ul>
      </nav>

    </div>

<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">

   <div class="govuk-grid-row">
<!--<div class="govuk-grid-column-one-quarter">
  <nav class="moj-side-navigation" aria-label="Side navigation">
      <h4 class="moj-side-navigation__title">Day to day life</h4>
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="preparing-food" aria-current="location">Preparing food</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="taking-nutrition">Eating and drinking</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="managing-therapy">Managing treatments</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="washing-and-bathing">Washing and bathing</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="managing-toilet-needs">Using the toilet and managing incontinence</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="dressing-and-undressing">Dressing and undressing</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="communicating-verbally">Talking, listening and understanding</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="reading-and-understanding">Reading</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="engaging-face-to-face">Mixing with other people</a>
        </li>
        <li class="moj-side-navigation__item">
            <a href="budgeting">Managing money</a>
        </li>
      </ul>

  <h4 class="moj-side-navigation__title">Mobility</h4>
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="planning-and-following-journeys">Planning and following journeys</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="moving-around">Moving around</a>
        </li>
      </ul>

      <h4 class="moj-side-navigation__title">Additional information to the PIP</h4>
          <ul class="moj-side-navigation__list">
            <li class="moj-side-navigation__item">
              <a href="../additional-information">Additional Information</a>
            </li>
          </ul>
        </nav>


     </div>-->

    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Activity</span>
          Reading
     </h1>

     <h2 class="govuk-heading-s">Does your condition affect your ability to read?</h2>
     <p class="govuk-body">Yes</p>
     <br>

        <h3 class="govuk-heading-s">Tell us about the difficulties you have with reading words or symbols and how you manage them
        </h3>
      <p class="govuk-body">I am never able to read one sentence after another because I confuse the order of the letters and words. I use a portable scanner to help me understand written words more quickly.<br><br>
I have dyslexia and need to use a yellow filter to help me to read.<br><br>
Most days, I am unable to read at all because I experience double vision and am unable to focus. My partner reads for me when I am unable to do it myself.<br>  <br>



          <form action="#" method="post">
              <input type="hidden" value="{{ data.source }}"/>


          <h2 class="govuk-heading-m">Add a question</h2>
                <div class="govuk-form-group">
                    <textarea class="govuk-textarea" id="more-detail" name="query-content" value="{{ data['query-content'] }}" rows="5"></textarea>
                </div>
                <!--<input name="query-content" value="{{ data['query-content'] }}">-->

                <!-- radio buttons here -->
                {% from "govuk/components/radios/macro.njk" import govukRadios %}

                {{ govukRadios({
                  idPrefix: "who-is-question-for",
                  name: "who-is-question-for-reading",
                  fieldset: {
                    legend: {
                      text: "Who is this question for?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  items: [
                  {
                    value: "Unassigned",
                    text: "Unassigned",
                    checked: "true"
                  },
                  {
                    value: "Claimant",
                    text: "Claimant"
                  },
                  {
                    value: "Internal medical support",
                    text: "Internal medical support"
                  },
                  {
                    value: "Internal non medical support",
                    text: "Internal non medical support"
                  },
                  {
                    value: "External health professional",
                    text: "External health professional"
                  }
                  ]
                }) }}


                <!-- action button here -->
                {% from "govuk/components/button/macro.njk" import govukButton %}

                {{ govukButton({
                  text: "Add question"
                }) }}
          </form>




<!--<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Important to this case</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Notes</th>
      <th scope="col" class="govuk-table__header">Linked to</th>
    </tr>
  </thead>
  {% for taggedPrepFood in data['taggingPrepFood'] %}
  {% if taggedPrepFood.section == 'Preparing food' %}
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        {{ taggedPrepFood.tagContent }}
      </td>
      <td class="govuk-table__cell">
        {{ taggedPrepFood.action }}

      </td>
    </tr>
    {% endif %}
    {% endfor %}

  <tr class="govuk-table__row">
      <td class="govuk-table__cell">Problem with standing too long</td>
      <td class="govuk-table__cell">Atorvastatin,Tamsulosin,Moving around</td>
    </tr>

  </tbody>
</table>-->

<h2 class="govuk-heading-m">Questions</h2>

<div id="queryTable">
  <table class="govuk-table">
          <!--<caption class="govuk-table__caption govuk-table__caption--m"></caption>-->
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Question</th>
              <th scope="col" class="govuk-table__header">Answer</th>
              <th scope="col" class="govuk-table__header">Contact</th>
              <th scope="col" class="govuk-table__header">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% for query in data['queriesReading'] %}
          {% if query.section == 'reading-and-understanding' %}

          <tr class="govuk-table__row">
             <td class="govuk-table__cell">{{ query.textBox }}</td>
             <td class="govuk-table__cell" style="width:35%;">{{ query.answerBox }}</td>
             <td class="govuk-table__cell"><!-- <a href="{{ query.href }}"> -->{{ query.action }}<!-- </a> --></td>
             <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="question-status">unanswered</strong></td>
         </tr>
          {% endif %}
          {% endfor %}


        </tbody>
</table>
</div>

<script defer type="text/javascript">

  var noQuery = "{{ data['who-is-question-for-reading'] }}";

  if (noQuery) {

      document.write('');
      }
    else {
      document.write('<p class="govuk-body">No questions have been added yet.</p>');
      window.onload = function(){
      document.getElementById('queryTable').style.display = 'none';
    }
  }

  </script>

  </div>
</main>
      </div>


{% endblock %}
