{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
{% include "explore-header-global-nav-multi.html" %}
{% endblock %}
{% block content %}



<form action="entry-home" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "another-decision-0-0-5/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Days affecting payments</h1>


                  <!-- <h1 class="govuk-heading-xm govuk-!-margin-bottom-2">Arrears</h1>
                  <p class="govuk-body govuk-!-margin-bottom-0">Date application was submitted: 1 Feb 2025 to Date of decision: 1 June 2025</p> -->

                  <!-- {% include "another-decision-0-0-5/cya-payment-rates.html" %} -->

                  <br>

                  <table class="govuk-table govuk-!-padding-top-0 govuk-!-margin-bottom-2">

                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-25-percent">Date</th>
                        <th scope="col" class="govuk-table__header govuk-25-percent">Daily living</th>
                        <th scope="col" class="govuk-table__header govuk-25-percent">Mobility</th>
                        <th scope="col" class="govuk-table__header govuk-25-percent">Location</th>

                      </tr>
                    </thead>

                    <tbody class="govuk-table__body">

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">10 April 2025</td>
                        <td class="govuk-table__cell">Not paid</td>
                        <td class="govuk-table__cell">Paid</td>
                        <td class="govuk-table__cell">Care home: funded by NHS</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">11 April 2025</td>
                        <td class="govuk-table__cell">Not paid</td>
                        <td class="govuk-table__cell">Paid</td>
                        <td class="govuk-table__cell">Care home: funded by NHS</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">12 April 2025</td>
                        <td class="govuk-table__cell">Not paid</td>
                        <td class="govuk-table__cell">Paid</td>
                        <td class="govuk-table__cell">Care home: funded by NHS</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">13 April 2025</td>
                        <td class="govuk-table__cell">Not paid</td>
                        <td class="govuk-table__cell">Paid</td>
                        <td class="govuk-table__cell">Care home: funded by NHS</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">14 April 2025</td>
                        <td class="govuk-table__cell">Not paid</td>
                        <td class="govuk-table__cell">Paid</td>
                        <td class="govuk-table__cell">Care home: funded by NHS</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">15 April 2025</td>
                        <td class="govuk-table__cell">Not paid</td>
                        <td class="govuk-table__cell">Paid</td>
                        <td class="govuk-table__cell">Care home: funded by NHS</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">16 April 2025</td>
                        <td class="govuk-table__cell">Not paid</td>
                        <td class="govuk-table__cell">Paid</td>
                        <td class="govuk-table__cell">Care home: funded by NHS</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">17 April 2025</td>
                        <td class="govuk-table__cell">Not paid</td>
                        <td class="govuk-table__cell">Paid</td>
                        <td class="govuk-table__cell">Care home: funded by NHS</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">18 April 2025</td>
                        <td class="govuk-table__cell">Not paid</td>
                        <td class="govuk-table__cell">Paid</td>
                        <td class="govuk-table__cell">Care home: funded by NHS</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">19 April 2025</td>
                        <td class="govuk-table__cell">Not paid</td>
                        <td class="govuk-table__cell">Paid</td>
                        <td class="govuk-table__cell">Care home: funded by NHS</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">20 April 2025</td>
                        <td class="govuk-table__cell">Not paid</td>
                        <td class="govuk-table__cell">Paid</td>
                        <td class="govuk-table__cell">Care home: funded by NHS</td>
                      </tr>

                    </tbody>
                  </table>

      </div>
    </div>

  </form>

{% endblock %}
