{% extends "layout-process-mr.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

{% include "another-decision-0-0-5/record-id.html" %}

{{ govukBreadcrumbs({
  classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
  items: [
    {
      text: "Prepare for payment",
      href: "payability-tasklist"
    },
    {
      text: "XXX",
      href: "payability-tasklist-item-X"
    }
  ]
}) }}

<form action="payability-tasklist-item-3-cya" method="post" class="form">




      <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


          <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">
          {% if data["payability-tasklist-item-3"] == "Care home" %}
          Care home details
          {% elif data["payability-tasklist-item-3"] == "Hospital" %}
          Hospital details
          {% elif data["payability-tasklist-item-3"] == "Prison" %}
          Prison details
          {% elif data["payability-tasklist-item-3"] == "Residential school or college" %}
          Residential school or college details
          {% elif data["payability-tasklist-item-3"] == "Shelterd housing" %}
          Shelterd housing
          {% else %}
          XXX
          {% endif %}
          </h2>

          {% set dynamicName %}
                  {% if data["payability-tasklist-item-3"] == "Care home" %}
                  Care home name
                  {% elif data["payability-tasklist-item-3"] == "Hospital" %}
                  Hospital name
                  {% elif data["payability-tasklist-item-3"] == "Prison" %}
                  Prison name
                  {% elif data["payability-tasklist-item-3"] == "Residential school or college" %}
                  Residential school or college name
                  {% elif data["payability-tasklist-item-3"] == "Shelterd housing" %}
                  Shelterd housing name
                  {% else %}
                  XXX
                  {% endif %}
          {% endset -%}

          {{ govukInput({
            label: {
              html: dynamicName
            },
            id: "payability-tasklist-item-3-name",
            name: "payability-tasklist-item-3-name",
            classes: "govuk-input--width-20",
            value: data["payability-tasklist-item-3-name"]
          }) }}

          {% if data["payability-tasklist-item-3"] == "Hospital" %}
          {% set stayTownCity %}

          {{ govukInput({
            label: {
              text: "Name of town or city"
            },
            classes: "govuk-input--width-10",
            id: "payability-tasklist-item-3-towncity-name",
            name: "payability-tasklist-item-3-towncity-name",
            classes: "govuk-input--width-20",
            autocomplete: "address-towncity"
          }) }}

          {% endset -%}

          {{ govukRadios({
            classes: "govuk-radios govuk-!-margin-bottom-4",
            idPrefix: "payability-tasklist-item-3-towncity-uk",
            name: "payability-tasklist-item-3-towncity-uk",
            fieldset: {
              legend: {
                html: "Is this [X] stay in the UK?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              html: dynamicHint
            },
            items: [
            {
              value: "Yes",
              text: "Yes",
              checked: (data["payability-tasklist-item-3-towncity-uk"] == "Yes"),
                conditional: {
                  html: stayTownCity
                }
            },
            {
              value: "No",
              text: "No",
              checked: (data["payability-tasklist-item-3-towncity-uk"] == "No"),
                conditional: {
                  html: stayTownCity
                }
            }
            ]
            }) }}

            {% else %}

            {{ govukInput({
              label: {
                text: "Name of town or city"
              },
              classes: "govuk-input--width-10",
              id: "payability-tasklist-item-3-towncity-name",
              name: "payability-tasklist-item-3-towncity-name",
              classes: "govuk-input--width-20",
              autocomplete: "address-towncity"
            }) }}

            {% endif %}


<!-- ————————————————————— -->

    {% set dynamicFundingType %}

    {{ govukTextarea({
      name: "payability-tasklist-item-3-funding-details",
      id: "payability-tasklist-item-3-funding-details",
  rows: "3",
  label: {
    text: "",
    classes: "govuk-label--s",
    isPageHeading: true
  },
  hint: {
    text: "Funding details"
  },
  value: data["payability-tasklist-item-3-funding-details"]
}) }}

    {% endset -%}

    <br>

    {{ govukRadios({
      idPrefix: "payability-tasklist-item-3-funding-type",
      name: "payability-tasklist-item-3-funding-type",
      fieldset: {
        legend: {
          text: "How was the person's stay funded?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m "
        }
      },
      items: [
    {
      value: "The person funds it themselves",
      text: "The person funds it themselves",
      checked: (data["payability-tasklist-item-3-funding-type"] == "The person funds it themselves")
      },
      {
      value: "By the NHS",
      text: "By the NHS",
      checked: (data["payability-tasklist-item-3-funding-type"] == "By the NHS"),
        conditional: {
          html: dynamicFundingType
        }
      },
      {
      value: "By the local authority",
      text: "By the local authority",
      checked: (data["payability-tasklist-item-3-funding-type"] == "By the local authority"),
        conditional: {
          html: dynamicFundingType
        }
      },
      {
      value: "Not known",
      text: "Not known",
      checked: (data["payability-tasklist-item-3-funding-type"] == "Not known"),
        conditional: {
          html: dynamicFundingType
        }
      }
      ]
    }) }}

    <!-- ————————————————————— -->


    <!-- ————————————————————— -->


        {{ govukDateInput({
          id: "payability-tasklist-item-3-date-in",
          namePrefix: "payability-tasklist-item-3-date-in",
          fieldset: {
            legend: {
              html: "Date they entered the [X]",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
            }
          },
          hint: {
            html: ""
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data["payability-tasklist-item-3-date-in-day"]
            },

            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data["payability-tasklist-item-3-date-in-month"]
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data["payability-tasklist-item-3-date-in-year"]
            }
          ]
        }) }}

        {% set stayEnd %}

        {{ govukDateInput({
          id: "payability-tasklist-item-3-date-3-out",
          namePrefix: "payability-tasklist-item-3-date-out",
          fieldset: {
            legend: {
              html: "Date they left the [X]",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
            }
          },
          hint: {
            html: ""
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data["payability-tasklist-item-3-date-out-day"]
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data["payability-tasklist-item-3-date-out-month"]
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data["payability-tasklist-item-3-date-out-year"]
            }
          ]
        }) }}

        {% endset -%}

        {% set OutCheckHeader %}

        Are they currently in a

        {% if data["payability-tasklist-item-3"] == "Care home" %}
        care home?
        {% elif data["payability-tasklist-item-3"] == "Hospital" %}
        hospital?
        {% elif data["payability-tasklist-item-3"] == "Prison" %}
        prison?
        {% elif data["payability-tasklist-item-3"] == "Residential school or college" %}
        residential school or college?
        {% else %}
        XXX
        {% endif %}

        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios govuk-!-margin-bottom-4",
          idPrefix: "payability-tasklist-item-3-date-out-check",
          name: "payability-tasklist-item-3-date-out-check",
          fieldset: {
            legend: {
              html: OutCheckHeader,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            html: dynamicHint
          },
          items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["payability-tasklist-item-3-date-out-check"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["payability-tasklist-item-3-date-out-check"] == "No"),
              conditional: {
                html: stayEnd
              }
          }
          ]
          }) }}


          {{ govukTextarea({
            name: "payability-tasklist-item-3-contact",
            id: "payability-tasklist-item-3-contact",
            label: {
              text: "Can you provide more detail?"
            },
            value: data["payability-tasklist-item-3-contact"]
          }) }}


        <!-- ————————————————————— -->

          {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-bottom-8"
          }) }}

            </div>
          </div>

      </form>

    {% endblock %}
