{% extends "layout.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}

{% block header %}
  {% include "explore-header-global-nav-multi.html" %}
{% endblock %}
{% block content %}


{% include "another-decision-0-0-5/record-id-base.html" %}

<form action="r-flags#r-flags-task-add-as-marker" method="post" class="form">
  <!-- <input type="hidden" name="appointees-telephone" value="new"/> -->

  <div class="govuk-grid-row">



    <div class="govuk-grid-column-two-thirds">




      {{ govukRadios({
        idPrefix: "r-flags-task-add-as",
        name: "r-flags-task-add-as",
        classes: "govuk-checkboxes",
        fieldset: {
          legend: {
            text: "Do you need to add an additional support?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          html: "Use this if there is evidence that the person has a severe mental health or behavioural condition, learning difficulty, developmental disorder or memory problems."
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["r-flags-task-add-as"] == "Yes")
          },

          {
            value: "No",
            text: "No",
            checked: (data["r-flags-task-add-as"] == "No")
          }
        ]
      }) }}




      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
