{% extends "layout.html" %}
{% block main %}

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Jim Smith</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">QQ 12 34 56 X</dt>
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>5 January 1978</dd>
      </div>
    </dl>
</section>

    <div class="govuk-width-container">
      <a href="task-list" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


    {% from "govuk/components/table/macro.njk" import govukTable %}

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">Contact the claimant</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Issue</th>
          <th scope="col" class="govuk-table__header">Date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for query in data['queries'] %}
          {% if query.action == 'The claimant' %}
        <tr class="govuk-table__row">
        <!--  <td scope="row" class="govuk-table__cell"><a href="action-query-view">Contact the  claimant</a></td>-->
          <td scope="row" class="govuk-table__cell">
                {{ query.content }}
          </td>
          <td class="govuk-table__cell">05 July 2021</td>
        </tr>
        {% endif %}
        {% endfor %}


        {% for query in data['queriesCondition'] %}
        {% if query.action == 'The claimant' %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {{ query.content }}
            </td>
            <td class="govuk-table__cell">
              05 July 2021
            </td>
          </tr>
          {% endif %}
          {% endfor %}

          {% for query in data['queriesEvidence'] %}
          {% if query.action == 'The claimant' %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                {{ query.evidence }}
              </td>
              <td class="govuk-table__cell">
                  05 July 2021
              </td>
            </tr>
            {% endif %}
            {% endfor %}
      </tbody>
    </table>



    </div>

  </div>


        </main>
      </div>

{% endblock %}
