{% extends "layout.html" %}
{% block main %}

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Jim Smith</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">QQ 12 34 56 X</dt>
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>5 January 1978</dd>
      </div>
    </dl>
</section>

<div class="govuk-width-container">

  <a href="questions-claimant" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-l">How often are your Angina attacks?

              </h1>


              {% set pastDayHtml %}
              <h2 class="govuk-heading-m">Answer</h2>

              {% for questions in data['queriesPrepFood'] %}
              {% if questions.action == "The claimant" %}
                <h3 class="govuk-heading-s">Source
                   <p>{{ questions.section }}</p></h3>

                {% endif %}
                {% endfor %}


      <form action="questions-claimant" method="post">
          <input type="hidden" value="{{ data.source }}"/>
                <div class="govuk-form-group">

                      <textarea class="govuk-textarea" id="answers" name="answer" value="{{ data['answered'] }}" rows="5"></textarea>
                </div>

                {{ govukRadios({
                      classes: "govuk-radios--inline",
                      idPrefix: "changed-name",
                      name: "changed-name",
                      fieldset: {
                        legend: {
                          text: "Has this answered your question?",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--m"
                        }
                      },
                      items: [
                        {
                          value: "yes",
                          text: "Yes"
                        },
                        {
                          value: "no",
                          text: "No"
                        }
                      ]
                }) }}

                {{ govukButton({
                    text: "Save and continue"
                }) }}

            </form>
              {% endset -%}

              {% set pastWeekHtml %}

          <h2 class="govuk-heading-m">Claimant's account</h2>
             <p class="govuk-body">On a good day I can use a microwave, but have difficult using an oven.
                                    Bending and standing too long gives me pain in lower back and hips. On a bad day,
                                    if i get angina attack, hot flushes, dizzy spell, nothing gets done.
                                    Bad days more often than not.</p>

        <!--       {{ govukTable({
              head: [
                {
                  text: "Question in PIP2"
                },
                {
                  text: "Answer"
                }
              ],
              rows: [
                [
                  {
                    text: "Do you need to use an aid or appliance to prepare or cook a simple meal?"
                  },
                  {
                    text: "No"
                  }
                ],
                [
                  {
                    text: "Do you need help from another person to prepare or cook a simple meal?"
                  },
                  {
                    text: "Yes"
                  }
                ]
              ]
              }) }}
              {% endset -%}


              {% set pastMonthHtml %}

              {% endset -%}
              {{ govukTabs({
              items: [
                {
                  label: "Answer",
                  id: "past-day",
                  panel: {
                    html: pastDayHtml
                  }
                },
                {
                  label: "View claimant's account ",
                  id: "past-week",
                  panel: {
                    html: pastWeekHtml
                  }
                }
              ]
              }) }}
-->
<br>
            </div>

  </div>
</main>
</div>

{% endblock %}
