{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-5-about-clear" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-8/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">New application overview</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-1">Application submitted: 25 January 2024</p>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-3">Date of assessment: 1 February 2024</p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Primary condition: Back pain</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3">Secondary condition: Anxiety</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Age: 40 (1 January 1984)</p>


      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3">Secondary condition: Anxiety</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Age: 40 (1 January 1984)</p>

      Daily living: Functional restrictions
Have they had the functional restriction for at least 3 months?	Yes
Are they likely to have the functional restriction in 9 months?

Mobility: Functional restrictions

Have they had the functional restriction for at least 3 months?	Yes
Are they likely to have the functional restriction in 9 months?

<br>
      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
