
            {% extends "layout.html" %}

            {% block pageTitle %}
              Process a PIP application
            {% endblock %}

            {% block header %}
             {% include "explore-header-global-nav-multi.html" %}
            {% endblock %}

            {% block content %}


            <form action="application-5-about" method="post" class="form">

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                  {% include "agent-0-8/record-id.html" %}

                  <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">


                    {% if data["application-5-about-a12"] == "Agree" %}

                      You are selecting Descriptor A (0 points) for Making budgeting decisions

                    {% elif data["application-5-about-a12"] == "Amended" %}

                      You are selecting

                      {% if data["application-5-about-a12-score-overwrite"] == "a1" %}
                        <strong>Descriptor A (0 points)</strong>
                      {% elif data["application-5-about-a12-score-overwrite"] == "b2" %}
                        <strong>Descriptor B (2 points)</strong>
                      {% elif data["application-5-about-a12-score-overwrite"] == "c4" %}
                        <strong>Descriptor C (4 points)</strong>
                      {% elseif data["application-5-about-a12-score-overwrite"] == "d6" %}
                        <strong>Descriptor D (6 points)</strong>
                      {% endif %}

                      for Making budgeting decisions

                    {% else %}
                    Nowt
                    {% endif %}


                    </h2>



                    <p class="govuk-body govuk-!-margin-bottom-2">Add your reason for changing the descriptor to the decision letter</p>

                  <!------------H1 LEGEND------------>
                    {% set legendCannedDetails %}


                    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.12.0/cdn/components/copy-button/copy-button.js"></script>

                    <ul class="govuk-list govuk-list">

                      <li class="govuk-list_prase"><span id="prase1">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100</span>	&nbsp; <sl-copy-button from="prase1"></sl-copy-button></li>
                      <li class="govuk-list_prase"><span id="prase2">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</span>	&nbsp; <sl-copy-button from="prase2"></sl-copy-button></li>
                      <li class="govuk-list_prase"><span id="prase3">Prase 3 over and over again</span>	&nbsp; <sl-copy-button from="prase3"></sl-copy-button></li>
                      <li class="govuk-list_prase"><span id="prase4">Prase 4 over and over again</span>	&nbsp; <sl-copy-button from="prase4"></sl-copy-button></li>
                      <li class="govuk-list_prase"><span id="prase5">Somethign new dave has added </span>	&nbsp; <sl-copy-button from="prase5"></sl-copy-button></li>

                    </ul>

                    {% endset %}

                    {% set legendCanned %}

                    {{ govukDetails({
                      summaryText: "Standard phrase selector",
                      classes: "govuk-!-margin-bottom-0",
                      html: legendCannedDetails
                    }) }}
                  <!-- <<<<<<< HEAD -->
                  <!-- <br><br> -->
                  <!-- Or if you dont want to have it in the deatils reveal, then you can have it at higher level, but it wold be here all the time<br><br>
                  =======
                  <br><br>
                  @dave Or if you dont want to have it in the deatils reveal, then you can have it at higher level, but it wold be here all the time<br><br>
                  >>>>>>> 4cebd8684675696538911c4a0d5542ee528f6704
                    <p class="govuk-body govuk-!-margin-bottom-2">For Making budgeting decisions the scores can be:</p>

                    <ul class="govuk-list govuk-list">
                      <li>Descriptor A (0 points): Can manage complex budgeting decisions unaided</li>
                      <li>B = 2</li>
                      <li>C = 3</li>
                    </ul> -->

                    {% endset %}
                  <!------------Legend--------------->



                  {{ govukTextarea({
                    name: "application-5-about-a12-reason",
                    id: "application-5-about-a12-reason",
                    classes: " govukTextarea--overwrite",
                    label: {
                      text: "",
                      classes: "govuk-label--m",
                      isPageHeading: true
                    },
                    hint: {
                      html: legendCanned
                    },
                    value: "Blank"
                  }) }}

                  {{ govukButton({
                    text: "Continue",
                    classes: "govuk-!-margin-bottom-8"
                  }) }}

                    </div>
                  </div>

              </form>

            {% endblock %}
