{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


{% if data["application-5-about-a1-ap-justification-overwrite"]  %}
<form action="application-5-letter-review" method="post" class="form">
{% else %}
<form action="application-5-about-a-autofill" method="post" class="form">
{% endif %}



  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

      {% include "agent-0-8/record-id.html" %}

      <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">Edit the reason for selecting Descriptor E (4 points)</h2>


      <!------------LIST LEGEND------------>
        {% set dynamicHint %}

        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
          Do not use</p>

          <ul class="govuk-list govuk-!-padding-top-0 govuk-!-margin-bottom-4 govuk-list--bullet">
            <li>
              The content might not be great for citizens</li>
            <li>
              Newspeak
            </li>
            <li>
              Doublethink
            </li>
            <li>
              Acronyms
            </li>
            <li>
              Jargon
            </li>
          </ul> -->

        {% endset %}
      <!------------Legend--------------->

      {{ govukTextarea({
        name: "application-5-about-a1-ap-justification-overwrite",
        id: "application-5-about-a1-ap-justification-overwrite",
        classes: " govukTextarea--overwrite",
        label: {
          text: "",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          html: dynamicHint
        },
        value: "Your care plan ('Care plan 2022' on DRS) outlines the difficlty you have with preparing food and I agree with its findings.
You have difficulty preparing meals. You can make yourself drinks and sandwiches but need to be supervised to make a meal.
You lack the drive to prepare a meal regularly and tend to break off from cooking and this has resulted in you burning food and leaving pans to boil over.
You get most of your full meals from the drop-in centre and your support worker supervises you to put ready-made meals in the oven twice a week. During periods of low mood, Jeff does not respond readily to prompting and will not make yourself meals.
This is why I have selected 1E."
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
