
            {% extends "layout.html" %}

            {% block pageTitle %}
              Process a PIP application
            {% endblock %}

            {% block header %}
             {% include "explore-header-global-nav-multi.html" %}
            {% endblock %}

            {% block content %}


            <form action="application-5-about" method="post" class="form">

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                  {% include "agent-0-8/record-id.html" %}

                  <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">


                    {% if data["application-5-about-a12"] == "Agree" %}

                      You are selecting Descriptor A (0 points) for Making budgeting decisions

                    {% elif data["application-5-about-a12"] == "Amended" %}

                      You are selecting

                      {% if data["application-5-about-a12-score-overwrite"] == "a1" %}
                        <strong>Descriptor A (0 points)</strong>
                      {% elif data["application-5-about-a12-score-overwrite"] == "b2" %}
                        <strong>Descriptor B (2 points)</strong>
                      {% elif data["application-5-about-a12-score-overwrite"] == "c4" %}
                        <strong>Descriptor C (4 points)</strong>
                      {% elseif data["application-5-about-a12-score-overwrite"] == "d6" %}
                        <strong>Descriptor D (6 points)</strong>
                      {% endif %}

                      for Making budgeting decisions

                    {% else %}
                    Nowt
                    {% endif %}


                    </h2>



                    <p class="govuk-body govuk-!-margin-bottom-2">Add your reason for changing the descriptor to the decision letter</p>


                    <!------------CANNED PHRASES LEGEND------------>
                      {% set legendCannedDetails %}


                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                          <p class="govuk-body govuk-!-margin-bottom-2">Something about prep food</p>


                        </div>
                        <div class="govuk-grid-column-three-quarters">

                          <p class="govuk-list_prase"><span id="prase1">Para1 This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</span></p>


                          <div class="app-example__code">
                              <button class="app-example__copy-code-button" data-copy-text="Para1 This is appropriate dummy text that is being employed in order to ascertain an approximate. length because the actual copy has not yet been received." aria-live="assertive" data-module="html">Copy paragraph</button>
                            </div>

                        </div>
                      </div>


                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                          <p class="govuk-body govuk-!-margin-bottom-2">Not relevent</p>


                        </div>
                        <div class="govuk-grid-column-three-quarters">

                          <p class="govuk-list_prase"><span id="prase2">Para2 This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</span></p>


                          <div class="app-example__code">
                              <button class="app-example__copy-code-button" data-copy-text="Para2 This is appropriate dummy text that is being employed in order to ascertain an approximate. length because the actual copy has not yet been received." aria-live="assertive" data-module="html">Copy paragraph</button>
                            </div>

                        </div>
                      </div>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                          <p class="govuk-body govuk-!-margin-bottom-2">You will be getting this</p>


                        </div>
                        <div class="govuk-grid-column-three-quarters">

                          <p class="govuk-list_prase"><span id="prase3">Para3 This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</span></p>


                          <div class="app-example__code">
                              <button class="app-example__copy-code-button" data-copy-text="Para3 This is appropriate dummy text that is being employed in order to ascertain an approximate. length because the actual copy has not yet been received." aria-live="assertive" data-module="html">Copy paragraph</button>
                            </div>

                        </div>
                      </div>

                      {% endset %}

                      {% set legendCanned %}

                      {{ govukDetails({
                        summaryText: "Standard phrase selector",
                        classes: "govuk-!-margin-bottom-0",
                        html: legendCannedDetails
                      }) }}

                      {% endset %}
                    <!------------Legend--------------->



                  {{ govukTextarea({
                    name: "application-5-about-a12-reason",
                    id: "application-5-about-a12-reason",
                    classes: " govukTextarea--overwrite",
                    label: {
                      text: "",
                      classes: "govuk-label--m",
                      isPageHeading: true
                    },
                    hint: {
                      html: legendCanned
                    },
                    value: "Blank"
                  }) }}

                  {{ govukButton({
                    text: "Continue",
                    classes: "govuk-!-margin-bottom-8"
                  }) }}

                    </div>
                  </div>

              </form>

            {% endblock %}
