{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="entry-home" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-5/record-id-base.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Payment details</h1>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Add the following payment details to the applicant's decision letter. You will then need to send the letter to them.</p>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><b>Daily living breakdown</b></p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Weekly rate: £108.55</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Start date: DD MM YYYY</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">End date: DD MM YYYY</p>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><b>Mobility breakdown </b></p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Weekly rate: £75.75</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Start date: DD MM YYYY</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">End date: DD MM YYYY</p>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><b>Your payments</b></p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">First payment: £5000</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Frequency of payment: 4 weeks</p>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">Day we will pay them: Monday</p>





      {{ govukButton({
        text: "Finish and close",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
