{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-6-view-evidence-b" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-5/record-id.html" %}

                <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Tell the service that you used, that was suppporting</h2>

                <!------------H1 LEGEND------------>
                  {% set dynamicDivide %}

                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


                      {% endset %}
                <!------------Legend--------------->


                <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Information that is from XXX </h2>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">Do not add documents that did not support the applciation</p>


                                    <div class="govuk-grid-row">
                                      <div class="govuk-grid-column-one-third">
                                        <h1 class="govuk-heading-l">C</h1>
                                      </div>

                                      <div class="govuk-grid-column-two-third govuk-!-margin-bottom-0">

                                      {{ govukCheckboxes({
                                        idPrefix: "application-evidence-used",
                                        name: "application-evidence-used",
                                        classes: "govuk-checkboxes--small",
                                        fieldset: {
                                          legend: {
                                            text: "",
                                            isPageHeading: true,
                                            classes: "govuk-fieldset__legend--m"
                                          }
                                        },
                                        items: [
                                          {
                                            value: "111",
                                            text: " care home",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " care plan",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " Certificate of Vision Impairment",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " community mental health team",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " health professional consultation report",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " Customer Compliance Officer",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " letter from your consultant",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " report from your consultant",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " telephone advice from your consultant",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " letter from your counsellor",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " report from your counsellor",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " telephone advice from your counsellor",
                                            checked: (data["application-evidence-used"] == "1")
                                          }
                                        ]
                                      }) }}

                                      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                      </div>
                                    </div>



                                    <div class="govuk-grid-row">
                                      <div class="govuk-grid-column-one-third">
                                        <h1 class="govuk-heading-l">D</h1>
                                      </div>

                                      <div class="govuk-grid-column-two-third">

                                      {{ govukCheckboxes({
                                        idPrefix: "application-evidence-used",
                                        name: "application-evidence-used",
                                        classes: "govuk-checkboxes--small",
                                        fieldset: {
                                          legend: {
                                            text: "",
                                            isPageHeading: true,
                                            classes: "govuk-fieldset__legend--m"
                                          }
                                        },
                                        items: [
                                          {
                                            value: "111",
                                            text: " day centre",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " claim for Disability Living Allowance",
                                            checked: (data["application-evidence-used"] == "1")
                                          }
                                        ]
                                      }) }}

                                      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                      </div>
                                    </div>

                                    <div class="govuk-grid-row">
                                      <div class="govuk-grid-column-one-third">
                                        <h1 class="govuk-heading-l">E</h1>
                                      </div>

                                      <div class="govuk-grid-column-two-third">

                                      {{ govukCheckboxes({
                                        idPrefix: "application-evidence-used",
                                        name: "application-evidence-used",
                                        classes: "govuk-checkboxes--small",
                                        fieldset: {
                                          legend: {
                                            text: "",
                                            isPageHeading: true,
                                            classes: "govuk-fieldset__legend--m"
                                          }
                                        },
                                        items: [
                                          {
                                            value: "111",
                                            text: "enquiry form",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: "the extra information you gave us",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " eye care professional's report",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " health care professional assessment for Employment and Support Allowance",
                                            checked: (data["application-evidence-used"] == "1")
                                          }
                                        ]
                                      }) }}

                                      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                      </div>
                                    </div>

                                    <div class="govuk-grid-row">
                                      <div class="govuk-grid-column-one-third">
                                        <h1 class="govuk-heading-l">F</h1>
                                      </div>

                                      <div class="govuk-grid-column-two-third">

                                      {{ govukCheckboxes({
                                        idPrefix: "application-evidence-used",
                                        name: "application-evidence-used",
                                        classes: "govuk-checkboxes--small",
                                        fieldset: {
                                          legend: {
                                            text: "",
                                            isPageHeading: true,
                                            classes: "govuk-fieldset__legend--m"
                                          }
                                        },
                                        items: [
                                          {
                                            value: "111",
                                            text: " Fraud Investigation Service",
                                            checked: (data["application-evidence-used"] == "1")
                                          }
                                        ]
                                      }) }}

                                      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                      </div>
                                    </div>

                                    <div class="govuk-grid-row">
                                      <div class="govuk-grid-column-one-third">
                                        <h1 class="govuk-heading-l">G</h1>
                                      </div>

                                      <div class="govuk-grid-column-two-third">

                                      {{ govukCheckboxes({
                                        idPrefix: "application-evidence-used",
                                        name: "application-evidence-used",
                                        classes: "govuk-checkboxes--small",
                                        fieldset: {
                                          legend: {
                                            text: "",
                                            isPageHeading: true,
                                            classes: "govuk-fieldset__legend--m"
                                          }
                                        },
                                        items: [
                                          {
                                            value: "111",
                                            text: " General Practitioner's surgery",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " letter from your General Practitioner",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " report from your General Practitioner",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " telephone advice from your General Practitioner",
                                            checked: (data["application-evidence-used"] == "1")
                                          }
                                        ]
                                      }) }}

                                      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                      </div>
                                    </div>

                                    <div class="govuk-grid-row">
                                      <div class="govuk-grid-column-one-third">
                                        <h1 class="govuk-heading-l">H</h1>
                                      </div>

                                      <div class="govuk-grid-column-two-third">

                                      {{ govukCheckboxes({
                                        idPrefix: "application-evidence-used",
                                        name: "application-evidence-used",
                                        classes: "govuk-checkboxes--small",
                                        fieldset: {
                                          legend: {
                                            text: "",
                                            isPageHeading: true,
                                            classes: "govuk-fieldset__legend--m"
                                          }
                                        },
                                        items: [
                                          {
                                            value: "111",
                                            text: " Home Office",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " hospital",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " letter from your hospital doctor",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " report from your hospital doctor",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " telephone advice from your hospital doctor",
                                            checked: (data["application-evidence-used"] == "1")
                                          }
                                        ]
                                      }) }}

                                      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                      </div>
                                    </div>

                                    <div class="govuk-grid-row">
                                      <div class="govuk-grid-column-one-third">
                                        <h1 class="govuk-heading-l">I</h1>
                                      </div>

                                      <div class="govuk-grid-column-two-third">

                                      {{ govukCheckboxes({
                                        idPrefix: "application-evidence-used",
                                        name: "application-evidence-used",
                                        classes: "govuk-checkboxes--small",
                                        fieldset: {
                                          legend: {
                                            text: "",
                                            isPageHeading: true,
                                            classes: "govuk-fieldset__legend--m"
                                          }
                                        },
                                        items: [
                                          {
                                            value: "111",
                                            text: " health care professional assessment for Incapacity Benefit",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: "the interview under caution",
                                            checked: (data["application-evidence-used"] == "1")
                                          },
                                          {
                                            value: "111",
                                            text: " claim for Industrial Injuries Disablement Benefit",
                                            checked: (data["application-evidence-used"] == "1")
                                          }
                                        ]
                                      }) }}

                                      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                      </div>
                                    </div>

                                  <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-third">
                                      <h1 class="govuk-heading-l">J</h1>
                                    </div>

                                    <div class="govuk-grid-column-two-third">

                                    {{ govukCheckboxes({
                                      idPrefix: "application-evidence-used",
                                      name: "application-evidence-used",
                                      classes: "govuk-checkboxes--small",
                                      fieldset: {
                                        legend: {
                                          text: "",
                                          isPageHeading: true,
                                          classes: "govuk-fieldset__legend--m"
                                        }
                                      },
                                      items: [
                                        {
                                          value: "111",
                                          text: "Jobcentre Plus",
                                          checked: (data["application-evidence-used"] == "1")
                                        }
                                      ]
                                    }) }}

                                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                    </div>
                                  </div>

                                  <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-third">
                                      <h1 class="govuk-heading-l">L</h1>
                                    </div>

                                    <div class="govuk-grid-column-two-third">

                                    {{ govukCheckboxes({
                                      idPrefix: "application-evidence-used",
                                      name: "application-evidence-used",
                                      classes: "govuk-checkboxes--small",
                                      fieldset: {
                                        legend: {
                                          text: "",
                                          isPageHeading: true,
                                          classes: "govuk-fieldset__legend--m"
                                        }
                                      },
                                      items: [
                                        {
                                          value: "111",
                                          text: " local authority",
                                          checked: (data["application-evidence-used"] == "1")
                                        }
                                      ]
                                    }) }}

                                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                    </div>
                                  </div>


                                  <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-third">
                                      <h1 class="govuk-heading-l">N</h1>
                                    </div>

                                    <div class="govuk-grid-column-two-third">

                                    {{ govukCheckboxes({
                                      idPrefix: "application-evidence-used",
                                      name: "application-evidence-used",
                                      classes: "govuk-checkboxes--small",
                                      fieldset: {
                                        legend: {
                                          text: "",
                                          isPageHeading: true,
                                          classes: "govuk-fieldset__legend--m"
                                        }
                                      },
                                      items: [
                                        {
                                          value: "111",
                                          text: " nurse",
                                          checked: (data["application-evidence-used"] == "1")
                                        }
                                      ]
                                    }) }}

                                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                    </div>
                                  </div>


                                  <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-third">
                                      <h1 class="govuk-heading-l">O</h1>
                                    </div>

                                    <div class="govuk-grid-column-two-third">

                                    {{ govukCheckboxes({
                                      idPrefix: "application-evidence-used",
                                      name: "application-evidence-used",
                                      classes: "govuk-checkboxes--small",
                                      fieldset: {
                                        legend: {
                                          text: "",
                                          isPageHeading: true,
                                          classes: "govuk-fieldset__legend--m"
                                        }
                                      },
                                      items: [
                                        {
                                          value: "111",
                                          text: "letter from your occupational therapist",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " report from your occupational therapist",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " telephone advice from your occupational therapist",
                                          checked: (data["application-evidence-used"] == "1")
                                        }
                                      ]
                                    }) }}

                                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                    </div>
                                  </div>


                                  <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-third">
                                      <h1 class="govuk-heading-l">P</h1>
                                    </div>

                                    <div class="govuk-grid-column-two-third">

                                    {{ govukCheckboxes({
                                      idPrefix: "application-evidence-used",
                                      name: "application-evidence-used",
                                      classes: "govuk-checkboxes--small",
                                      fieldset: {
                                        legend: {
                                          text: "",
                                          isPageHeading: true,
                                          classes: "govuk-fieldset__legend--m"
                                        }
                                      },
                                      items: [
                                        {
                                          value: "111",
                                          text: "the 'How your disability affects you' form (PIP2)",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " Pension Service",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " Primary Care Trust",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " Prison Service",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " telephone advice from your community psychiatric nurse",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " letter from your community psychiatric nurse",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " report from your community psychiatric nurse",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " letter from your physiotherapist",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " report from your physiotherapist",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " telephone advice from your physiotherapist",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " letter from your psychiatric social worker",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " report from your psychiatric social worker",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " telephone advice from your psychiatric social worker",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " letter from your psychiatrist",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " report from your psychiatrist",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " telephone advice from your psychiatrist",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " letter from your psychologist",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " report from your psychologist",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " telephone advice from your psychologist",
                                          checked: (data["application-evidence-used"] == "1")
                                        }
                                      ]
                                    }) }}

                                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                    </div>
                                  </div>


                                  <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-third">
                                      <h1 class="govuk-heading-l">R</h1>
                                    </div>

                                    <div class="govuk-grid-column-two-third">

                                    {{ govukCheckboxes({
                                      idPrefix: "application-evidence-used",
                                      name: "application-evidence-used",
                                      classes: "govuk-checkboxes--small",
                                      fieldset: {
                                        legend: {
                                          text: "",
                                          isPageHeading: true,
                                          classes: "govuk-fieldset__legend--m"
                                        }
                                      },
                                      items: [
                                        {
                                          value: "111",
                                          text: " health professional review report",
                                          checked: (data["application-evidence-used"] == "1")
                                        }
                                      ]
                                    }) }}

                                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                    </div>
                                  </div>


                                  <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-third">
                                      <h1 class="govuk-heading-l">S</h1>
                                    </div>

                                    <div class="govuk-grid-column-two-third">

                                    {{ govukCheckboxes({
                                      idPrefix: "application-evidence-used",
                                      name: "application-evidence-used",
                                      classes: "govuk-checkboxes--small",
                                      fieldset: {
                                        legend: {
                                          text: "",
                                          isPageHeading: true,
                                          classes: "govuk-fieldset__legend--m"
                                        }
                                      },
                                      items: [
                                        {
                                          value: "111",
                                          text: " health professional supplementary advice",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " school",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " social service advisor",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " social worker",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: "surveillance logs",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " letter from your specialist nurse",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " report from your specialist nurse",
                                          checked: (data["application-evidence-used"] == "1")
                                        },
                                        {
                                          value: "111",
                                          text: " telephone advice from your specialist nurse",
                                          checked: (data["application-evidence-used"] == "1")
                                        }
                                      ]
                                    }) }}

                                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                    </div>
                                  </div>


                                  <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-third">
                                      <h1 class="govuk-heading-l">T</h1>
                                    </div>

                                    <div class="govuk-grid-column-two-third">

                                    {{ govukCheckboxes({
                                      idPrefix: "application-evidence-used",
                                      name: "application-evidence-used",
                                      classes: "govuk-checkboxes--small",
                                      fieldset: {
                                        legend: {
                                          text: "",
                                          isPageHeading: true,
                                          classes: "govuk-fieldset__legend--m"
                                        }
                                      },
                                      items: [
                                        {
                                          value: "111",
                                          text: " teacher",
                                          checked: (data["application-evidence-used"] == "1")
                                        }
                                      ]
                                    }) }}

                                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                    </div>
                                  </div>


                                  <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-third">
                                      <h1 class="govuk-heading-l">X</h1>
                                    </div>

                                    <div class="govuk-grid-column-two-third">

                                    {{ govukCheckboxes({
                                      idPrefix: "application-evidence-used",
                                      name: "application-evidence-used",
                                      classes: "govuk-checkboxes--small",
                                      fieldset: {
                                        legend: {
                                          text: "",
                                          isPageHeading: true,
                                          classes: "govuk-fieldset__legend--m"
                                        }
                                      },
                                      items: [
                                        {
                                          value: "111",
                                          text: " visiting officer's report",
                                          checked: (data["application-evidence-used"] == "1")
                                        }
                                      ]
                                    }) }}

                                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

                                    </div>
                                  </div>


                                  <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-third">
                                      <h1 class="govuk-heading-l">W</h1>
                                    </div>

                                    <div class="govuk-grid-column-two-third">

                                    {{ govukCheckboxes({
                                      idPrefix: "application-evidence-used",
                                      name: "application-evidence-used",
                                      classes: "govuk-checkboxes--small",
                                      fieldset: {
                                        legend: {
                                          text: "",
                                          isPageHeading: true,
                                          classes: "govuk-fieldset__legend--m"
                                        }
                                      },
                                      items: [
                                        {
                                          value: "111",
                                          text: " Welfare Rights Advisor",
                                          checked: (data["application-evidence-used"] == "1")
                                        }
                                      ]
                                    }) }}


                                    </div>
                                  </div>


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
