<h1 class="govuk-heading-s govuk-!-margin-bottom-2">These are the issues:</h1>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">

<li>
  {% if data["assurance-sub-monolith-1-0"] == "Unexpected" %}
    1 Does the National Insurance number match what we hold in Searchlight?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-1-1"] == "Unexpected" %}
    1-1 Does their name match what we hold in Searchlight?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-1-2"] == "Unexpected" %}
    1-2 Does their address match what we hold in Searchlight?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-1-3"] == "Unexpected" %}
    1-3 Does their date of birth match what we hold in Searchlight?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-1-4"] == "Unexpected" %}
    1-4 Is there a date of death on Searchlight?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-1-5"] == "Unexpected" %}
    1-5 Do you think this application could be made under Special Rules End of Life (SREL)?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-1-6"] == "Unexpected" %}
    1-6 Do they have a representative or appointee?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-1-7"] == "Unexpected" %}
    1-7 Do they need additional support?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-1-8"] == "Unexpected" %}
    1-8 Have they withdrawn their claim?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-1-9"] == "Unexpected" %}
    1-9 Do they meet the age criteria?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-2-1"] == "Unexpected" %}
    2-1 Do they need an alternative format?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-2-2"] == "Unexpected" %}
    2-2 Do debt management have an interest in them?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-2-3"] == "Unexpected" %}
    2-3 Is there evidence of fraud present?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-2-4"] == "Unexpected" %}
    2-4 Do they have an unacceptable customer behaviour (UCB) or keep customer interactions safe (KCIS) marker?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-2-5"] == "Unexpected" %}
    2-5 Does their gender match what we hold in Searchlight?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-3-1"] == "Unexpected" %}
    3-1 Are they working abroad?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-3-2"] == "Unexpected" %}
    3-2 Do they get any foreign benefits?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-3-3"] == "Unexpected" %}
    3-3 Do they get Disability Living Allowance (DLA)?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-3-4"] == "Unexpected" %}
    3-4 Do they get Child Disability Payment (CDP) or Adult Disability Payment (ADP)?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-3-5"] == "Unexpected" %}
    3-5 Do they get Armed Forces Personal Independence Payment (AFPIP)?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-3-6"] == "Unexpected" %}
    3-6 Do they get War Pensioners' Mobility Supplement (WPMS)?
  {% else %}{% endif %}
</li>

<li>
  {% if data["assurance-sub-monolith-3-7"] == "Unexpected" %}
    3-7 Do they get Constant Attendance Allowance (CAA)?
  {% else %}{% endif %}
</li>

</ul>
