{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
{% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

{% if data["system-myopentasks-selector"]  === "2" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">My open tasks</h1>

    </div>
  </div>

  {% else %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="login-router" method="post" class="form">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You have no open tasks</h1>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Applications you have paused will remain here until they are compeleted.</p>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Tasks that are timed out will be assigned to you until midnight. You will then get them back when you request a new application to process.</p>

        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">You can start <a class="" href="system-application-selector">processing an application</a>.</p>

      </div>
    </div>

  {% endif %}




              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2">



                                {% if data["system-myopentasks-selector"]  === "2" %}

                                <table class="govuk-table">

                                  <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                      <td class="govuk-table__cell govuk-20-percent">Task created</td>
                                      <!-- <td class="govuk-table__cell govuk-15-percent">NINO</td> -->

                                      <td class="govuk-table__cell govuk-40-percent">Name</td>
                                      <td class="govuk-table__cell govuk-25-percent">Application status</td>
                                    </tr>
                                  </thead>

                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"> 1 May 2024</td>
                                    <!-- <td class="govuk-table__cell table-spacer"> NA 11 22 33 c</td> -->
                                    <td class="govuk-table__cell table-spacer"><a href="my-open-tasks-record">Jeff Bridges</a></td>
                                    <td class="govuk-table__cell table-spacer"><a href=""></a>Prepare for assessment provider</td>
                                    <!-- <td class="govuk-table__cell table-spacer">

                                      {% if data["application-1-task-t4"] == "Done" %}
                                      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                      {% elif data["application-1-task-t4"]  === "Bad" %}
                                      <strong class="govuk-tag app-task-list__apl-task-bad">Issue</strong>
                                      {% elif data["application-1-task-t4"]  === "Pause" %}
                                      <strong class="govuk-tag app-task-list__apl-task-pause">Paused</strong>
                                      {% else %}
                                      <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                      {% endif %}

                                    </td> -->


                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"> 29 June 2024</td>
                                    <!-- <td class="govuk-table__cell table-spacer"> NA 88 44 77 c</td> -->
                                    <td class="govuk-table__cell table-spacer"><a href="my-open-tasks-record">Sam Elliot</a></td>
                                    <td class="govuk-table__cell table-spacer"><a href=""></a>Prepare for decision</td>
                                    <!-- <td class="govuk-table__cell table-spacer">

                                      {% if data["application-1-task-t4"] == "Done" %}
                                      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                      {% elif data["application-1-task-t4"]  === "Bad" %}
                                      <strong class="govuk-tag app-task-list__apl-task-bad">Issue</strong>
                                      {% elif data["application-1-task-t4"]  === "Pause" %}
                                      <strong class="govuk-tag app-task-list__apl-task-pause">Paused</strong>
                                      {% else %}
                                      <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                      {% endif %}

                                    </td> -->

                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"> 15 July 2024</td>
                                    <!-- <td class="govuk-table__cell table-spacer"> NA 77 55 66 c</td> -->
                                    <td class="govuk-table__cell table-spacer"><a href="my-open-tasks-record">Julianne Moore</a></td>
                                    <td class="govuk-table__cell table-spacer"><a href=""></a>Make a decision</td>
                                    <!-- <td class="govuk-table__cell table-spacer">

                                      {% if data["application-1-task-t4"] == "Done" %}
                                      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                      {% elif data["application-1-task-t4"]  === "Bad" %}
                                      <strong class="govuk-tag app-task-list__apl-task-bad">Issue</strong>
                                      {% elif data["application-1-task-t4"]  === "Pause" %}
                                      <strong class="govuk-tag app-task-list__apl-task-pause">Paused</strong>
                                      {% else %}
                                      <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                      {% endif %}

                                    </td> -->
                                  </tr>

                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"> 15 July 2024</td>
                                    <!-- <td class="govuk-table__cell table-spacer"> NA 77 55 66 c</td> -->
                                    <td class="govuk-table__cell table-spacer"><a href="my-open-tasks-record">John Turturro</a></td>
                                    <td class="govuk-table__cell table-spacer"><a href=""></a>Needs to be moved to PIPCS</td>
                                    <!-- <td class="govuk-table__cell table-spacer">

                                      {% if data["application-1-task-t4"] == "Done" %}
                                      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                      {% elif data["application-1-task-t4"]  === "Bad" %}
                                      <strong class="govuk-tag app-task-list__apl-task-bad">Issue</strong>
                                      {% elif data["application-1-task-t4"]  === "Pause" %}
                                      <strong class="govuk-tag app-task-list__apl-task-pause">Paused</strong>
                                      {% else %}
                                      <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                      {% endif %}

                                    </td> -->
                                  </tr>

                                </table>






                                {% else %}
                                {% endif %}





                    </div>
                  </div>
    </form>
{% endblock %}
