{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="entry-home" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="entry-home" method="post" class="form">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">There are no applications to process</h1>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">Try again later.</p>
        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Go <a class="govuk-body govuk-!-font-size-19" href="#">back to my home page</a>.</p> -->



        <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Applications you have paused will remain here until they are compeleted or removed.</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">New tasks can be found using the links on my home page.</p> -->

        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Tasks that are timed out will be assigned to you until midnight. You will then get them back when you request a new application to process.</p> -->

        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">You can start <a class="" href="system-application-selector">processing an application</a>.</p> -->

        {{ govukButton({
          text: "Back to My home page",
          classes: "govuk-!-margin-bottom-8"
        }) }}

      </div>
    </div>


  </form>

{% endblock %}
