{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}
<form action="system-application-selector-router" method="post" class="form">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "system-application-selector",
  name: "system-application-selector",
  fieldset: {
    legend: {
      text: "Select a scenario",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: ""
  },
  items: [
  {
    value: "0",
    text: "Prepare TaskList (P)",
    checked: (data["system-application-selector"] == "0")
  },
  {
    value: "05",
    text: "Prepare Linear (PL)",
    checked: (data["system-application-selector"] == "05")
  },
  {
    value: "4",
    text: "Post AP checks (PAPC)",
    checked: (data["system-application-selector"] == "4")
  },
  {
    value: "1",
    text: "Nil award (N)",
    checked: (data["system-application-selector"] == "1")
  },
  {
    value: "2",
    text: "Award (A)",
    checked: (data["system-application-selector"] == "2")
  }
  ]
}) }}

        <!------------ ––– ------------>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-2">
  <div class="govuk-grid-column-two-thirds">

            {{ govukButton({
              text: "Continue",
              classes: "govuk-!-margin-bottom-8"
            }) }}

        </div>
      </div>

  </form>

{% endblock %}
