{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="entry-home" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-5a/record-id-base.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Payement detials</h1>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">What the agent needs todo next</p>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><b>Daily living breakdown</b></p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Weekly rate: £101.00</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Start date: DD September 2024</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">End date: DD September 2034</p>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><b>Mobility breakdown </b></p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Weekly rate: £101.00</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Start date: DD September 2024</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">End date: DD September 2034</p>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><b>Payments</b></p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">First payment: DD September 2024</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Frequency of payment: Every 4 weeks</p>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">Day we will pay them Monday</p>





      {{ govukButton({
        text: "Finish and close",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
