{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="entry-home" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-5a/record-id-base.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Payement detials unavailable</h1>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">This applciation will remain in <a href="my-open-tasks">my open tasks</a>  untill the payment deatils are ready for you to complete the outcome letter</p>





      {{ govukButton({
        text: "My Home Page",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
