C <br><br><br>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  <li>Care plan</li>
  <li>Certificate of Vision Impairment (CVI)</li>
  <li>Information provided by community mental health team</li>
  <li>Health professional consultation report</li>
  <li>Information provided by Customer Compliance Officer</li>
  <li>Letter from consultantReport from consultant</li>
  <li>Report from consultant</li>
  <li>Telephone advice from consultant</li>


{% if data["application-evidence-used-c"] == "c12" %}
<li>!!! Telephone advice from counsellor</li>{% else %}c12{% endif %}

{% if data["application-evidence-used-c"]  %}
<li>!!! Telephone advice from counsellor</li>{% else %}c12{% endif %}


</ul>
