

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
  {% for evidence in data["application-evidence-used-c"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
  {% for evidence in data["application-evidence-used-d"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
  {% for evidence in data["application-evidence-used-e"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
  {% for evidence in data["application-evidence-used-f"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
  {% for evidence in data["application-evidence-used-g"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  {% for evidence in data["application-evidence-used-h"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  {% for evidence in data["application-evidence-used-i"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  {% for evidence in data["application-evidence-used-j"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  {% for evidence in data["application-evidence-used-l"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  {% for evidence in data["application-evidence-used-n"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  {% for evidence in data["application-evidence-used-o"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  {% for evidence in data["application-evidence-used-p"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  {% for evidence in data["application-evidence-used-r"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  {% for evidence in data["application-evidence-used-s"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  {% for evidence in data["application-evidence-used-t"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  {% for evidence in data["application-evidence-used-v"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  {% for evidence in data["application-evidence-used-w"] %}
    <li>{{ evidence }}</li>
  {% endfor %}
</ul>
