<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      {% if data["system-scenario-selector"] == "sss1" %}

      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Ben Stiller</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">RN 11 11 11 A</p>

      {% elif data["system-scenario-selector"] == "sss2" %}

      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Milla Jovovich</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">RN 22 22 22 B</p>

      {% elif data["system-scenario-selector"] == "sss3" %}
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Will Ferrell</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">RN 33 33 33 C</p>

      {% elif data["system-scenario-selector"] == "sss4" %}
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Christian Slater</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">RN 44 44 44 D</p>

      {% else %}
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>


      {% endif %}


    </div>
  </div>
