{% extends "layout.html" %}

{% block pageTitle %}
  Condition 1
{% endblock %}

{% block main %}
<div class="govuk-width-container">
  <div class="column-full" style="height:50px; ">

<a href="../case-selector/cases-for-triage" class="govuk-back-link" id="back-link">Back to case view</a>

<div class="triage-button" style="float:right; margin-top:5px; display:inline;">
  {{ govukButton({
    text: "Triage this case",
    href: "ready-to-make-next-step"
  }) }}
</div>
</div></div>
<!--<div class="govuk-width-container">-->
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Jane Doe</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">QQ 12 34 56 C</dt>
          <strong class="govuk-tag govuk-tag--grey" id="tag">Case for triage</strong>
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
      </div>
    </dl>
</section>

<!--.govuk-next-link {
  float:right;
  font-size: 16px;
    font-size: 1rem;
    line-height: 3em
  }
.moj-side-navigation{font-family:"GDS Transport",arial,sans-serif;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:14px;font-size:.875rem;line-height:1.14286}

@media print{.moj-side-navigation{font-family:sans-serif}}
@media (min-width: 40.0625em){.moj-side-navigation{font-size:16px;font-size:1rem;line-height:1.25}}
@media print{.moj-side-navigation{font-size:14pt;line-height:1.2}}
@media (max-width: 40.0525em){.moj-side-navigation{display:flex;overflow-x:scroll}}
@media (min-width: 40.0625em){.moj-side-navigation{display:block;padding:20px 0 0}}
.moj-side-navigation__title{font-family:"GDS Transport",arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:16px;font-size:1rem;line-height:1.25;color:#505a5f;font-weight:normal;margin:0;padding:10px;padding-left:14px}
@media print{.moj-side-navigation__title{font-family:sans-serif}}
@media (min-width: 40.0625em){.moj-side-navigation__title{font-size:19px;font-size:1.1875rem;line-height:1.31579}}
@media print{.moj-side-navigation__title{font-size:14pt;line-height:1.15}}
@media (max-width: 40.0525em){.moj-side-navigation__title{display:none}}.moj-side-navigation__list{list-style:none;margin:0;padding:0}
@media (max-width: 40.0525em){.moj-side-navigation__list{display:flex;margin:0;white-space:nowrap}}
@media (min-width: 40.0625em){.moj-side-navigation__list{margin-bottom:20px}}
@media (max-width: 40.0525em){.moj-side-navigation__item{display:flex}}
.moj-side-navigation__item a,.moj-side-navigation__item a:link,.moj-side-navigation__item a:visited{background-color:inherit;color:#1d70b8;display:block;text-decoration:none}
@media (max-width: 40.0525em){.moj-side-navigation__item a,.moj-side-navigation__item a:link,.moj-side-navigation__item a:visited{border-bottom:4px solid transparent;padding:15px;padding-bottom:11px}}
@media (min-width: 40.0625em){.moj-side-navigation__item a,.moj-side-navigation__item a:link,.moj-side-navigation__item a:visited{background-color:inherit;border-left:4px solid transparent;padding:10px}}
.moj-side-navigation__item a:hover{border-color:#5694ca}.moj-side-navigation__item a:focus{color:#0b0c0c;background-color:#fd0;box-shadow:0 -2px #fd0,0 4px #0b0c0c;border-color:#0b0c0c;border-left-color:transparent;position:relative}
.moj-side-navigation__item--active a:link,.moj-side-navigation__item--active a:visited{border-color:#1d70b8;color:#1d70b8;font-weight:bold}
.moj-side-navigation__item--active a:focus{color:#0b0c0c;background-color:#fd0;box-shadow:0 -2px #fd0,0 4px #0b0c0c;border-color:#0b0c0c;border-left-color:transparent}
@media (min-width: 40.0625em){.moj-side-navigation__item--active a:link,.moj-side-navigation__item--active a:visited{background-color:#f3f2f1}
.moj-side-navigation__item--active a:focus{color:#0b0c0c;background-color:#fd0;border-color:transparent}}
</style>-->
<div class="govuk-width-container">
    <div class="column-full">
      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="personal-details">Personal details</a>
          </li>
          <li>
            <a href="conditions" class="active" aria-current="section">Conditions</a>
          </li>
          <li>
            <a href="activities">Activities</a>
          </li>
          <li>
            <a href="questions">Questions</a>
          </li>
          <li>
            <a href="summary">Summary</a>
          </li>
        </ul>
      </nav>

    </div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<!--<div class="govuk-grid-column-one-quarter">
     <nav class="moj-side-navigation" aria-label="Side navigation">
        <!-- <h4 class="moj-side-navigation__title">Conditions</h4>-->
         <!--<ul class="moj-side-navigation__list">
           <li class="moj-side-navigation__item moj-side-navigation__item--active">
             <a href="condition-one" aria-current="location">Diabetes</a>
           </li>

           <li class="moj-side-navigation__item">
             <a href="condition-two">Prostate cancer</a>
           </li>

           <li class="moj-side-navigation__item">
             <a href="condition-three">Angina</a>
           </li>
           <li class="moj-side-navigation__item">
             <a href="condition-four">COPD</a>
           </li>
           <li class="moj-side-navigation__item">
             <a href="condition-five">Blood pressure</a>
           </li>
           <li class="moj-side-navigation__item">
             <a href="condition-six">Incontinence</a>
           </li>
           <li class="moj-side-navigation__item">
             <a href="condition-seven">Irregular heartbeat</a>
           </li>
           <li class="moj-side-navigation__item">
             <a href="condition-eight">Hot flushes</a>
           </li>
         </ul>

    <!-- <h4 class="moj-side-navigation__title">Section 2</h4>
         <ul class="moj-side-navigation__list">
           <li class="moj-side-navigation__item">
             <a href="#2.1">Nav item 2.1</a>
           </li>

           <li class="moj-side-navigation__item">
             <a href="#2.2">Nav item 2.2</a>
           </li>

           <li class="moj-side-navigation__item">
             <a href="#2.3">Nav item 2.3</a>
           </li>
         </ul>
     </nav> --->
     <!--</div>-->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <main class="govuk-main-wrapper " id="main-content" role="main">

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Condition</span>
          Diabetes
     </h1>


  <h2 class="govuk-heading-m">Approximate start date</h2>
      <p>14 weeks ago</p>


      <h3 class="govuk-heading-m">Claimant's account of their condition</h3>

        <p>
          Short paragraph from the claimant about their medication / tablets and the dosage.
          Any treatments you have had, you are currently having or have planned for the future (include private as well as NHS funded treatments).<br> <br>
        </p>


<!--
<form action="#" method="post">
    <input type="hidden" value="{{ data.source }}"/>



    <h2 class="govuk-heading-m">Add a question
          <div id="condition-hint" class="govuk-hint">
                This includes the claimant's medications, treatments and side effects.
              </div>
    </h2>


      <div class="govuk-form-group">
          <textarea class="govuk-textarea" id="more-detail" name="query-content" value="{{ data['query-content'] }}" rows="5"></textarea>
      </div>


      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "who-is-question-for",
        name: "who-is-question-for-cond-one",
        fieldset: {
          legend: {
            text: "Who is this question for?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "Unassigned",
          text: "Unassigned",
          checked: "true"
        },
        {
          value: "Claimant",
          text: "Claimant"
        },
        {
          value: "Internal medical support",
          text: "Internal medical support"
        },
        {
          value: "Internal non medical support",
          text: "Internal non medical support"
        },
        {
          value: "External health professional",
          text: "External health professional"
        }
        ]
      }) }}



      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Add question"
      }) }}
      <br><br>
</form>

-->



<h2 class="govuk-heading-m">Questions</h2>


<div id="queryTable">
<table class="govuk-table">

<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Question</th>
    <th scope="col" class="govuk-table__header">Contact</th>
    <th scope="col" class="govuk-table__header">Status</th>

  </tr>
</thead>
<tbody class="govuk-table__body">
  {% for query in data['queriesConditionOne'] %}
  {% if query.section == 'diabetes' %}
 <tr class="govuk-table__row">
    <td class="govuk-table__cell">{{ query.textBox }}</td>
    <td class="govuk-table__cell"><a href="{{ query.href }}">{{ query.action }}</a></td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="list-convictions-status">unanswered</strong></td>
</tr>

{% endif %}
{% endfor %}

</tbody>
</table>
</div>

<script defer type="text/javascript">

  var noQuery = "{{ data['who-is-question-for-cond-one'] }}";

  if (noQuery) {

      document.write('');
      }
    else {
      document.write('<p class="govuk-body">No questions have been added yet.</p>');
      window.onload = function(){
      document.getElementById('queryTable').style.display = 'none';
    }
  }

  </script>
</main>
    </div>
  </div>

</div>

{% endblock %}
