{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="entry-home" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">Prototypes for research</h1>
<br>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="scenario-1/entry-home">Scenario 1</a>
  </li>
  <br>
  <li>
    <a class="govuk-link" href="scenario-2/health-condition-primary-search">Scenario 2</a>
  </li>
  <br>
  <li>
    <a class="govuk-link" href="scenario-3/entry-home">Scenario 3</a>
  </li>
  <br>
  <li>
    <a class="govuk-link" href="/person-record-0-0-1/find-someone-1-offline-gather">Find someone</a>
  </li>
  <br>

</ul>

  </form>

{% endblock %}
