{% extends "layout.html" %}
{% block main %}

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Jane Doe</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">QQ 12 34 56 C</dt>
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
      </div>
    </dl>
</section>

    <div class="govuk-width-container">
      <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    {% set mainClasses = "govuk-main-wrapper--l" %}

    {% from "govuk/components/panel/macro.njk" import govukPanel %}

    {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          {{ govukPanel({
            titleText: "You have referred this case for an assessment",
            html: ""
          }) }}

          <p class="govuk-body"> This case has now moved out of your case queue. You will still need to make this referral manually on PIPCS.</p>

          <dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Reason for assessment
    </dt>
    <dd class="govuk-summary-list__value">

 {{ data[ 'why-refer'] }}

    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Notes
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">

          {{ data[ 'why-refer-note'] }}

        <!-- Um, he's sick. My best friend's sister's boyfriend's brother's girlfriend heard from this guy who knows this kid who's going with the girl who saw Ferris pass out at 31 Flavors last night. I guess it's pretty serious.--></p>

    </dd>
  </div>
</dl>

          <h2 class="govuk-heading-m">Next steps</h2>

          <p class="govuk-body">
            <a href="#" class="govuk-link">View my case queue</a>.<br>
              <a href="#" class="govuk-link">View cases ready for assessment</a>.
          </p>
        </div>
      </div>
    {% endblock %}

        </main>
      </div>

{% endblock %}
