{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}


{% include "explore-header-global-nav-multi-call.html" %}
{% endblock %}

{% block content %}

<form action="find-someone-1-gather" method="post" class="form">
  <input type="hidden" name="find-someone-1-gather" value="true"/>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


            {{ govukRadios({
              idPrefix: "outbound-who-is-calling",
              name: "outbound-who-is-calling",
              fieldset: {
                legend: {
                  html: "So I can ask you the right security questions can I check who you are",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              hint: {
                text: "This is so that I can X"
              },
              classes: "govuk-radios",
              items: [
              {
                value: "Applicant",
                text: "Applicant",
                checked: (data["outbound-who-is-calling"] == "Applicant")
              },
              {
                value: "Delegated authority",
                text: "Power of Attorney",
                checked: (data["outbound-who-is-calling"] == "DelAuth")
              },
              {
                value: "Delegated authority",
                text: "Apponitee",
                checked: (data["outbound-who-is-calling"] == "DelAuth")
              },
              {
                value: "Delegated authority",
                text: "Personal acting body or Corporate acting body",
                checked: (data["outbound-who-is-calling"] == "DelAuth")
              },
              {
                value: "FriendHelper",
                text: "Friend or helper",
                checked: (data["outbound-who-is-calling"] == "FriendHelper")
              },
              {
                value: "Someone else",
                text: "Someone else",
                checked: (data["outbound-who-is-calling"] == "Other")
              }
              ]
            }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
