{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi-demo.html" %}
{% endblock %}

{% block content %}

<form action="entry-home" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Page not found</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">If you typed the web address, check it is correct.</p>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">If you pasted the web address, check you copied the entire address.</p>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">If the web address is correct or you selected a link or button, contact your line manager.</p>





        </div>
      </div>

  </form>

{% endblock %}
