<div class="govuk-!-margin-bottom-8">
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="has-service-stats" class="govuk-link" rel="noreferrer noopener">Overview of applications<br>within HAS</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="has-outstanding" class="govuk-link" rel="noreferrer noopener">Open applications</a></p>

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="has-clearance-time" class="govuk-link" rel="noreferrer noopener">Clearance times</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="has-lot" class="govuk-link" rel="noreferrer noopener">Applications processed<br>by Lot</a></p>

</div>
