<div class="govuk-!-margin-bottom-8">
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="has-service-stats" class="govuk-link" rel="noreferrer noopener">Overview of applications<br>reffered to HAS</a></p>
<h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-3">Status breakdown</h3>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="has-inprogress-tight" class="govuk-link" rel="noreferrer noopener">In progress</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="has-paused" class="govuk-link" rel="noreferrer noopener">Paused</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="has-closed" class="govuk-link" rel="noreferrer noopener">Closed</a></p>

<h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-3">Lot breakdown</h3>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="has-clearance-time" class="govuk-link" rel="noreferrer noopener">Processing time</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="has-lot" class="govuk-link" rel="noreferrer noopener">Refferals processed<br>and complete by Lot</a></p>

</div>
