<div class="govuk-!-margin-bottom-8">
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="has-service-stats" class="govuk-link" rel="noreferrer noopener">Overview of applications<br>within HAS</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="XXX" class="govuk-link" rel="noreferrer noopener">Clearance time</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="XXX" class="govuk-link" rel="noreferrer noopener">Outstanding work</a></p>

</div>
