{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application

{% endblock %}


{% block content %}
<form action="entry-home" method="post" class="form">
  {% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">This is content of the letter that will be sent, check before you send @dave</h1>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">This letter shows some but not all of the content, just the stuff relevant to the decision</p>

      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Applicant name: <strong>{% if data["search"] %} {{ data ["search"]}}{% else %}Jeff Bridges{% endif %}</strong></p> -->

      <!------------H1 LEGEND------------>
        {% set dynamicOutcome %}

                <ul class="govuk-list">
                  <li>
                    We can award you this until 29 August 2033.
                  </li>
                  <li>
                    We will pay £2073 into your bank account on 29 August 2023.
                  </li>
                  <li>
                    This is money that we owe you from 6 June 2023 to 29 August 2023.
                  </li>
                  <li>
                  You will then get £691 every 4 weeks from 26 September 2023.
                  </li>
                </ul>

        {% endset %}
      <!------------Legend--------------->

      <!------------H1 LEGEND------------>
        {% set dynamicList1 %}

        <ol class="govuk-list govuk-list--number">
          <li>Preparing food: <br><strong>Score of 6 out of 8</strong></li>
          <li>Taking nutrition: <br><strong>Score of 0 out of X</strong></li>
          <li>Managing therapy or monitoring a health condition: <br><strong>Score of 2 out of X</strong></li>
          <li>Washing and bathing: <br><strong>Score of 2 out of X</strong></li>
          <li>Managing toilet needs or incontinence: <br><strong>Score of 2 out of X</strong></li>
          <li>Dressing and undressing: <br><strong>Score of 2 out of X</strong></li>
          <li>Communicating verbally: <br><strong>Score of 2 out of X</strong></li>
          <li>Reading and understanding signs, symbols and words: <br><strong>Score of 0 out of X</strong></li>
          <li>Engaging with other people face to face: <br><strong>Score of 2 out of X</strong></li>
          <li>Making budgeting decisions: <br><strong>Score of 4 out of X</strong></li>

        </ol>

        {% endset %}
      <!------------Legend--------------->

      <!------------H1 LEGEND------------>
        {% set dynamicList2 %}

        <ol class="govuk-list govuk-list--number">
          <li>Planning and following journeys: <br><strong>Score of 4 out of X</strong></li>
          <li>Moving around: <br><strong>Score of 8 out of X</strong></li>
        </ol>
        {% endset %}
      <!------------Legend--------------->


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Jeff Bridges"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "St. James' Park<br>Newcastle Upon Tyne<br>NE1 4ST"
            }
          },
          {
            key: {
              text: "Outcome"
            },
            value: {
              html: "This is the highest award rate."
            }
          },
          {
            key: {
              text: "Payments"
            },
            value: {
              html: dynamicOutcome
            }
          },
          {
            key: {
              text: "Note from the processing agent"
            },
            value: {
              html: data["application-1-letter-edit"]
            },
            actions: {
              items: [
                {
                  href: "application-1-letter-edit",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Daily Living"
            },
            value: {
              html: dynamicList1
            }
          },
          {
            key: {
              text: "Mobility"
            },
            value: {
              html: dynamicList2
            }
          }
        ]
      }) }}



<br>

      <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->



            {{ govukRadios({
              idPrefix: "application-1-letter-review",
              name: "application-1-letter-review",
              fieldset: {
                legend: {
                  text: "Are you happy with the letter? @dave",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: ""
              },
              classes: "govuk-radios",
              items: [
              {
                value: "Agree",
                text: "Yes",
                checked: (data["application-1-letter-review"] == "Yes")
              },
              {
                value: "Amended",
                text: "No",
                checked: (data["application-1-letter-review"] == "No")
                }
              ]
            }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


        </div>
      </div>

  </form>

{% endblock %}
