{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi-call.html" %}
{% endblock %}

{% block content %}

<form action="find-someone-1-gather" method="post" class="form">
  <input type="hidden" name="find-someone-1-gather" value="true"/>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Hello, I'm calling from the Department for Work and Pensions</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Before we start, I need to just go through <br>some security questions with you if that's ok.</p>




      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
