{% extends "layouts/main.html" %}
{% set breadcrumbs = [
  { 
    label: 'Internal service header navigation', 
    path: '/internal-service-header-navigation/'
  }
] %}

{% set bodyClasses = "dwp-flex-container" %}
{% set containerClasses = "dwp-flex-item" %}

{% block header %}
  {% include "includes/header.html" %}

  <div class="govuk-!-margin-bottom-8"></div>
  {% include "./navs/short-nav.html" %}
  
  <div class="govuk-!-margin-bottom-8"></div>
  {% include "./navs/large-nav.html" %}
  
  <div class="govuk-!-margin-bottom-8"></div>
  {% include "./navs/js-nav.html" %}
  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Some title</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum odio nulla blanditiis ad autem vel, expedita in corrupti, doloremque quibusdam adipisci sequi explicabo omnis commodi impedit? Aliquid, blanditiis culpa!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum odio nulla blanditiis ad autem vel, expedita in corrupti, doloremque quibusdam adipisci sequi explicabo omnis commodi impedit? Aliquid, blanditiis culpa!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum odio nulla blanditiis ad autem vel, expedita in corrupti, doloremque quibusdam adipisci sequi explicabo omnis commodi impedit? Aliquid, blanditiis culpa!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum odio nulla blanditiis ad autem vel, expedita in corrupti, doloremque quibusdam adipisci sequi explicabo omnis commodi impedit? Aliquid, blanditiis culpa!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum odio nulla blanditiis ad autem vel, expedita in corrupti, doloremque quibusdam adipisci sequi explicabo omnis commodi impedit? Aliquid, blanditiis culpa!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum odio nulla blanditiis ad autem vel, expedita in corrupti, doloremque quibusdam adipisci sequi explicabo omnis commodi impedit? Aliquid, blanditiis culpa!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum odio nulla blanditiis ad autem vel, expedita in corrupti, doloremque quibusdam adipisci sequi explicabo omnis commodi impedit? Aliquid, blanditiis culpa!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum odio nulla blanditiis ad autem vel, expedita in corrupti, doloremque quibusdam adipisci sequi explicabo omnis commodi impedit? Aliquid, blanditiis culpa!</p>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ dwpFooter({
    classes: "dwp-flex-item",
    meta: {
      visuallyHiddenTitle: "Meta links",
      items: [
        {
          href: "#1",
          text: "Item 1"
        },
        {
          href: "#2",
          text: "Item 2"
        },
        {
          href: "#3",
          text: "Item 3"
        }
      ]
    }
  }) }} 
{% endblock %}


