{% extends "layout.html" %}

{% block pageTitle %}
  Activities - Additional Information
{% endblock %}

{% block main %}

{% include "v13/case-review/record-id-bar.html" %}

<div class="govuk-width-container">
    <div class="column-full">
      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="../personal-details">Personal details</a>
          </li>
          <li>
            <a href="../supporting-documents">Supporting documents</a>
          </li>
          <li>
              <a href="../conditions">Conditions</a>
          </li>
          <li>
              <a href="../activities" class="active" aria-current="section">Activities</a>
          </li>
          <!--<li>
            <a href="../summary">Questions and answers</a>
          </li>-->
        </ul>
      </nav>

    </div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">

   <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Activity</span>
          Additional information
     </h1>

     <h2 class="govuk-heading-s">Is there anything else you would like to tell us about?</h2>
     <p class="govuk-body">Yes</p>
     <br>

     <h3 class="govuk-heading-s">Tell us anything else you think we should know about how your health condition or disability affects you, that you have not mentioned already.</h3>
     <p class="govuk-body">Sometimes I cannot remember my medication<br><br><br>

       <!-- SAM ELLIOT -->
       {% if data["system-application-selector"] == "2" %}
       Sam

       <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
       <p class="govuk-body govuk-!-margin-bottom-4">Yes</p>

       <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
       <p class="govuk-body govuk-!-margin-bottom-4">XXX</p>
       <p class="govuk-body govuk-!-margin-bottom-4">XXX</p>


       <!-- JEFF BRIDGES -->
       {% else %}
       Jeffs
           <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
           <p class="govuk-body govuk-!-margin-bottom-4">Yes</p>

           <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
           <p class="govuk-body govuk-!-margin-bottom-4">The muscle flinching in my right arm is worsening. The muscle finching started in 2016. As the flinches are involuntary when I peel carrots (for example), I occasionally flinch and this causes me to push beyond the end of the carrot. I am right-handed. The muscle flinching is being evaluated as it could be a result of central nervous system activity. </p>
           <p class="govuk-body govuk-!-margin-bottom-4">XXX</p>

       {% endif %}


</div>
</div>


    </main>
  </div>

{% endblock %}
