{% extends "layout.html" %}

{% block pageTitle %}
  Activities - Mixing with other people
{% endblock %}

{% block main %}

{% include "v13/case-review/record-id-bar.html" %}


<div class="govuk-width-container">
    <div class="column-full">
      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="../personal-details">Personal details</a>
          </li>
          <li>
            <a href="../supporting-documents">Supporting documents</a>
          </li>
          <li>
              <a href="../conditions">Conditions</a>
          </li>
          <li>
              <a href="../activities" class="active" aria-current="section">Activities</a>
          </li>
          <!--<li>
            <a href="../summary">Questions and answers</a>
          </li>-->
        </ul>
      </nav>

    </div>

<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">

   <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Activity</span>
          Mixing with other people
     </h1>

     <h2 class="govuk-heading-s">Does your condition affect you mixing with other people?</h2>
     <p class="govuk-body">No</p>
     <br>

        <h3 class="govuk-heading-s">Tell us about the difficulties you have when mixing with other people and how you manage them </h3>
      <p class="govuk-body">Not applicable <!-- I am always unable to meet new people by myself because I become very distressed. My carer supports me when I interact with new people so I do not become distressed.--> <br>  <br>

<!-- removing question and answer functionality --
          <form action="#" method="post">
              <input type="hidden" value="{{ data.source }}"/>


          <h2 class="govuk-heading-m">Add a question</h2>
                <div class="govuk-form-group">
                    <textarea class="govuk-textarea" id="more-detail" name="query-content" value="{{ data['query-content'] }}" rows="5"></textarea>
                </div>

                {% from "govuk/components/radios/macro.njk" import govukRadios %}

                {{ govukRadios({
                  idPrefix: "who-is-question-for",
                  name: "who-is-question-for-mixing-people",
                  fieldset: {
                    legend: {
                      text: "Who is this question for?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  items: [
                  {
                    value: "Unassigned",
                    text: "Unassigned",
                    checked: "true"
                  },
                  {
                    value: "Claimant",
                    text: "Claimant"
                  },
                  {
                    value: "Internal medical support",
                    text: "Internal medical support"
                  },
                  {
                    value: "Internal non medical support",
                    text: "Internal non medical support"
                  },
                  {
                    value: "External health professional",
                    text: "External health professional"
                  }
                  ]
                }) }}


                {% from "govuk/components/button/macro.njk" import govukButton %}

                {{ govukButton({
                  text: "Add question"
                }) }}
          </form>



<h2 class="govuk-heading-m">Questions</h2>

<div id="queryTable">
  <table class="govuk-table">

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Question</th>
              <th scope="col" class="govuk-table__header">Answer</th>
              <th scope="col" class="govuk-table__header">Contact</th>
              <th scope="col" class="govuk-table__header">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% for query in data['queriesMixing'] %}
          {% if query.section == 'face-to-face' %}

          <tr class="govuk-table__row">
             <td class="govuk-table__cell">{{ query.textBox }}</td>
             <td class="govuk-table__cell" style="width:35%;">{{ query.answerBox }}</td>
             <td class="govuk-table__cell">{{ query.action }}</td>
             <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="question-status">unanswered</strong></td>
         </tr>
          {% endif %}
          {% endfor %}

        </tbody>
</table>
</div>

<script defer type="text/javascript">

  var noQuery = "{{ data['who-is-question-for-mixing-people'] }}";
  if (noQuery) {

      document.write('');
      }
    else {
      document.write('<p class="govuk-body">No questions have been added yet.</p>');
      window.onload = function(){
      document.getElementById('queryTable').style.display = 'none';
    }
  }

  </script> -->

  </div>
</main>
      </div>


{% endblock %}
