{% extends "layout.html" %}

{% block pageTitle %}
  Activities - Managing Treatments
{% endblock %}

{% block main %}

{% include "v13/case-review/record-id-bar.html" %}

 <div class="govuk-width-container">
    <div class="column-full">
      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="../personal-details">Personal details</a>
          </li>
          <li>
            <a href="../supporting-documents">Supporting documents</a>
          </li>
          <li>
              <a href="../conditions">Conditions</a>
          </li>
          <li>
              <a href="../activities" class="active" aria-current="section">Activities</a>
          </li>
          <!--<li>
            <a href="../summary">Questions and answers</a>
          </li>-->
        </ul>
      </nav>

    </div>

<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">

   <div class="govuk-grid-row">


    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Activity</span>
          Managing treatments
     </h1>

     <h2 class="govuk-heading-s">Does your condition affect you managing your treatments?</h2>
     <p class="govuk-body">Yes</p>

     <br>
        <h3 class="govuk-heading-s">Tell us about the difficulties you have with monitoring changes in your health condition or disability and taking medication, and how you manage them
        </h3>
      <p class="govuk-body">About four days a week, I have trouble taking my arthritis medication because my wrists hurt when I try to open the pill bottle. I put my pills in a dosette box so I do not need to open the pill bottle on days when I am unable.<br>
 <br>Every evening, I have trouble monitoring my blood glucose levels because I forget and get confused on how to do it. My partner prompts me and helps me measure my blood glucose levels in the evening.<br>

        <h3 class="govuk-heading-s">Tell us about any therapies you take at home that need the help of another person
        </h3>
      <p class="govuk-body">I need home dialysis for 3 hours on Monday and Friday each week. My partner helps me set up the dialysis equipment and supervises me during the dialysis to make sure I stay safe.<br>  <br>

        <!-- SAM ELLIOT -->
        {% if data["system-application-selector"] == "2" %}
        Sam

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
        <p class="govuk-body govuk-!-margin-bottom-4">Yes</p>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
        <p class="govuk-body govuk-!-margin-bottom-4">XXX</p>
        <p class="govuk-body govuk-!-margin-bottom-4">XXX</p>


        <!-- JEFF BRIDGES -->
        {% else %}
        Jeffs
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
            <p class="govuk-body govuk-!-margin-bottom-4">Yes</p>

            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
            <p class="govuk-body govuk-!-margin-bottom-4">The muscle flinching in my right arm is worsening. The muscle finching started in 2016. As the flinches are involuntary when I peel carrots (for example), I occasionally flinch and this causes me to push beyond the end of the carrot. I am right-handed. The muscle flinching is being evaluated as it could be a result of central nervous system activity. </p>
            <p class="govuk-body govuk-!-margin-bottom-4">XXX</p>

        {% endif %}


  </div>
</main>
      </div>


{% endblock %}
