{% extends "layout.html" %}

{% block pageTitle %}
  Activities - Planning and following a journey
{% endblock %}

{% block main %}

{% include "v13/case-review/record-id-bar.html" %}


 <div class="govuk-width-container">
    <div class="column-full">
      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="../personal-details">Personal details</a>
          </li>
          <li>
            <a href="../supporting-documents">Supporting documents</a>
          </li>
          <li>
              <a href="../conditions">Conditions</a>
          </li>
          <li>
              <a href="../activities" class="active" aria-current="section">Activities</a>
          </li>
          <!--<li>
            <a href="../summary">Questions and answers</a>
          </li>-->
        </ul>
      </nav>

    </div>

<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">

   <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Activity</span>
          Planning and following a journey
     </h1>

     <h2 class="govuk-heading-s">Does your condition affect you planning and following journeys?

</h2>
     <p class="govuk-body">Yes</p>

     <br>
        <h3 class="govuk-heading-s">Difficulties you have with planning and following journeys and how you manage them
        </h3>
      <p class="govuk-body">About three times a week I am unable to go by myself to shop for food at my local shop because I am too anxious to leave the house. My carer does my shopping for me when this happens.
<br><br>
I am never able to follow a new or familiar journey safely by myself because I am unable to see. My guide dog helps me stay safe when following journeys.
I am never able to plan new journeys as I find it too difficult to understand maps. My carer plans new journeys for me and tells me how to follow them.<br>  <br>

<!-- SAM ELLIOT -->
{% if data["system-application-selector"] == "2" %}
Sam

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
<p class="govuk-body govuk-!-margin-bottom-4">Yes</p>

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
<p class="govuk-body govuk-!-margin-bottom-4">XXX</p>
<p class="govuk-body govuk-!-margin-bottom-4">XXX</p>


<!-- JEFF BRIDGES -->
{% else %}
Jeffs
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
    <p class="govuk-body govuk-!-margin-bottom-4">Yes</p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
    <p class="govuk-body govuk-!-margin-bottom-4">The muscle flinching in my right arm is worsening. The muscle finching started in 2016. As the flinches are involuntary when I peel carrots (for example), I occasionally flinch and this causes me to push beyond the end of the carrot. I am right-handed. The muscle flinching is being evaluated as it could be a result of central nervous system activity. </p>
    <p class="govuk-body govuk-!-margin-bottom-4">XXX</p>

{% endif %}


  </div>
    </main>
    </div>


{% endblock %}
