{% extends "layout.html" %}

{% block pageTitle %}
  Activities - Reading
{% endblock %}

{% block main %}

{% include "v13/case-review/record-id-bar.html" %}


<div class="govuk-width-container">
    <div class="column-full">
      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="../personal-details">Personal details</a>
          </li>
          <li>
            <a href="../supporting-documents">Supporting documents</a>
          </li>
          <li>
              <a href="../conditions">Conditions</a>
          </li>
          <li>
              <a href="../activities" class="active" aria-current="section">Activities</a>
          </li>
          <!--<li>
            <a href="../summary">Questions and answers</a>
          </li>-->
        </ul>
      </nav>

    </div>

<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">

   <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Activity</span>
          Reading
     </h1>

     <h2 class="govuk-heading-s">Does your condition affect your ability to read?</h2>
     <p class="govuk-body">Yes</p>
     <br>

        <h3 class="govuk-heading-s">Tell us about the difficulties you have with reading words or symbols and how you manage them
        </h3>
      <p class="govuk-body">I am never able to read one sentence after another because I confuse the order of the letters and words. I use a portable scanner to help me understand written words more quickly.<br><br>
I have dyslexia and need to use a yellow filter to help me to read.<br><br>
Most days, I am unable to read at all because I experience double vision and am unable to focus. My partner reads for me when I am unable to do it myself.<br>  <br>

<!-- SAM ELLIOT -->
{% if data["system-application-selector"] == "2" %}


<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Does your condition affect your ability to read?</h2>
<p class="govuk-body govuk-!-margin-bottom-4">No</p>

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Tell us about the difficulties you have with reading words or symbols and how you manage them</h2>
<p class="govuk-body govuk-!-margin-bottom-4">XXX</p>
<p class="govuk-body govuk-!-margin-bottom-4">XXX</p>


<!-- JEFF BRIDGES -->
{% else %}

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Does your condition affect your ability to read?</h2>
    <p class="govuk-body govuk-!-margin-bottom-4">No</p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Tell us about the difficulties you have with reading words or symbols and how you manage them</h2>
    <p class="govuk-body govuk-!-margin-bottom-4">XXX</p>
    <p class="govuk-body govuk-!-margin-bottom-4">XXX</p>

{% endif %}


  </div>
</main>
      </div>


{% endblock %}
