{% extends "layout.html" %}

{% block pageTitle %}
  Activities - Washing and bathing
{% endblock %}

{% block main %}

{% include "v13/case-review/record-id-bar.html" %}



<div class="govuk-width-container">
    <div class="column-full">
      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="../personal-details">Personal details</a>
          </li>
          <li>
            <a href="../supporting-documents">Supporting documents</a>
          </li>
          <li>
              <a href="../conditions">Conditions</a>
          </li>
          <li>
              <a href="../activities" class="active" aria-current="section">Activities</a>
          </li>
          <!--<li>
            <a href="../summary">Questions and answers</a>
          </li>-->
        </ul>
      </nav>
    </div>

<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Activity</span>
          Washing and bathing
     </h1>

     <h2 class="govuk-heading-s">Does your condition affect you washing and bathing?</h2>
     <p class="govuk-body">Yes</p>

     <br>
        <h3 class="govuk-heading-s">Tell us about the difficulties you have with washing and bathing and how you manage them
        </h3>
      <p class="govuk-body">For about three months of the year, I cannot motivate myself to bathe because I feel too depressed. My parents prompt me for several minutes every day to go and shower when I cannot motivate myself.
<br><br>
 About five days a week, I have difficulty washing my lower body because my back is too stiff and painful. I use a shower seat so that I can rest my back when I shower.</p>
 <br>  <br>


 <!-- SAM ELLIOT -->
 {% if data["system-application-selector"] == "2" %}
 Sam

 <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
 <p class="govuk-body govuk-!-margin-bottom-4">Yes</p>

 <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
 <p class="govuk-body govuk-!-margin-bottom-4">XXX</p>
 <p class="govuk-body govuk-!-margin-bottom-4">XXX</p>


 <!-- JEFF BRIDGES -->
 {% else %}
 Jeffs
     <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
     <p class="govuk-body govuk-!-margin-bottom-4">Yes</p>

     <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXXX</h2>
     <p class="govuk-body govuk-!-margin-bottom-4">The muscle flinching in my right arm is worsening. The muscle finching started in 2016. As the flinches are involuntary when I peel carrots (for example), I occasionally flinch and this causes me to push beyond the end of the carrot. I am right-handed. The muscle flinching is being evaluated as it could be a result of central nervous system activity. </p>
     <p class="govuk-body govuk-!-margin-bottom-4">XXX</p>

 {% endif %}

 
  </div>
</main>
      </div>


{% endblock %}
