{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}
<form action="entry-home" method="post" class="form">
  {% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      {% if data["application-5-letter-edit"] == "Yes" %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Review the edited version<br>of the letter</h1>
      {% else %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Review the letter</h1>
      {% endif %}

      <!------------H1 LEGEND------------>
        {% set dynamicOutcome %}

                <ul class="govuk-list">
                  <li>

    {% if data["application-5-award-review-check"] == "No"%}

      {% if data["application-5-award-review-date"] == "5y"%}
      <strong>We can award you this for 5 years until 29 November 2028</strong>

      {% elif data["application-5-award-review-date"] == "2y"%}
      <strong>We can award you this for 2 years until 29 November 2025</strong>

      {% elif data["application-5-award-review-date"] == "18m"%}
      <strong>We can award you this for 18 months until 29 June 2025</strong>

      {% elif data["application-5-award-review-date"] == "SPA"%}
      <strong>We can award you this for 14 months until 25 February 2025. This is when you reach State Pension age.</strong>

      {% elif data["application-5-award-review-date"] == "9m"%}
      <strong>We can award you this for 9 months until 29 August 2024</strong>

      {% elif data["application-5-award-review-date"] == "Other"%}
      <strong>We can award you this for 10 years until 29 November 2033.</strong>
      {% else %}
      {% endif %}

    {% else %}
    <strong>We can award you this for 1 year until 29 November 2024.</strong>
    {% endif %}

      </li>

      <li>
    We will contact you before this to review your claim.
      </li>

      <li>
      We will pay £350 into your bank account on 30 November 2023.
      </li>
      <li>
      This is money that we owe you from 1 November 2023 to 30 November 2023.
      </li>
      <li>
      You will then get £691 every 4 weeks from 30 December 2023.
      </li>
      </ul>

      {% endset %}
            <!------------Legend--------------->

        {% set dynamicAgentNotes %}

          {% if data["application-5-letter-edit"]%}
          Change
          {% else %}
          Add
          {% endif %}

        {% endset %}
      <!------------Legend--------------->


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Jeff Bridges"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "St. James' Park<br>Newcastle Upon Tyne<br>NE1 4ST"
            }
          },
          {
            key: {
              text: "Outcome"
            },
            value: {
              html: "Awarded enhanced for daily living and enhanced for mobility. <br><br>This is the highest award rate."
            }
          },
          {
            key: {
              text: "Payments"
            },
            value: {
              html: dynamicOutcome
            }
          },
          {
            key: {
              text: "Additional content"
            },
            value: {
              html: data["application-5-letter-edit"]
            },
            actions: {
              items: [
                {
                  href: "application-5-letter-edit",
                  html: dynamicAgentNotes,
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          }
        ]
      }) }}

      <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-6">Daily living scoring</h3>

      <!-- 1 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            1. Preparing food:
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>
              {% if data["application-5-about-a1"] == "Agree" %}     6
              {% elif data["application-5-about-a1"] == "Amended" %} {% include "agent-0-7/application-5-about-a1-scoreoverwrite.html" %}
              {% else %}
              {% endif %}
              out of 8
            </strong>

            <br>

            {% include "agent-0-7/application-5-about-a1-descriptoroverwrite.html" %}


          </dd>
        </div>

        {% if data["application-5-about-a1"] == "Amended" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-5-about-a1-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-5-about-a1-reason">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        {% elif data["application-5-about-a1-ap-justification"] == "Yes" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-5-about-a1-ap-justification-overwrite"]}}

            <br><br>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-5-about-a1-ap-justification">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>

{% elif data["application-5-about-a1-ap-justification"] == "No" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">

            <p>Your care plan ('Care plan 2022' on DRS) outlines the difficlty you have with preparing food and I agree with its findings.</p>
            <p>You have difficulty preparing meals. You can make yourself drinks and sandwiches but need to be supervised to make a meal.</p>
            <p>You lack the drive to prepare a meal regularly and tend to break off from cooking and this has resulted in you burning food and leaving pans to boil over.</p>
            <p>You get most of your full meals from the drop-in centre and your support worker supervises you to put ready-made meals in the oven twice a week. During periods of low mood, Jeff does not respond readily to prompting and will not make yourself meals.</p>
            <p>This is why I have selected 1E.

            <br><br>


          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-5-about-a1-ap-justification">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>

        {% else %}
        {% endif %}

      </dl>

      <!-- 2 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            2. Taking nutrition
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>0 out of 10 (Not claimed)</strong>

          </dd>
        </div>


      </dl>

      <!-- 3 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            3. Managing therapy or monitoring a health condition
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>2 out of 8</strong>

            <br>

            Descriptor C: Needs supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week


          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div> -->
      </dl>


      <!-- 4 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            4. Washing and bathing


          </dt>
          <dd class="govuk-summary-list__value">
            <strong>2 out of 8</strong>

            <br>
            Descriptor D: Needs assistance to be able to wash either their hair, or body below the waist

          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div> -->
      </dl>


      <!-- 5 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            5. Managing toilet needs or incontinence
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>2 out of 8</strong>

            <br>
            Descriptor C: Needs supervision or prompting to be able to manage toilet needs

          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div> -->
      </dl>


      <!-- 6 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            6. Dressing and undressing
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>
              {% if data["application-5-about-a6"] == "No-change" %}    0 out of 10 (Not claimed)
              {% elif data["application-5-about-a6"] == "Amended" %} {% include "agent-0-7/application-5-about-a6-scoreoverwrite.html" %} out of 8
              {% else %}
                0 out of 10 (Not claimed)
              {% endif %}
            </strong>

            <br>

            {% include "agent-0-7/application-5-about-a6-descriptoroverwrite.html" %}


          </dd>
        </div>

        {% if data["application-5-about-a6"] == "Amended" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-5-about-a6-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-5-about-a6-reason">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>
        {% else %}
        {% endif %}
      </dl>


      <!-- 7 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            7. Communicating verbally
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>2 out of 12</strong>

            <br>
            Descriptor B: Needs to use an aid or appliance to be able to speak or hear

          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div> -->
      </dl>


      <!-- 8 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            8. Reading and understanding signs, symbols and words
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>0 out of 8</strong>


          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div> -->
      </dl>


      <!-- 9 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            9. Engaging with other people face to face
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>2 out of 8</strong>

            <br>
            Descriptor B: Needs prompting to be able to engage with other people

          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div> -->
      </dl>


      <!-- 10 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            10. Making budgeting decisions
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>
              {% if data["application-5-about-a12"] == "Agree" %}     6
              {% elif data["application-5-about-a12"] == "Amended" %} {% include "agent-0-7/application-5-about-a12-scoreoverwrite.html" %}
              {% else %}
              {% endif %}
              out of 8
            </strong>

            <br>

            {% include "agent-0-7/application-5-about-a12-descriptoroverwrite.html" %}


          </dd>
        </div>

        {% if data["application-5-about-a12"] == "Amended" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-5-about-a12-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-5-about-a12-reason">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>
        {% else %}
        {% endif %}
      </dl>



      <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-6">Mobility scoring</h3>



            <!-- 11 -->
            <dl class="govuk-summary-list govuk-!-margin-bottom-4">
              <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                  11. Planning and following journeys
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong>4 out of 12</strong>

                  <br>
                  Descriptor B: Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant

                </dd>
              </div>

              <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                  Justification
                </dt>
                <dd class="govuk-summary-list__value">
                  This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> XXX justification</span>
                  </a>
                </dd>
              </div> -->
            </dl>

            <!-- 12 -->
            <dl class="govuk-summary-list govuk-!-margin-bottom-8">
              <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                  12. Moving around
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong>8 out of 12</strong>

                  <br>
                  Descriptor C: Can stand and then move unaided more than 20 metres but no more than 50 metres

                </dd>
              </div>

              <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                  Justification
                </dt>
                <dd class="govuk-summary-list__value">
                  This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> XXX justification</span>
                  </a>
                </dd>
              </div> -->
            </dl>


<br>

      <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->



            {{ govukRadios({
              idPrefix: "application-1-letter-review",
              name: "application-1-letter-review",
              fieldset: {
                legend: {
                  text: "Do you want to send the letter now?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: ""
              },
              classes: "govuk-radios",
              items: [
              {
                value: "Yes",
                text: "Yes",
                checked: (data["application-1-letter-review"] == "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: (data["application-1-letter-review"] == "No")
                }
              ]
            }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


        </div>
      </div>

  </form>

{% endblock %}
