{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-5-about-a-autofill" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

      {% include "agent-0-7/record-id.html" %}

      <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">Make your changes to Preparing food, this will be shown in the letter under justification for the score</h2>


      <!------------LIST LEGEND------------>
        {% set dynamicHint %}

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
          Do not use</p>

          <ul class="govuk-list govuk-!-padding-top-0 govuk-!-margin-bottom-4 govuk-list--bullet">
            <li>
              The content might not be great for citizens</li>
            <li>
              Newspeak
            </li>
            <li>
              Doublethink
            </li>
            <li>
              Acronyms
            </li>
            <li>
              Jargon
            </li>
          </ul>

        {% endset %}
      <!------------Legend--------------->

      {{ govukTextarea({
        name: "application-5-about-a1-ap-justification-overwrite",
        id: "application-5-about-a1-ap-justification-overwrite",
        label: {
          text: "XXX",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          html: dynamicHint
        },
        value: "Jeff's care plan outlines the difficulty he has with preparing food and I agree with its findings.
Jeff has difficulty preparing meals for himself. He can make himself drinks and sandwiches but needs to be supervised to make a meal.
Jeff lacks the drive to prepare a meal regularly and tends to break off from cooking and this has resulted in him burning food and leaving pans to boil over.
Jeff obtains most of his full meals from the drop-in centre and his support worker supervises him to put ready-made meals in the oven twice a week. During periods of low mood, he does not respond readily to prompting and will not make himself meals."
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
