{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-5-view-evidence" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "agent-0-7/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">View and assess this document</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-1">Application submitted: <strong>1 November 2023</strong></p>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Document supplied: <strong>22 November 2023</strong>(1 week ago)</p>
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Age: <strong>2 weeks ago</strong></p> -->
      <p class="govuk-!-font-size-19 govuk-!-margin-bottom-8"><a class="" href="pip-doc3.pdf" target="_blank">You can also view this document in a new tab or window</a></p>

      <iframe src="pip-doc3.pdf" width="100%" height="1350px" style="border:0;"></iframe>

      <br><br><br>


{% set scoreOverwite %}
    {{ govukInput({
      id: "evidence-3-name-overwrite",
      label: {
          text: "What do you want to name this document?",
          classes: "govuk-fieldset__legend--m"
      },
      hint: {
        text: ""
      },
          name: "evidence-3-name-overwrite",
          classes: "govuk-input--width-20",
          value: data["evidence-3-name-overwrite"]
      }) }}

{% endset -%}



{{ govukRadios({
  idPrefix: "evidence-3-name",
  name: "evidence-3-name",
  fieldset: {
    legend: {
      text: "Do you want to rename 'Document 3'? " ,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  classes: "govuk-radios",
  items: [
  {
    value: "Yes",
    text: "Yes",
    checked: (data["evidence-3-name"] == "Yes"),
          conditional: {
            html: scoreOverwite
          }
  },
  {
    value: "No",
    text: "No",
    checked: (data["evidence-3-name"] == "No")
  }
  ]
}) }}



{{ govukRadios({
  idPrefix: "evidence-3-grade",
  name: "evidence-3-grade",
  fieldset: {
    legend: {
      text: "Does this document support the application?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  classes: "govuk-radios",
  items: [
  {
    value: "Good",
    text: "Yes",
    checked: (data["evidence-3-grade"] == "Good")
  },
  {
    value: "Bad",
    text: "No",
    checked: (data["evidence-3-grade"] == "Bad")
    }
  ]
}) }}

{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-8"
}) }}
        </div>
      </div>

  </form>

{% endblock %}
