{% extends "layout-apply-ur.html" %}

{% block pageTitle %}
  PIP: Name Name
{% endblock %}

{% block content %}
{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="cya-3" method="post" class="form">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Add a Health Care professional</h1>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">This is only a small extract of the full service.<br>Some questions are missing.</p>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


Get rid

        {{ govukCheckboxes({
          idPrefix: "section-3-detials-3-1",
          name: "section-3-detials-3-1",
          fieldset: {
            legend: {
              text: "Will you be travelling to any of these countries?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "The UK is England, Scotland, Wales and Northern Ireland."
          },
          classes: "govuk-radios",
          items: [
          {
            value: "Getting a pension or benefit from a European Economic Area (EEA) country or Switzerland",
            text: "Getting a pension or benefit from a European Economic Area (EEA) country or Switzerland",
            checked: (data["section-3-detials-3-1"] == "1")
          },
            {
              value: "Working, paying or have paid insurance connected to work in an EEA country or Switzerland",
              text: "Working, paying or have paid insurance connected to work in an EEA country or Switzerland",
              checked: (data["section-3-detials-3-1"] == "2")
            },
              {
                value: "I'm not sure",
                text: "I'm not sure",
                checked: (data["section-3-detials-3-1"] == "3")
              }
          ]
        }) }}




        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}

        <!------------ ––– ------------>

    </div>
  </div>


  <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-1" class="govuk-link" rel="noreferrer noopener">Weekly</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-2" class="govuk-link" rel="noreferrer noopener">Monthy</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-3" class="govuk-link" rel="noreferrer noopener">Annual</a></p> -->

</form>

{% endblock %}
