{% extends "layout.html" %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Sprint 41</h1>
                  <h3 class="govuk-heading-m">Minimum viable product prototype</h3>
                 

                  {{ govukButton({
                    text: "Start MVP prototype",
                    href: "/sprint-41/minimum-viable-product/contact-details"
                  }) }}

    </div>
</div>


{% endblock %}
