{% extends "layout.html" %}

{% block pageTitle %}
  PIP MyHomePage
{% endblock %}

{% block header %}
 {% include "explore-header-home.html" %}
{% endblock %}

{% block content %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="XXX" method="post" class="form">

        {% include "agent-0-5/record-notifications.html" %}


        {% if data["application-1-task-t4"]  == "Bad"%}
        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">This application has been sent to someone who can resolve the issue. You can continue working on something else.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'error'
        }) }}

        {% elif data["application-1-outcome-letter-check"]  == "Yes"%}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">You have successfully processed this application and payments have been set up. The person has been sent an <strong>edited version of the standard letter</strong> letting them know they are entitled to Personal Independence Payment.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["application-1-outcome-letter-check"]  == "No"%}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">You have successfully processed this application and payments have been set up. The person has been sent the <strong>standard letter</strong> letting them know they are entitled to Personal Independence Payment.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["request-access"] %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Your requested service has been added to the home page.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["application-5-about-a6"] == "Amended" and data["application-5-about-a12"] == "Amended" and data["evidence-3-grade"] %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">@dave This application will need to go to a SAM, as more than two of the recomendations have been changed. This applcaiton will be pushed to a SAM and maybe be sent to an AP, you will be notified if the applcaiton will be returned to you</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["appointees-lpa-check"] == "Yes" %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Any actions have been saved. A record of the call was added to the person's account.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["inbound-1-end-call-washup"] == "2"%}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Call details and actions have been saved and added to the person's account. Internal teams will be notified. </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'Call ended'
        }) }}


        {% else %}

      {% endif %}



        <p class="govuk-heading-xl govuk-!-margin-bottom-8">My home page</p>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            {% include "agent-0-5/home-menu.html" %}




  <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-1" class="govuk-link" rel="noreferrer noopener">Weekly</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-2" class="govuk-link" rel="noreferrer noopener">Monthy</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-3" class="govuk-link" rel="noreferrer noopener">Annual</a></p> -->

</form>

{% endblock %}
