{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-5-view-evidence" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "agent-0-5/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Check and grade this document</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Claim submitted: <strong>1 October 2023</strong></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Document supplied date: <strong>1 October 2023</strong></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Age: <strong>6 months ago</strong></p>
<p class="govuk-!-font-size-19 govuk-!-margin-bottom-8"><a class="" href="pip-doc1.pdf" target="_blank">You can also view this document in a new tab or window</a></p>

<iframe src="pip-doc1.pdf" width="100%" height="1350px" style="border:0;"></iframe>

<br><br><br>

{% set scoreOverwite %}
    {{ govukInput({
      id: "evidence-1-name-overwrite",
      label: {
          text: "How would you better discribe this document?",
          classes: "govuk-fieldset__legend--m"
      },
      hint: {
        text: "Something about naming crimes"
      },
          name: "evidence-1-name-overwrite",
          classes: "govuk-input--width-20",
          value: data["evidence-1-name-overwrite"]
      }) }}

{% endset -%}



{{ govukRadios({
  idPrefix: "evidence-1-name",
  name: "evidence-1-name",
  fieldset: {
    legend: {
      text: "Do you need to change the name 'Document 1'? " ,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "The current document title might not make sense"
  },
  classes: "govuk-radios",
  items: [
  {
    value: "Yes",
    text: "Yes",
    checked: (data["evidence-1-name"] == "Yes"),
          conditional: {
            html: scoreOverwite
          }
  },
  {
    value: "No",
    text: "No",
    checked: (data["evidence-1-name"] == "No")
  }
  ]
}) }}



{{ govukRadios({
  idPrefix: "evidence-1-grade",
  name: "evidence-1-grade",
  fieldset: {
    legend: {
      text: "What grade is this document?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  classes: "govuk-radios",
  items: [
  {
    value: "Good",
    text: "Good",
    checked: (data["evidence-1-grade"] == "Good")
  },
  {
    value: "Bad",
    text: "Bad",
    checked: (data["evidence-1-grade"] == "Bad")
    }
  ]
}) }}

{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-8"
}) }}
        </div>
      </div>

  </form>

{% endblock %}
