<h3 class="govuk-heading-m govuk-!-margin-bottom-2">Justification from the original decision (12)</h3>

<p class="govuk-body govuk-!-margin-bottom-2">
  He is able to manage at a slow to normal pace to go from his door to get to his car using a walking stick. Around twice a week he travels to the local shop by car. Here, he is able to walk around the shop using his rollator, but he needs to stop to rest every few minutes.
</p>

  <p class="govuk-body govuk-!-margin-bottom-8">
  He is unable to walk for more than 50 metres without a break due to breathlessness, pain and fatigue.
</p>
