{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="award-dates-AP-rec-check" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-8/record-id-base.html" %}



        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">The assessment provider has selected 'other' review period</h1>

        <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Problem context: The service can not tell what has been written, it might be really clear... also might not</p> -->

        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Assessment report provider stated: <b>12th March 2027</b></p>


<!--
              <p class="govuk-body govuk-!-margin-bottom-2"><b>Data we know: Assessment provider recommendation</b></p>
              <p class="govuk-body govuk-!-margin-bottom-2">Data we know: On year from now</p>

              <p class="govuk-body govuk-!-margin-bottom-6">"I think it should be one year as I think they will get better"</p>
 -->

 <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Assessment report was completed on provider date: <b>12th March 2027</b></p> -->


        <p class="govuk-body govuk-!-margin-bottom-2"><b>Help to select the right date</b></p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>
            If no day, then assessment report completed day
          </li>
          <li>
            If no day and month, then assessment report completed day and month
          </li>
          <li>
            If no month, then assessment report completed month
          </li>
        </ul>

      {{ govukDateInput({
        id: "award-dates-applicaiton-start-date",
        namePrefix: "award-dates-applicaiton-start-date",
        fieldset: {
          legend: {
            html: "Enter date claim should be reviewed",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
          }
        },
        hint: {
          html: "Assessment report was completed on provider date: <b>12 3 2027</b>"
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            value: data["award-dates-applicaiton-start-date-day"]
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: data["award-dates-applicaiton-start-date-month"]
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: data["award-dates-applicaiton-start-date-year"]
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="application-exit-bail" rel="noopener">I need to come back to this application later</a></p> -->


        </div>
      </div>

  </form>

{% endblock %}
