{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="award-dates-AP-rec-check" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-8/record-id-base.html" %}



        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">The assessment provider has selected a non-numerical date for the award period</h1>

        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Given their recomendation, can you add the </p>

              <p class="govuk-body govuk-!-margin-bottom-2"><b>Assessment provider recommendation</b></p>
              <p class="govuk-body govuk-!-margin-bottom-2">Other field</p>

              <p class="govuk-body govuk-!-margin-bottom-4">Something about this date from the AP to help context of the date selection</p>




        <p class="govuk-body govuk-!-margin-bottom-2"><b>Contacting the APs for an exact date</b></p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <!-- <li>
            is 65 and will reach State Pension age on 20 February 2028
          </li> -->
          <li>
            XXX
          </li>
          <li>
            XXX
          </li>
        </ul>

      {{ govukDateInput({
        id: "award-dates-applicaiton-start-date",
        namePrefix: "award-dates-applicaiton-start-date",
        fieldset: {
          legend: {
            html: "Function: Enter the review data from the AP",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
          }
        },
        hint: {
          html: ""
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            value: data["award-dates-applicaiton-start-date-day"]
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: data["award-dates-applicaiton-start-date-month"]
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: data["award-dates-applicaiton-start-date-year"]
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="application-exit-bail" rel="noopener">I need to come back to this application later</a></p>


        </div>
      </div>

  </form>

{% endblock %}
