{{ dwpHeader({
  serviceHref: "/",
  name: "Internal service name",
  serviceUrl: "/",
  action: "Sign out",
  actionHref: "/",
  container: true
}) }}

<nav class="dwp-header-navigation-v3" aria-label="Primary">
  <ul>
    <li>
      <a href="#" class="current" aria-current="page">The Shire</a>
    </li>
    <li>
      <a href="#">Rivendell</a>
    </li>
    <li>
      <a href="#">Moria</a>
    </li>
    <li>
      <a href="#">Fangorn Forest</a>
    </li>
    <li>
      <a href="#">Silverlode and Anduin rivers</a>
    </li>
    <li>
      <a href="#">Isengard</a>
    </li>
    <li>
      <a href="#">Mordor</a>
    </li>
  </ul>
</nav>