{# <nav class="dwp-internal-service-navigation" aria-label="Primary">
  <ul role=“group”>
    <li>
       Inbox
       <ul role=“group”>
           <li><a href=“/personal” role=“menuitem”>Personal</a></li>
           <li><a href=“/work” role=“menuitem”>Work</a></li>
       </ul>
    </li>
    <li role=“menuitem”>Archive</li>
    <li role=“menuitem”>Trash</li>
  </ul>
  <ul role=“group”>
    <li role=“menuitem”>Custom Folder 1</li>
    <li role=“menuitem”>Custom Folder 2</li>
    <li role=“menuitem”>Custom Folder 3</li>
  </ul>
  <ul role=“group”>
    <li role=“menuitem”>New Folder</li>
  </ul>
</nav> #}



{{ dwpHeader({
  serviceHref: "/",
  name: "Internal service name",
  serviceUrl: "/",
  action: "Sign out",
  actionHref: "/",
  container: true
}) }}

<nav class="dwp-header-navigation-v3" aria-label="Primary">
  <ul>
    <li>
      <a href="#" class="current" aria-current="page">Active link </a>
    </li>

    <li>
      <a href="#">Inactive Link</a>
    </li>

    <li>
      <a href="#">Another Link</a>
    </li>
  </ul>

</nav>



