{% if data["application-about-a8-score-overwrite"] == "a1" %}
  Descriptor A: XXXX
{% elif data["application-about-a8-score-overwrite"] == "b2" %}
  Descriptor B: XXXX
{% elif data["application-about-a8-score-overwrite"] == "c3" %}
  Descriptor C: XXXX
{% elseif data["application-about-a8-score-overwrite"] == "d4" %}
  Descriptor D: XXXX
{% elseif data["application-about-a8-score-overwrite"] == "e5" %}
  Descriptor E: XXXX
{% elseif data["application-about-a8-score-overwrite"] == "f6" %}
  Descriptor F: XXXX
{% else %}
  Descriptor A: XXXX
{% endif %}
