{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-6-award-review-date" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-3/record-id.html" %}


      <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">Enter the start and end date for the award</h2>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You will need to concider the dates in hospital, prision etc if any appear within the applxaiton</p>



      {{ govukDateInput({
        id: "application-5-award-review-date-other",
        namePrefix: "application-5-award-review-date-other",
        fieldset: {
          legend: {
            html: "Enter the end date of the award",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
          }
        },
        hint: {
          html: "XXXX"
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            value: data["application-5-award-review-date-other-day"]
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: data["application-5-award-review-date-other-month"]
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: data["application-5-award-review-date-other-year"]
          }
        ]
      }) }}

<br>


      {{ govukDateInput({
        id: "application-5-award-review-date-other",
        namePrefix: "application-5-award-review-date-other",
        fieldset: {
          legend: {
            html: "Enter the end date of the award",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
          }
        },
        hint: {
          html: "XXX"
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            value: data["application-5-award-review-date-other-day"]
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: data["application-5-award-review-date-other-month"]
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: data["application-5-award-review-date-other-year"]
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
