{% if data["application-about-a2-score-overwrite"] == "a1" %}
  Descriptor A (0 points): Can take nutrition unaided
{% elif data["application-about-a2-score-overwrite"] == "b2" %}
  Descriptor B: XXXX
{% elif data["application-about-a2-score-overwrite"] == "c3" %}
  Descriptor C (2 points): Needs a therapeutic source to be able to take nutrition
{% elseif data["application-about-a2-score-overwrite"] == "d4" %}
  Descriptor D (4 points): Needs prompting to be able to take nutrition
{% elseif data["application-about-a2-score-overwrite"] == "e5" %}
  Descriptor E (6 points): Needs assistance to be able to manage a therapeutic source to take nutrition
{% elseif data["application-about-a2-score-overwrite"] == "f6" %}
  Descriptor F (10 points): Cannot convey food and drink to their mouth and needs another person to do so
{% else %}
  Descriptor A: XXXX
{% endif %}




Descriptor B (2 points): Needs:

i. to use an aid or appliance to be able to take nutrition; or

ii. supervision to be able to take nutrition; or

iii. assistance to be able to cut up food

Descriptor C (2 points): Needs a therapeutic source to be able to take nutrition

Descriptor D (4 points): Needs prompting to be able to take nutrition

Descriptor E (6 points): Needs assistance to be able to manage a therapeutic source to take nutrition

Descriptor F (10 points): Cannot convey food and drink to their mouth and needs another person to do so
