{% if data["application-about-a9-score-overwrite"] == "a1" %}
  0
{% elif data["application-about-a9-score-overwrite"] == "b2" %}
  2
{% elif data["application-about-a9-score-overwrite"] == "c3" %}
  2
{% elseif data["application-about-a9-score-overwrite"] == "d4" %}
  2
{% elseif data["application-about-a9-score-overwrite"] == "e5" %}
  4
{% elseif data["application-about-a9-score-overwrite"] == "f6" %}
  8
{% else %}
  0
{% endif %}




Descriptor A (0 points): Can engage with other people unaided

Descriptor B (2 points): Needs prompting to be able to engage with other people

Descriptor C (4 points): Needs social support to be able to engage with other people

Descriptor D (8 points): Cannot engage with other people due to such engagement causing either:

i. overwhelming psychological distress to the claimant; or

ii. the claimant to exhibit behaviour which would result in a substantial risk of harm to the claimant or another person
