{% if data["application-about-a7-score-overwrite"] == "a1" %}
  Descriptor A: XXXX
{% elif data["application-about-a7-score-overwrite"] == "b2" %}
  Descriptor B: XXXX
{% elif data["application-about-a7-score-overwrite"] == "c3" %}
  Descriptor C: XXXX
{% elseif data["application-about-a7-score-overwrite"] == "d4" %}
  Descriptor D: XXXX
{% elseif data["application-about-a7-score-overwrite"] == "e5" %}
  Descriptor E: XXXX
{% elseif data["application-about-a7-score-overwrite"] == "f6" %}
  Descriptor F: XXXX
{% else %}
  Descriptor A: XXXX
{% endif %}




Descriptor A (0 points): Can express and understand verbal information unaided

Descriptor B (2 points): Needs to use an aid or appliance to be able to speak or hear

Descriptor C (4 points): Needs communication support to be able to express or understand complex verbal information

Descriptor D (8 points): Needs communication support to be able to express or understand basic verbal information

Descriptor E (12 points): Cannot express or understand verbal information at all even with communication support
