{% if data["application-about-a9-score-overwrite"] == "a1" %}
  Descriptor A (0 points): Can engage with other people unaided

{% elif data["application-about-a9-score-overwrite"] == "b2" %}
  Descriptor B (2 points): Needs prompting to be able to engage with other people

{% elif data["application-about-a9-score-overwrite"] == "c3" %}
  Descriptor C (4 points): Needs social support to be able to engage with other people

{% elseif data["application-about-a9-score-overwrite"] == "d4" %}
  Descriptor D (8 points): Cannot engage with other people due to such engagement causing either:
  i. overwhelming psychological distress to the claimant; or
  ii. the claimant to exhibit behaviour which would result in a substantial risk of harm to the claimant or another person

{% else %}
  Blank

{% endif %}
