{% if data["application-about-a2-score-overwrite"] == "a1" %}
  0
{% elif data["application-about-a2-score-overwrite"] == "b2" %}
  2
{% elif data["application-about-a2-score-overwrite"] == "c3" %}
  2
{% elseif data["application-about-a2-score-overwrite"] == "d4" %}
  2
{% elseif data["application-about-a2-score-overwrite"] == "e5" %}
  4
{% elseif data["application-about-a2-score-overwrite"] == "f6" %}
  8
{% else %}
  0
{% endif %}




Descriptor A (0 points): Can take nutrition unaided

Descriptor B (2 points): Needs:

i. to use an aid or appliance to be able to take nutrition; or

ii. supervision to be able to take nutrition; or

iii. assistance to be able to cut up food

Descriptor C (2 points): Needs a therapeutic source to be able to take nutrition

Descriptor D (4 points): Needs prompting to be able to take nutrition

Descriptor E (6 points): Needs assistance to be able to manage a therapeutic source to take nutrition

Descriptor F (10 points): Cannot convey food and drink to their mouth and needs another person to do so
