{% if data["application-about-a3-score-overwrite"] == "a1" %}
  0
{% elif data["application-about-a3-score-overwrite"] == "b2" %}
  2
{% elif data["application-about-a3-score-overwrite"] == "c3" %}
  2
{% elseif data["application-about-a3-score-overwrite"] == "d4" %}
  2
{% elseif data["application-about-a3-score-overwrite"] == "e5" %}
  4
{% elseif data["application-about-a3-score-overwrite"] == "f6" %}
  8
{% else %}
  0
{% endif %}



Descriptor A (0 points): Either:

i. does not receive medication or therapy or need to monitor a health condition; or

ii. can manage medication or therapy or monitor a health condition unaided

Descriptor B (1 point): Needs any one or more of the following:

i. to use an aid or appliance to be able to managed medication;

ii. supervision, prompting or assistance to be able to manage medication

iii. supervision, prompting or assistance to be able to monitor a health condition

Descriptor C (2 points): Needs supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week

Descriptor D (4 points): Needs supervision, prompting or assistance to be able to manage therapy that takes more than 3.5 but no more than 7 hours a week

Descriptor E (6 points): Needs supervision, prompting or assistance to be able to manage therapy that takes more than 7 but no more than 14 hours a week

Descriptor F (8 points): Needs supervision, prompting or assistance to be able to manage therapy that takes more than 14 hours a week
