{% extends "layout.html" %}

{% block pageTitle %}
PIP / Index
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="govuk-caption-m">December 2022 — </span>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">Agent service design development</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2"><strong>Current status: Alpha</strong></p>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Iterations and additions listed under each versions, <br> aligns with each round of usability testing</p>

          <p class="govuk-body-m govuk-!-margin-bottom-2"><a class="" href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133088477484/Design+development">Design development</a>
          ,
          <a class="" href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133109481798/Process+maps">Process map archive</a>
          <br> and
          <a class=""  href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133463638155/Design+planning+and+feature+log+for+PIP+internal">Feature log / Planning board</a></p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6 govuk-!-margin-bottom-2"><b>Prototype usecase</b></p>

          <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-1">
            Processing agents
          </strong>

          <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-1">
            Team lead
          </strong>

          <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-1">
            Service teams
          </strong>

          <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-1">
            Service teams
          </strong>

          <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-1">
            Operations
          </strong>


        </div>
      </div> <!--GRID ROW END-->
      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">AD.0.1</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Another decision</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/another-decision-0-0-1/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">About</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Added: XXX</li>
              <li>	Added: XXX</li>
              <li>	Update: XXX </li>
              <li>	Update: XXX </li>
              <li>	Update: XXX </li>



            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/agent-day-0-1-8/accessibility-ab">Accessibility ABC testing (Radios)</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--untested" id="company-information-completed"">Untested</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">LD.1.8</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Live development</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-day-0-1-8/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">About</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Added: Task list (Prep for AP)</li>
              <li>	Added: Task list (Prep for decision)</li>
              <li>	Update: XXX </li>
              <li>	Update: XXX </li>
              <li>	Update: XXX </li>



            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/agent-day-0-1-8/accessibility-ab">Accessibility ABC testing (Radios)</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--untested" id="company-information-completed"">Untested</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">LD.1.7</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Live development</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-day-0-1-7/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">About</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Added: QPPT	</li>
              <li>	Added: XXX	</li>
              <li>	Update: XXX </li>
              <li>	Update: XXX </li>
              <li>	Update: XXX </li>



            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/agent-day-0-1-6/entry-home">[0.1.6]QPPT usability testing (Hard coded outcome)</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--untested" id="company-information-completed"">Untested</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">L.1.5</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2"><b>Live (Sept 2024)<b></p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-day-0-1-5/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Final day one version of the service. "A line in the sand"</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Added: 'Prepare an applicaiton for AP' Linear (PL)	</li>
              <li>	Added: 'Prepare an applicaiton for AP' TaskList (Grouped) </li>
              <li>	Added: 'Prepare an applicaiton for AP' TaskList (Singular) </li>
              <li>	Added: 'Prepare an applicaiton for decision' 'Linear'	</li>
              <li>	Added: Payment details change and relationship with MyOpenTasks	</li>
              <li>	Added: Failed to Comply	</li>
              <li>	Added: Failed to attend	</li>
              <li>	Update: Documents used when processing for letters</li>
              <li>	Update: VCC payments hidden</li>
              <li>	Update: outcome for 'Prepare for AP' checks routes to Pelican </li>
              <li>	Update: outcome for 'Prepare for AP' checks routes to Pelican </li>



            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="agent-day-0-1-5a/entry-home"> Letter testing 0-1-5a</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--tested" id="company-information-completed"">4 June 2024</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">F.0.13</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Future Vision</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-13/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Introduction of oubound calls</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Added: Send claim back to BAU</li>
              <li>	Added: View all Applications and Claims</li>
              <li>	Added: Add new event to event history</li>
              <li>	Added: Record foundations</li>

              <li>	Removed: XXX</li>
              <li>	Changes: XXX</li>

            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/agent-0-13/record-foundation-overview">Record foundations</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--due" id="company-information-completed">Testing due</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">L.0.5</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Prep for live (UR only)</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-day-0-1-4/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">For Wales UR only, fixed scenarios</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Data from HAS rendered on page	</li>
              <li>	Added: Links to supporting Docs	</li>
              <li>	Added: Links to CaseManagerReview for PIP1 and PIP2 data </li>
              <li>	XXX	</li>
              <li>	XXX	</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--tested" id="company-information-completed"">4 June 2024</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">L.0.3</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Prep for live</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-day-0-1-3/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">XXX</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Data from HAS rendered on page	</li>
              <li>	XXX	</li>
              <li>	XXX</li>
              <li>	XXX	</li>
              <li>	XXX	</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--untested" id="company-information-completed">Untested</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">F.0.12</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Future Vision</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-12/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Introduction of oubound calls</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Added: Assurance checks and Monoliths</li>
              <li>	Added: Monolith x3 single journey process</li>

              <li>	Added: Fixed scanrios for outbound calls</li>
              <li>	Added: VCC payments</li>
              <li>	Added: Make calls from service</li>
              <li>	Added: Entering and exiting a record with notes from call</li>
              <li>	Removed: XXX</li>
              <li>	Changes: XXX</li>

            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--due" id="company-information-completed">Testing due</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">F.0.11</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Future Vision</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-11/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Northern Ireland (R2)</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Added: XXX</li>
              <li>	Removed: XXX</li>
              <li>	Changes: XXX</li>

            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--tested" id="company-information-completed"">11 April 2024</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">F.0.10</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Future Vision</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-10/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">[Details in here]</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Added: Recommendation pre-view page prior to grouping check	</li>
              <li>	Added: Grouping action for similar justifications	</li>
              <li>	Added: Final letter review	</li>
              <li>	Removed: Numbers from Letter for activities as the may be re arranged for outcome letter	</li>
              <li>	Added: Open link in New window for Documentations including HIG and AP Report	</li>
              <li>	Added: HIG as a standalone document	</li>
              <li>	Changed: Update to AP report	</li>
              <li>	Changes: Content changes	</li>

            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--tested" id="company-information-completed"">11 March 2024</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">F.0.9</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Future Vision</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-9/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">One off version of the service to test a understanding of joint justifications. This was one off test with agent. We have pushed this to the future to focus the lowest denominator</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Added: Change to how recommendations are grouped, relationship with shared recommendations and individuals ones	</li>
              <li>	Added: Score and Letter for Task list	</li>
              <li>	Update: Task list order, Documents at top	</li>
              <li>	Removed: Hidden some documents for UR speed	</li>

            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--tested" id="company-information-completed"">19 Feb 2024</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">L.0.2</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Prep for live</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-day-0-1-2/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">XXX</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	XXX	</li>
              <li>	XXX	</li>
              <li>	XXX</li>
              <li>	XXX	</li>
              <li>	XXX	</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--due" id="company-information-completed">April 2024</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>




      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">L.0.1</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Prep for live</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-day-0-1/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Day one version of the service (Stripped back)</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Only showing: Overview	</li>
              <li>	Only showing: Activity score and discriptor entry	</li>
              <li>	Only showing: Outcome CTA	</li>
              <li>	Only showing: Enter three dates (Start date, end date and review date)	</li>
              <li>	Only showing: Letter data overview	</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--due" id="company-information-completed">Feb 2024</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">F.0.8</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Future Vision</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-8/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">[Details in here]</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Added: Nil award scenario	</li>
              <li>	Added: Was document seen (reviewed) by and AP	</li>
              <li>	Update: Content change for Return to Supplied information	</li>
              <li>	Update: How letters are created, stock phrase testing	</li>
              <li>	Update: Added remove document to Supplied documentation	</li>
              <li>	Added: Assessment Transcript to Supplied documents (HAS)	</li>
              <li>	Added: Medication to Supplied documents (HAS)	</li>
              <li>	Added: Work history to Supplied documents (HAS)	</li>
              <li>	Added: Back/cancel button on descriptor score page	</li>
              <li>	Added: Help with descriptors to all activities	</li>
              <li>	Change: to none award period for nil awards	</li>
              <li>	Change: The assessment report (selected > recommends)	</li>
              <li>	Change: Canned phrases (Copy and paste button)	</li>
              <li>	Removed: Not claimed from Task list	</li>
              <li>	Added: A/B testing with and without 'Not claimed row'	</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--tested" id="company-information-completed"">12 Feb 2024</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">F.0.7</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Future Vision</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-7/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Northern Ireland</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
              <li>Added: Driving licence with McLoven (Ability to flag documents to be removed)</li>
              <li>Added: Overwrite HAS content for letters</li>
              <li>Added: Ability to flag documents to be removed or duplicate</li>

              <li>Changed: Clarity of where overwritten recommendations will appear (In letter)</li>
              <li>Changed: More content from letter pulled through from process</li>
              <li>Changed: Unique content changes for NI</li>
              <li>Changed: Update to award period time windows (Radios)</li>
              <li>Changed: Benefits in payment became overlapping benefits</li>
              <li>Changed: Open tasks table content, status not needed as implicit of appearance</li>

              <li>Removed: Add anything to the standard letter as the process took care of the letter</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--due" id="company-information-completed">11 Dec - </strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <h1 class="govuk-heading-m govuk-!-margin-bottom-1">F.0.6</h1>
                <p class="govuk-body-m govuk-!-margin-bottom-2">Future Vision</p>
              </div>
            <!-------->
              <div class="govuk-grid-column-one-half">
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-6/entry-home">Start prototype</a></p>

                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                  Version notes and shortcuts
                  </span>
                </summary>

                <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Focus on processing</p>

                <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: Scan of envelope in supporting docs</li>
                    <li>Added: Scores – radio buttons of descriptors</li>
                    <li>Added: Award type: New claim or Award review</li>
                    <li>Added: Origin of PIP2 header</li>
                    <li>Added: Award review period process – do you agree? What review period do you want to give? Why did you change?</li>
                    <li>Added: Letter content from descriptor change</li>
                    <li>Added: Outbound – remove ‘Do you want to open a case’ page</li>
                    <li>Added: Filter for event history</li>
                    <li>Added: Change bank to benefits in payment</li>
                    <li>Changed: Supporting documents – did it support the outcome content</li>
                    <li>Changed: Supporting documents – evidence and grade document</li>
                    <li>Removed: Outbound – remove ‘Do you want to open a case’ page</li>
                    <li>Removed: XXX</li>
                  </ul>

                  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                  <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                  <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
                  <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

                </div>
            <!-------->
              <div class="govuk-grid-column-one-quarter">
                <strong class="govuk-tag govuk-tag--tested" id="company-information-completed"">29/11 - 15/12 2023</strong>
              </div>
            </div>

            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

                      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


                          <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">
                              <h1 class="govuk-heading-m govuk-!-margin-bottom-1">F.0.5.1</h1>
                              <p class="govuk-body-m govuk-!-margin-bottom-2">Future Vision</p>
                            </div>
                          <!-------->
                            <div class="govuk-grid-column-one-half">
                              <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-5-1/entry-home">Start prototype</a></p>

                              <details class="govuk-details">
                                <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                Version notes and shortcuts
                                </span>
                              </summary>

                              <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

                              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Accessablity testing,  simplified for none PIP agents</p>

                              <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                                  <li>Added: Who is calling</li>
                                  <li>Added: landline telephone change</li>
                                  <li>Changed: XXX</li>
                                  <li>Changed: Multi notification test</li>
                                  <li>Removed: XXX</li>
                                </ul>

                                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                                <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
                                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

                              </div>
                          <!-------->
                            <div class="govuk-grid-column-one-quarter">
                              <strong class="govuk-tag govuk-tag--tested" id="company-information-completed"">27/11 - 20/12 2023</strong>
                            </div>
                          </div>

                <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-quarter">
                    <h1 class="govuk-heading-m govuk-!-margin-bottom-1">F.0.5</h1>
                    <p class="govuk-body-m govuk-!-margin-bottom-2">Future Vision</p>
                  </div>
                <!-------->
                  <div class="govuk-grid-column-one-half">
                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-5/entry-home">Start prototype</a></p>

                    <details class="govuk-details">
                      <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                      Version notes and shortcuts
                      </span>
                    </summary>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

                    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Accessablity testing with PIP agents</p>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>Added: Who is calling</li>
                        <li>Added: landline telephone change</li>
                        <li>Changed: XXX</li>
                        <li>Changed: Multi notification test</li>
                        <li>Removed: XXX</li>
                      </ul>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                      <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

                    </div>
                <!-------->
                  <div class="govuk-grid-column-one-quarter">
                    <strong class="govuk-tag govuk-tag--tested" id="company-information-completed"">27/11 - 20/12 2023</strong>
                  </div>
                </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-quarter">
                    <h1 class="govuk-heading-m govuk-!-margin-bottom-1">F.0.4</h1>
                    <p class="govuk-body-m govuk-!-margin-bottom-2">Future Vision</p>
                  </div>
                <!-------->
                  <div class="govuk-grid-column-one-half">
                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-4/entry-home">Start prototype</a></p>

                    <details class="govuk-details">
                      <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                      Version notes and shortcuts
                      </span>
                    </summary>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

                    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Show and tell edition</p>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>Added: Who is calling</li>
                        <li>Added: landline telephone change</li>
                        <li>Changed: (Show and tell edition) Who is calling</li>
                        <li>Changed: Multi notification test</li>
                        <li>Removed: XXX</li>
                      </ul>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                      <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

                    </div>
                <!-------->
                  <div class="govuk-grid-column-one-quarter">
                    <strong class="govuk-tag govuk-tag--untested" id="company-information-completed">Show & Tell</strong>
                  </div>
                </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-quarter">
                    <h1 class="govuk-heading-m govuk-!-margin-bottom-1">F.0.3</h1>
                    <p class="govuk-body-m govuk-!-margin-bottom-2">Future Vision</p>
                  </div>
                <!-------->
                  <div class="govuk-grid-column-one-half">
                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-3/entry-home">Start prototype</a></p>

                    <details class="govuk-details">
                      <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                      Version notes and shortcuts
                      </span>
                    </summary>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

                    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">[Details in here]</p>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>Added: New journey for care plan</li>
                        <li>Added: Text field for why scores where changed</li>
                        <li>Added: Score change reason</li>
                        <li>Updated: Overview to add assment dates and any flags</li>
                        <li>Updated: Security questions</li>
                        <li>Changed: Check name in pre checks</li>
                        <li>Updated: Timeline to reflect CarePlan request</li>
                        <li>Added: Letter update</li>
                        <li>Changed: Pre decision checks changed</li>
                        <li>Added: XXX</li>
                        <li>Removed: XXX</li>
                      </ul>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                      <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

                    </div>
                <!-------->
                  <div class="govuk-grid-column-one-quarter">
                    <strong class="govuk-tag govuk-tag--tested" id="company-information-completed">Tested: 19-24 Oct 23</strong>
                  </div>
                </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-quarter">
                    <h1 class="govuk-heading-m govuk-!-margin-bottom-1">F.0.2</h1>
                    <p class="govuk-body-m govuk-!-margin-bottom-2">Future Vision</p>
                  </div>
                <!-------->
                  <div class="govuk-grid-column-one-half">
                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-2/entry-home">Start prototype</a></p>

                    <details class="govuk-details">
                      <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                      Version notes and shortcuts
                      </span>
                    </summary>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

                    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">[Details in here]</p>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>Added: New journeys for LPA</li>
                        <li>Added: Score change</li>
                        <li>Changed: Small content changes</li>
                        <li>Changed: XX</li>
                        <li>Changed: XXX</li>
                        <li>Removed: XXX</li>
                      </ul>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                      <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

                    </div>
                <!-------->
                  <div class="govuk-grid-column-one-quarter">
                    <strong class="govuk-tag govuk-tag--tested" id="company-information-completed">Tested 9-13 Oct 23</strong>
                  </div>
                </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <h1 class="govuk-heading-m govuk-!-margin-bottom-1">F.0.1</h1>
              <p class="govuk-body-m govuk-!-margin-bottom-2">Future Vision</p>
            </div>
          <!-------->
            <div class="govuk-grid-column-one-half">
              <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-1/entry-home">Start prototype</a></p>

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                Version notes and shortcuts
                </span>
              </summary>

              <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Demo version as a shown as part of show and tell. Ground work to HomePage and Navigation, global and local. Showcase of <a class="" href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133358388235/Initial+design+principles">Design principles</a></p>

              <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: Design principles demos</li>
                </ul>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/agent-0-1-1/entry-home.html"> <strong>[HSG-1956]</strong> — Build version of Prototype Header (Nav), body and footer only</a></p>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

              </div>
          <!-------->
            <div class="govuk-grid-column-one-quarter">
              <strong class="govuk-tag govuk-tag--untested" id="company-information-completed">Untested</strong>
            </div>
          </div>

  <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>



  </main>
  </div>


{% endblock %}
