{% extends "layout.html" %}

{% block pageTitle %}
PIP / Index
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="govuk-caption-m">December 2022 — </span>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">Agent service design development</h1>
          <p class="govuk-body-l govuk-!-margin-bottom-2"><strong>Current status: Alpha</strong> <br>Iterations, changes and updates listed between versions or testing.</p>
          <p class="govuk-body-l govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24 " href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133088477484/Design+development">Design development</a>
          and
          <a class="govuk-body govuk-!-font-size-24" href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133109481798/Process+maps">process map archive</a></p>

        </div>
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">0.7</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">PIP Internal</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-7/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">[Details in here]</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
              <li>Added: XXX</li>
              <li>Changed: XXX</li>
              <li>Removed: XXX</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--due" id="company-information-completed">Tested due: 11 Dec</strong>
        </div>
      </div>


            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <h1 class="govuk-heading-m govuk-!-margin-bottom-1">0.6</h1>
                <p class="govuk-body-m govuk-!-margin-bottom-2">PIP Internal</p>
              </div>
            <!-------->
              <div class="govuk-grid-column-one-half">
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-6/entry-home">Start prototype</a></p>

                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                  Version notes and shortcuts
                  </span>
                </summary>

                <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">[Details in here]</p>

                <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: Scan of envelope in supporting docs</li>
                    <li>Added: Scores – radio buttons of descriptors</li>
                    <li>Added: Award type: New claim or Award review</li>
                    <li>Added: Origin of PIP2 header</li>
                    <li>Added: Award review period process – do you agree? What review period do you want to give? Why did you change?</li>
                    <li>Added: Letter content from descriptor change</li>
                    <li>Added: Outbound – remove ‘Do you want to open a case’ page</li>
                    <li>Added: Filter for event history</li>
                    <li>Added: Change bank to benefits in payment</li>
                    <li>Changed: Supporting documents – did it support the outcome content</li>
                    <li>Changed: Supporting documents – evidence and grade document</li>
                    <li>Removed: Outbound – remove ‘Do you want to open a case’ page</li>
                    <li>Removed: XXX</li>
                  </ul>

                  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                  <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                  <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
                  <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

                </div>
            <!-------->
              <div class="govuk-grid-column-one-quarter">
                <strong class="govuk-tag govuk-tag--due" id="company-information-completed">Tested due: 29 Nov</strong>
              </div>
            </div>

            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

                      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


                          <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">
                              <h1 class="govuk-heading-m govuk-!-margin-bottom-1">0.5.1</h1>
                              <p class="govuk-body-m govuk-!-margin-bottom-2">PIP Internal</p>
                            </div>
                          <!-------->
                            <div class="govuk-grid-column-one-half">
                              <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-5-1/entry-home">Start prototype</a></p>

                              <details class="govuk-details">
                                <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                Version notes and shortcuts
                                </span>
                              </summary>

                              <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

                              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Accessablity testing,  simplified for none PIP agents</p>

                              <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                                  <li>Added: Who is calling</li>
                                  <li>Added: landline telephone change</li>
                                  <li>Changed: XXX</li>
                                  <li>Changed: Multi notification test</li>
                                  <li>Removed: XXX</li>
                                </ul>

                                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                                <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
                                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

                              </div>
                          <!-------->
                            <div class="govuk-grid-column-one-quarter">
                              <strong class="govuk-tag govuk-tag--due" id="company-information-completed">Due: 27 NOV 2023</strong>
                            </div>
                          </div>

                <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-quarter">
                    <h1 class="govuk-heading-m govuk-!-margin-bottom-1">0.5</h1>
                    <p class="govuk-body-m govuk-!-margin-bottom-2">PIP Internal</p>
                  </div>
                <!-------->
                  <div class="govuk-grid-column-one-half">
                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-5/entry-home">Start prototype</a></p>

                    <details class="govuk-details">
                      <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                      Version notes and shortcuts
                      </span>
                    </summary>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

                    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Accessablity testing,  XXX</p>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>Added: Who is calling</li>
                        <li>Added: landline telephone change</li>
                        <li>Changed: XXX</li>
                        <li>Changed: Multi notification test</li>
                        <li>Removed: XXX</li>
                      </ul>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                      <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

                    </div>
                <!-------->
                  <div class="govuk-grid-column-one-quarter">
                    <strong class="govuk-tag govuk-tag--tested" id="company-information-completed">Tested 13 - 17 Nov 23</strong>
                  </div>
                </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-quarter">
                    <h1 class="govuk-heading-m govuk-!-margin-bottom-1">0.4</h1>
                    <p class="govuk-body-m govuk-!-margin-bottom-2">PIP Internal</p>
                  </div>
                <!-------->
                  <div class="govuk-grid-column-one-half">
                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-4/entry-home">Start prototype</a></p>

                    <details class="govuk-details">
                      <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                      Version notes and shortcuts
                      </span>
                    </summary>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

                    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Show and tell edition</p>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>Added: Who is calling</li>
                        <li>Added: landline telephone change</li>
                        <li>Changed: (Show and tell edition) Who is calling</li>
                        <li>Changed: Multi notification test</li>
                        <li>Removed: XXX</li>
                      </ul>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                      <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

                    </div>
                <!-------->
                  <div class="govuk-grid-column-one-quarter">
                    <strong class="govuk-tag govuk-tag--untested" id="company-information-completed">Show & Tell</strong>
                  </div>
                </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-quarter">
                    <h1 class="govuk-heading-m govuk-!-margin-bottom-1">0.3</h1>
                    <p class="govuk-body-m govuk-!-margin-bottom-2">PIP Internal</p>
                  </div>
                <!-------->
                  <div class="govuk-grid-column-one-half">
                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-3/entry-home">Start prototype</a></p>

                    <details class="govuk-details">
                      <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                      Version notes and shortcuts
                      </span>
                    </summary>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

                    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">[Details in here]</p>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>Added: New journey for care plan</li>
                        <li>Added: Text field for why scores where changed</li>
                        <li>Added: Score change reason</li>
                        <li>Updated: Overview to add assment dates and any flags</li>
                        <li>Updated: Security questions</li>
                        <li>Changed: Check name in pre checks</li>
                        <li>Updated: Timeline to reflect CarePlan request</li>
                        <li>Added: Letter update</li>
                        <li>Changed: Pre decision checks changed</li>
                        <li>Added: XXX</li>
                        <li>Removed: XXX</li>
                      </ul>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                      <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

                    </div>
                <!-------->
                  <div class="govuk-grid-column-one-quarter">
                    <strong class="govuk-tag govuk-tag--tested" id="company-information-completed">Tested: 19-24 Oct 23</strong>
                  </div>
                </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-quarter">
                    <h1 class="govuk-heading-m govuk-!-margin-bottom-1">0.2</h1>
                    <p class="govuk-body-m govuk-!-margin-bottom-2">PIP Internal</p>
                  </div>
                <!-------->
                  <div class="govuk-grid-column-one-half">
                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-2/entry-home">Start prototype</a></p>

                    <details class="govuk-details">
                      <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                      Version notes and shortcuts
                      </span>
                    </summary>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

                    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">[Details in here]</p>

                    <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>Added: New journeys for LPA</li>
                        <li>Added: Score change</li>
                        <li>Changed: Small content changes</li>
                        <li>Changed: XX</li>
                        <li>Changed: XXX</li>
                        <li>Removed: XXX</li>
                      </ul>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                      <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
                      <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

                    </div>
                <!-------->
                  <div class="govuk-grid-column-one-quarter">
                    <strong class="govuk-tag govuk-tag--tested" id="company-information-completed">Tested 9-13 Oct 23</strong>
                  </div>
                </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <h1 class="govuk-heading-m govuk-!-margin-bottom-1">0.1</h1>
              <p class="govuk-body-m govuk-!-margin-bottom-2">PIP Internal</p>
            </div>
          <!-------->
            <div class="govuk-grid-column-one-half">
              <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-0-1/entry-home">Start prototype</a></p>

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                Version notes and shortcuts
                </span>
              </summary>

              <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Demo version as a shown as part of show and tell. Ground work to HomePage and Navigation, global and local. Showcase of <a class="" href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133358388235/Initial+design+principles">Design principles</a></p>

              <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: Design principles demos</li>
                </ul>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/agent-0-1-1/entry-home.html"> <strong>[HSG-1956]</strong> — Build version of Prototype Header (Nav), body and footer only</a></p>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

              </div>
          <!-------->
            <div class="govuk-grid-column-one-quarter">
              <strong class="govuk-tag govuk-tag--untested" id="company-information-completed">Untested</strong>
            </div>
          </div>

  <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>



  </main>
  </div>


{% endblock %}
