{% extends "layout.html" %}

{% block content %}

{{ govukTable({
  caption: "Previous versions (ordered by sprint)",
  captionClasses: "govuk-heading-m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Version"
    },
    {
      text: "Date added"
    },
    {
      text: "Description"
    },
    {
      text: "Link"
    }
  ],
  rows: [
  [
  {
    text: "1"
  },
  {
    text: "26 May 2021"
  },
  {
    text: "Created a new prototype to house journeys related to PIP case review.
            These journeys include creating queries, setting an action, viewing evidence, dealing with queries
            and setting a descriptor.
            These concepts will be used for user testing in Sprint 26 and iterated upon."
  },
  {
    html: '<a href="/sprint-24-25/index">Go to sprint 24/25</a>'
  }
    ],
    [
    {
      text: "2"
    },
    {
      text: "24 June 2021"
    },
    {
      text: "Carried out 'Round 2' user testing of the new concepts within the prototype, mainly being
            creating queries for evidence, conditons and  activities. Tagging of evidence. Scoring and deciding the
            'next step'. Insights for these sessions are pending."
    },
    {
      html: '<a href="/sprint-26/index">Go to sprint 26</a>'
    }
      ],
      [
      {
        text: "3"
      },
      {
        text: "07 July 2021"
      },
      {
        text: "Added the vulnerability marker as an experimental additon but was not tested. This sprint saw minimal
                updates to the prototype becasue we went through a reflection sprint to go over the aftermath of our
                  'Round 2' experiments. The vulnerbility markers were the only updates made this sprint."
      },
      {
        html: '<a href="/sprint-27/index">Go to sprint 27</a>'
      }
        ],
        [
        {
          text: "4"
        },
        {
          text: "21 July 2021"
        },
        {
          text: "Added the 'summary' page along with scoring pages. The intention is make these dynamic so that
                  these concepts can be tested as part of 'Round 3' of user testing with case managers.
                  The work continues into Sprint 29."
        },
        {
          html: '<a href="/sprint-28/index">Go to sprint 28</a>'
        }
          ],
          [
          {
            text: "5"
          },
          {
            text: "04 August 2021"
          },
          {
            text: "'Round 3' was conducted during this sprint. This took place with  case managers from tresco
                    house and SAM users. The main focus was to test the 'summary' along with scoring functionalites to
                    again test concepts. This work will be iterated upon during sprint 30."
          },
          {
            html: '<a href="/sprint-29/index">Go to sprint 29</a>'
          }
          ],
          [
          {
            text: "6"
          },
          {
            text: "18 August 2021"
          },
          {
            text: "'Round 4-6' Adding Open Questions and all questions resolved tags to task list page. Worked on Questions and UX offline in Miro Board"
          },
          {
            html: '<a href="/sprint-30-35/index">Sprint 30-35 </a> <br><a href="https://miro.com/app/board/o9J_lF4VW80=/" target="_blank">View Miro </a> '
          }
          ]
          ,
          [
          {
            text: "7"
          },
          {
            text: "22 November 2021"
          },
          {
            text: "Adding left hand navigation and creating a secondary navigation to enable case manager to navigate the case"
          },
          {
            html: '<a href="/newnav/contact-details">View navigation</a>'
          }
          ],
          [
          {
            text: "8"
          },
          {
            text: "05 January 2022"
          },
          {
            text: "This sprint the main change was introducing a tabbed layout for the claimants details.
                    This 'future' iteration and not for MVP with notes and out of scope questions."
          },
          {
            html: '<a href="/sprint-39/contact-details">Go to sprint 39</a>'
          }
          ],
          [
          {
            text: "9"
          },
          {
            text: "02 Febuary 2022"
          },
          {
            text: "Updated the name and content of Contact us tab  to Personal details. Removed Important about this case and out of scope from all activities, conditions and notes"
          },
          {
            html: '<a href="/sprint-41/minimum-viable-product/contact-details">Go to sprint 41</a>'
          }
          ]
  ]
}) }}

{% endblock %}
