{% extends "layout-apply.html" %}

{% block pageTitle %}
  Send link to PIP invited digital

{% endblock %}


{% block content %}
{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <form action="descriptors-outcome" method="post" class="form">


    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">What happens when nothing is found?</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Something</p>



      {{ govukButton({
        text: "Search again",
        classes: "govuk-!-margin-bottom-8"
      }) }}

    </div>
  </div>

  </form>

{% endblock %}
