{% extends "layout-apply.html" %}

{% block pageTitle %}
  Process a PIP application

{% endblock %}


{% block content %}


<form action="submission-destination" method="post" class="form">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half govuk-!-padding-bottom-4">
        <a href="#" class="govuk-back-link">Yn ôl</a>
      </div>

      <div class="govuk-grid-column-one-half">

        <nav class="dwp-language-toggle" aria-label="Language toggle">
        <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">

          <a href="example-page"
            hreflang="cy"
            lang="cy"
            rel="alternate"
            class="govuk-link"
            aria-label="Newid yr iaith ir Gymraeg">English</a>
        </li>
        <li class="dwp-language-toggle__list-item" aria-current="true">
          Cymraeg
        </li>
        </ul>
        </nav>


      </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Paratoi bwyd</h1>

      <p class="govuk-body govuk-!-font-size-19">
        Mae hyn yn golygu gwneud pryd syml, un cwrs ar gyfer un.</p>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Mae hyn yn cynnwys:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            plicio a thorri cynhwysion
          </li>
          <li>
            agor tuniau
          </li>
          <li>
            coginio neu gynhesu bwyd ar hob safonol neu ddefnyddio microdon
          </li>
        </ul>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Ystyriwch a allwch chi baratoi bwyd yn ddiogel a heb oruchwyliaeth.</p>

      {{ govukRadios({
        idPrefix: "example-page",
        name: "example-page",
        fieldset: {
          legend: {
            html: "A yw eich cyflwr yn effeithio arnoch wrth baratoi bwyd, neu'n eich atal rhag gwneud hynny?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: legendHint
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Yes",
          html: "Ydy",
          checked: (data["example-page"] == "Yes")
        },
        {
          value: "No",
          html: "Na",
          checked: (data["example-page"] == "No")
        }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Arbed a pharhau"
        }) }}

        <a class="govuk-link" href="#">Dychwelyd i'r rhestr</a>
      </div>

    </div>
  </div>

  </form>

{% endblock %}
