{% extends "layout-apply.html" %}

{% block pageTitle %}
  Process a PIP application

{% endblock %}


{% block content %}


<form action="you-did-the-do" method="post" class="form">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {% include "includes/js-back-link.html" %}
      </div>

      <div class="govuk-grid-column-one-half">

        <nav class="dwp-language-toggle" aria-label="Language toggle">
        <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item" aria-current="true">
          English
        </li>
        <li class="dwp-language-toggle__list-item">
          <a href="example-page-welsh"
            hreflang="cy"
            lang="cy"
            rel="alternate"
            class="govuk-link"
            aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
        </li>
        </ul>
        </nav>


      </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Preparing food</h1>

      <p class="govuk-body govuk-!-font-size-19">
        This means making a simple, one course meal for one.</p>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">This includes: </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            to use an aid or appliance to be able to take nutrition; or
          </li>
          <li>
            supervision to be able to take nutrition; or
          </li>
          <li>
            assistance to be able to cut up food
          </li>
        </ul>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Do consider if you can prepare food safely and without being supervised.</p>

      {{ govukRadios({
        idPrefix: "example-page",
        name: "example-page",
        fieldset: {
          legend: {
            html: "Does your condition affect you preparing food, or prevent you from doing so?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: legendHint
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Yes",
          html: "Yes",
          checked: (data["example-page"] == "Yes")
        },
        {
          value: "No",
          html: "No",
          checked: (data["example-page"] == "No")
        }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        <a class="govuk-link" href="#">Return to list</a>
      </div>

    </div>
  </div>

  </form>

{% endblock %}
