{% extends "layout-apply.html" %}

{% block pageTitle %}
  Process a PIP application

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <form action="descriptors-outcome" method="post" class="form">


    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Find a claimant</h1>
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Something</p> -->

      <!------------H1 LEGEND------------>
        {% set legendNINO %}
        <h1 class="govuk-body govuk-!-margin-bottom-0">Enter a National Insurance number or email address</h1>
        {% endset %}
      <!------------Legend--------------->

      {{ govukInput({
        label: {
          html: legendNINO
        },
        hint: {
          text: ""
        },
        id: "nino",
        name: "",
        classes: "govuk-input--width-10 govuk-!-margin-bottom-0",
        value: data["nino"]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

    </div>
  </div>

  </form>

{% endblock %}
