{% extends "layout-apply.html" %}

{% block pageTitle %}
Send link to PIP invited digital

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <form action="service-overview" method="post" class="form">


    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Find an applicant</h1>
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Something</p> -->

      <!------------H1 LEGEND------------>
        {% set legendNINO %}
        <h1 class="govuk-body govuk-!-margin-bottom-0">Enter a National Insurance number or email address.</h1>
        {% endset %}
      <!------------Legend--------------->

      {{ govukInput({
        label: {
          html: legendNINO
        },
        hint: {
          text: ""
        },
        id: "nino",
        name: "",
        classes: "govuk-!-width-two-thirds govuk-!-margin-bottom-1",
        value: data["nino"]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

      <p class="govuk-body govuk-!-font-size-19"><a href="find-someone-null" class="govuk-link" rel="noreferrer noopener">No results found</a></p>


    </div>
  </div>

  </form>

{% endblock %}
