{% extends "layout.html" %}

{% block pageTitle %}
  In review
{% endblock %}

{% block main %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
    <nav aria-label="Menu" class="govuk-header__navigation">
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu">Menu</button>
      <ul id="navigation" class="govuk-header__navigation-list">
            <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="cases-for-triage">
                Cases for triage
                </a>
            </li>
            <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="ready-for-review">
                Ready for review
                </a>
            </li>
            <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
                <a class="govuk-header__link" href="assigned-for-review-case-manager">
                In review
                </a>
            </li>
            <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="review-completed">
                Review completed
                </a>
            </li>
            <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="search">
                Search
                </a>
            </li>
      </ul>
    </nav>
    </div>
  </div>
</header>
<br>
<br>

  <div class="govuk-width-container">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            The case {{ data['source'] }} has been reassigned to caseload {{ data['reassign-caseload'] }}
        </h3>
      </div>
    </div>

  <!--<a href="assigned-for-review-case-manager" class="govuk-back-link" id="back-link">Back to all cases</a>-->

  <div class="govuk-grid-column-full">
  <span class="govuk-caption-l">In review</span>
<h1 class="govuk-heading-l">Susan Smith's cases (4)</h1>

  <p class="govuk-body">Select a case to work on or reassign a case to someone else.</p>

<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Claimant name</th>
      <th scope="col" class="govuk-table__header">NINo</th>
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Claim date</th>
      <th scope="col" class="govuk-table__header">Reassign case</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="personal-details">Jane Doe</a></td>
      <td class="govuk-table__cell">QQ 12 34 56 C</td>
      <td class="govuk-table__cell">20 November 2021</td>
      <td class="govuk-table__cell"><a href="case-manager-reassign">Reassign</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#">John Smith</a></td>
      <td class="govuk-table__cell">QQ 12 34 56 C</td>
      <td class="govuk-table__cell">2 December 2021</td>
      <td class="govuk-table__cell"><a href="#">Reassign</a></td>
    </tr>

  </tbody>
</table>

    </div>
  </div>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      </dl>

{% endblock %}
