{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<form action="qppt-m-3m-check-router" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-6/record-id-base.html" %}



          {{ govukRadios({
            idPrefix: "qppt-m-3m-check",
            name: "qppt-m-3m-check",
            fieldset: {
              legend: {
                html: "Moto: Given the information supplied, can they be paid from their date of claim DD MM YYYY [Qualifying period]",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "The application date of claim is 5 months in the past"
            },
            classes: "govuk-radios",
            items: [
            {
              value: "Yes",
              text: "Yes",
              checked: (data["qppt-m-3m-check"] == "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: (data["qppt-m-3m-check"] == "No")
            }
            ]
          }) }}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
