{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<form action="qppt-dl-3m-check-router" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-6/record-id-base.html" %}

      <!------------H1 HEADER------------>
        {% set dynamicH1 %}
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Did the applicant have Daily Living restrictions 3 months before  {{ data['qppt-set-data-submission-date-day'] + ' ' + (data['qppt-set-data-submission-date-month'] | getMonth) + ' ' + data['qppt-set-data-submission-date-year']}}? (date of submission)</h1>

        {% endset %}
      <!------------Legend--------------->

<!------------H1 HINT------------>
  {% set dynamicHint %}
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-4 govuk-!-margin-bottom-2"><b>Assessment provider recomendaions:</b></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">The assesment provider has indicated that they had restrictions 3 months before {{ data['qppt-set-data-assessment-date-day'] + ' ' + (data['qppt-set-data-assessment-date-month'] | getMonth) + ' ' + data['qppt-set-data-assessment-date-year']}} (assessment date)</p>
  {% endset %}
<!------------Legend--------------->


          {{ govukRadios({
            idPrefix: "qppt-dl-3m-check",
            name: "qppt-dl-3m-check",
            fieldset: {
              legend: {
                html: dynamicH1,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              html: dynamicHint
            },
            classes: "govuk-radios",
            items: [
            {
              value: "Yes",
              text: "Yes",
              checked: (data["qppt-dl-3m-check"] == "Yes")
            },
            {
              value: "EffectiveDate",
              text: "No – An effective date needed",
              checked: (data["qppt-dl-3m-check"] == "EffectiveDate")
            },
            {
              value: "NoRestrictions",
              text: "No – There are no restrictions found",
              checked: (data["qppt-dl-3m-check"] == "NoRestrictions")
            },
            {
              value: "Pause",
              text: "I need to come back to this later",
              checked: (data["qppt-dl-3m-check"] == "Pause")
            }
            ]
          }) }}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
